[2018-01-12 13:29] MaartenDesnouck opened #1 "Functional clone of https://github.com/MaartenDesnouck/google-apps-script ?"
Seems kind of silly that you guys are making a functional clone of my tool...

[2018-01-12 14:22] mhawksey opened #2 "Add an option for login --no-localhost"
Interested in running this in Google Cloud Shell but currently `login` redirects to localhost. A `--no-localhost` option would be useful.

[2018-01-12 14:30] rielzzapps commented on #2
If you receive the URL, copy it.

In cloud shell just paste:

wget [url] to call the service and authenticate.

I agree, a --no-localhost would be nice.

Riël Notermans
Dinsdags vrij • Zzapps B.V. • High Tech Campus 9, 5656 AE Eindhoven
<https://www.google.nl/maps/place/Zzapps/@51.4099441,5.4510368,16z/data=!4m5!1m2!3m1!2sZzapps!3m1!1s0x0000000000000000:0x3ad8d7839ef5a5dd>
•
T 040 711 41 94 <+3140

[2018-01-12 18:20] whitecoop opened #3 "Install on mac fails"
I'm running MacOS 10.11.6.

I ran the install with `npm i @google/clasp -g`.  After the install `clasp -h` output `-bash: clasp: command not found`.

I then tried `sudo npm i @google/clasp -g` and got the same result.

I also restarted my terminal after both installs.

Looks like a path thing, but I haven't dug further. `node -v` gives `v5.4.0` and `npm -v` gives `v3.3.12`

[2018-01-12 18:23] whitecoop opened #4 "Install fails on Ubuntu 16.04"
After having an issue with the install on mac (#3), I gave my other machine a go.

I ran `npm i @google/clasp -g` per the installation instructions and got a `npm ERR! Error: EACCES: permission denied, access '/usr/lib/node_modules'` (full output below). I then ran ` sudo npm i @google/clasp -g` and got `npm ERR! Error: EACCES: permission denied, rename '/usr/lib/node_modules/.staging/resolve-384a

[2018-01-12 20:50] sqrrrl opened #5 "Don't overwrite appsscript.json on create"
Noticed that create does a fetch of the newly created project and overwrites any local files. In some cases that's undesirable (e.g. clone a project from git, create a new project before pushing code.) Would be helpful to skip the fetch if current directory looks like a valid project (e.g. appsscript.json present)

[2018-01-15 21:43] grant commented on #4
It looks like you don't have permission to the folder (`npm WARN checkPermissions Missing write access to /usr/lib/node_modules`)

Have you installed other npm modules before without error?

Please follow npm's guide:
https://docs.npmjs.com/getting-started/fixing-npm-permissions

If that doesn't work, maybe try giving permission to the folder:
`chmod 777 /usr/lib/node_modules`

[2018-01-15 22:00] grant commented on #2
This is a good idea. Let's think about what the design should be:

[code]

[gcloud's browserless solution: `gcloud auth login --no-launch-browser`](https://cloud.google.com/sdk/gcloud/reference/auth/login)

Is there a common name for browserless login flag (`-f` and/or `--flag`) we should use?

## Temporary workaround:
Copy `~/.clasprc.json` to your machine.

[2018-01-15 22:12] grant commented on #3
Can you see anything in `/usr/local/bin/clasp`?
Have you installed other global node modules successfully?

[2018-01-15 22:18] grant opened #7 "Add better default `clasp` message."
Currently, the command `clasp` with no arguments does not print anything.
We should print the output of `clasp -h` as the default command (`clasp`).

The last time I checked, the `isDefault` argument didn't work for [`npmjs.com/commander`](https://www.npmjs.com/package/commander). See if we can make it work now.

[2018-01-16 06:44] mhawksey commented on #2
The command/flag for the Firebase CLI is `login --no-localhost` As this is also Google Auth flow you might be able to reuse some of the code from their implementation https://github.com/firebase/firebase-tools

[2018-01-16 12:15] hanguokai opened #8 "Support proxy network"
To use proxy network, like http(s) or socks5, I use `http_proxy` and `https_proxy` environment variable that are supported by many tools. Currently, clasp can't work in proxy environment, for example `clasp login` and `clasp clone`.

[2018-01-16 18:18] whitecoop commented on #4
I had, but sometimes they needed `sudo` to complete.

I followed the guide (I did the [install nvm option](https://docs.npmjs.com/getting-started/fixing-npm-permissions#option-one-reinstall-with-a-node-version-manager)) and that cleared it up. Clasp installed successfully. 👍

[2018-01-16 18:18] #4 closed

[2018-01-16 18:23] grant opened #9 "Create ISSUE_TEMPLATE.md"
Add an ISSUE_TEMPLATE.md like other google repos.

[2018-01-16 18:27] grant commented on #8
I'm not sure what this would change would entail.
Can you be more specific about repro steps, some links, and a more detailed proposal on what commands this would be needed for?

It looks like this request would want to add something like:
`--proxy "socks5://127.0.0.1/"`
to every command.

Similar issue: https://github.com/rg3/youtube-dl/issues/402#issuecomment-213744197

[2018-01-16 18:57] grant commented on #1
Hey @MaartenDesnouck, author here. The Apps Script team has been working on launching a new [API](https://developers.google.com/apps-script/api/), rather than just the Google Drive API, which supports creating, modifying, deploying, monitoring, and executing Apps Script projects.

Your tool along with others have tremendously helped the Apps Script community. Looking at one of the Apps Script proj

[2018-01-16 19:00] hanguokai commented on #8
Yes, clasp need to add `--proxy` option, like youtube-dl, curl, gcloud, npm, git, etc.

`http_proxy` environment variable is the same meaning as `--proxy`, but detect by command if no --proxy option specified.

I am using socks5 protocol, there are others like http, https.

[2018-01-16 19:06] deinspanjer commented on #3
I just installed on OSX 10.12.6 (16G1114) with the commands listed in the readme and it seems to work fine.

[2018-01-16 19:09] deinspanjer opened #10 "IDE support? (IntelliJ, VS Code)"
Are any of you working with gs files inside IntelliJ by any chance?  Would be really nice to have a plugin to provide support.  I found references to an older plugin that has been removed ( https://github.com/MichaelSnowden/intellij-gas-plugin ) with a clone here: ( https://github.com/kehh/intellij-gas-plugin ), but haven't tried it out yet to see if it works with clasp.

[2018-01-16 19:16] grant commented on #10
If you can add JS support to .GS files, then you should have support for Apps Script files (just don't use ES6 features).

[2018-01-16 19:19] grant commented on #10
I haven't tried it, but I'd be interested to see the IntelliJ support with Apps Script. It would be great if you could see autocomplete bindings like the script.google.com editor. (I can try to open-source the services/bindings).

Let me know if you have used IntelliJ with Apps Script, could be a much-improved developer experience. 😄

[2018-01-16 19:26] rielzzapps opened #11 "Add shell functionality (`clasp run`)"
Since clasp is running authorised, it would be nice if it could leverage the execution api to add a shell functionality.

Looking at firebase's Cloudfunctions where the shell is a powerfull tool.

[2018-01-16 19:59] grant commented on #11
Yup. This is definitely a wish I have! Something like:

`clasp run sendEmail`

[2018-01-16 20:11] #1 closed

[2018-01-16 20:42] rielzzapps commented on #11
If I find some time, I would like to get my hands dirty and do some POC and maybe it sticks ;)
Then the first question would be, would it be better to do a separate auth (because more scopes) for this?

[2018-01-16 21:27] grant commented on #11
I haven't played around much with the execution part of the API, but this would be my general plan. LMK if you need help with the POC.

# V1
Execute functions that don't require credentials.

[code]
[code]

# V2
Execute functions that require Google Services (OAuth: like Gmail, Sheets...).

I think we'd have to request more specific **scopes** for `clasp` ([Current scopes](https://github.com/googl

[2018-01-16 21:28] grant commented on #5
Will close after published to npm.

[2018-01-16 21:35] grant commented on #2
The initial `login` command didn't use localhost. When we tackle this feature, we can just use the previous `login` via command line with the code here:

https://github.com/google/clasp/blob/75882839f152a6183c7c92a525069ea6bccecaa8/index.js#L336-L355

[2018-01-17 00:29] fossamagna opened #12 "Support options to specify dotfiles"
Please support options to specify dotfiles. e.g: .clasp.json, .clasprc.json.

I would like to switch enviroment to deploy. eg: development, production...
So, If I can specify dotfiles by clasp's options, it is very useful.

[2018-01-17 11:04] rielzzapps commented on #11
Clear.

Additionally I thought of logging.
Somewhere in between the V's, a console.log statement would be nice. I am not sure if stackdriver output can be fetched in the meantime but it will lag behind. I think realtime console logging like cloudfuctions shell does is not possible with GAS.

[2018-01-17 18:18] whitecoop commented on #3
I didn't, but there were odd things going on with another global module that I had installed (install was successful, but commands weren't found) to test global modules, so I ended up doing a clean install of my mac (it's been overdue for a while and this happened to be a good time to do it) and clasp is now installed successfully. Your guess is as good as mine on what was up before, but everythin

[2018-01-17 18:18] #3 closed

[2018-01-17 20:10] grant commented on #11
I think V1 is possible with [`script.run`](https://developers.google.com/apps-script/api/reference/rest/v1/scripts/run).

Logging is a fantastic idea. Let's add that as a different issue.
https://cloud.google.com/monitoring/api/v3/

[2018-01-18 07:11] grant opened #13 "Remove fs write warning when fetching"
There's a warning showing when fetching a project:

**Warning**: `(node:46497) [DEP0013] DeprecationWarning: Calling an asynchronous function without callback is deprecated.`
**Node version**: v9.0.0
**Fix**: In `fetchProject`, use a proper callback:
[code]

[2018-01-18 07:21] grant opened #14 "Recursively ignore dotfiles"
Currently, only top-level dotfiles are ignored. Ignore dotfiles recursively.

[2018-01-18 07:25] grant commented on #14
Something like:
[code]

[2018-01-18 07:49] grant opened #15 "Add link to clasp codelab in README"
https://g.co/codelabs/clasp

[2018-01-18 18:33] grant opened #16 "Lint Instructions"
Add instructions on how you can use 3P tools to lint Apps Script.

Try out these linters:
- https://eslint.org/docs/user-guide/command-line-interface
- https://www.npmjs.com/package/jslint
- https://www.npmjs.com/package/lint

[2018-01-19 12:05] Nirazul opened #17 "node.js - DeprecationWarning [DEP0013]"
First of all: Thank you for this project, this is a godsend! I really like the idea of google AppScript but it's just a pain to develop without a proper IDE.

Upon trying it out, I've come upon a deprecation warning when cloning a project with node `8.9.3`:

[code]

The warning relates to this [Deprecation](https://nodejs.org/api/deprecations.html#deprecations_dep0013_fs_asynchronous_function_with

[2018-01-19 12:33] Nirazul commented on #17
Ah, there's already an issue. Closing here.

[2018-01-19 12:33] #17 closed

[2018-01-19 15:45] grant commented on #17
(#13) Good first issue if you want to contribute!

[2018-01-19 18:12] grant opened #18 "Add gif to README"
![claspblog8 1](https://user-images.githubusercontent.com/744973/35164939-43fd32ae-fd01-11e7-8916-acd70fff3383.gif)

[2018-01-19 18:29] #5 closed

[2018-01-19 18:29] #9 closed

[2018-01-19 18:29] #15 closed

[2018-01-19 18:29] #18 closed

[2018-01-22 17:08] cwatson88 opened #20 "TypeError: console.err is not a function"
https://github.com/google/clasp/blob/4cf4cc95a83acdb9faf78d1b46a34f96ff309658/index.js#L417

This has logged an error in terminal(see below). Should be **console.error()** instead?

TypeError: console.err is not a function
    at fs.writeFile (/usr/local/lib/node_modules/@google/clasp/index.js:417:23)
    at /usr/local/lib/node_modules/@google/clasp/node_modules/graceful-fs/graceful-fs.js:43:10

[2018-01-22 17:13] grant commented on #10
I'm working on typescript + Apps Script. It works really well with autocompletion, linting, etc.

Working on updating the Apps Script dts files right now. @motemen created a library that can generate them (https://github.com/motemen/dts-google-apps-script).

I'll try to update the bindings and then write a tutorial for how you can actually develop Apps Script outside of the online editor. Looking

[2018-01-22 17:19] grant commented on #20
Look like https://github.com/google/clasp/pull/19 fixed this though. Will close this issue and update the module soon.

[2018-01-22 17:19] #20 closed

[2018-01-22 18:32] thesiti92 opened #21 ""Error: Request contains an invalid argument" on push and deploy"
## Expected Behavior
Push code to script project

## Actual Behavior
Request fails on `clasp push` and on `clasp redeploy`. Redeploy has a more verbose error report:

[code]

The auth library fails, so i tried logging back in and out and into another account to no avail

## Steps to Reproduce the Problem

  1.  My current project directory looks like:
[code]
With src and build as directories. The

[2018-01-22 19:01] grant commented on #21
I think you must ignore some files before pushing. i.e. `node_modules/`.

Create a file called `.claspignore`. (Works like `.gitignore`.) Add `node_modules/` and `package-lock.json` as well as other files/folders that should be ignored.

I need to write more details on how to ignore files/folders in the README.

Link the repo if you can so I can look further.

[2018-01-22 23:58] jondcallahan opened #22 "Possible to specify directory for push / pull ?"
## Expected Behavior
I have my source files in an `src` directory, but do some transpiling which outputs the files to a `build` directory. Is it possible to specify a directory to push files from?

## Actual Behavior
Files are pushed and pulled from the root of the repo

## Specifications

  - Node version (`node -v`): any
  - Version (`npm list | grep clasp`): 1.0.7
  - OS (Mac/Linux/Windows): Ma

[2018-01-23 00:26] grant commented on #22
Your `.clasp.json` file should be in the `build/` directory if you want that directory to be the root. I think this is an interesting feature but probably not one that I really see being useful.

Perhaps the README can describe how this works a bit more (for users that have different folders).

[2018-01-23 00:59] thesiti92 commented on #21
The repo is private, so I cannot link it. I created the .claspignore file and the push/deploy simply errors faster now. The error appears to have to do with some google-auth thing no? Any other bug info I can provide?
Thanks for the quick response @grant.

[2018-01-23 01:07] grant commented on #21
The main issue is here:
[code]

The google-auth is just the stack trace of the request.

This error occurs if there's a bad API request to the Apps Script API. Unfortunately we don't get good reasons for errors from the API.

The best way to debug is to remove all files, try pushing, then slowly add each file back in until clasp/the API breaks. I think the API doesn't allow some characters, which

[2018-01-23 01:40] thesiti92 commented on #21
I did as you suggested and traced the issue node_modules folder, specifically a bug in how you guys ignore directories.
My .claspignore:
[code]
***
Console Output:
[code]
Yes, I understand my .claspignore is excessive but I just wanted to try everything.

[2018-01-23 02:22] grant commented on #21
Underneath it all we use `anymatch`: https://www.npmjs.com/package/anymatch

(Here in clasp: https://github.com/google/clasp/blob/master/index.js#L485)

I'll have to look more to see if this is a bug in `anymatch` or some config not set.

[2018-01-23 02:24] NakajimaTakuya opened #23 "A new tab is opened when `clasp open` is executed"
## Expected Behavior

When I run `clasp open`, I want you to refresh the tab if there is a previously opened tab.

## Actual Behavior

Another tab opens.
That behavior makes it hard to tell which is the latest code.

## Steps to Reproduce the Problem

  1. invoke: `clasp open`
  1. invoke: `clasp open`

## Specifications

  - Node version (`node -v`): v8.9.3
  - Version (`npm list | grep clasp`):

[2018-01-23 02:29] grant commented on #23
You can't really detect which internet browser tabs are open on your operating system due to security.

Also, this feature would be confusing if `clasp open` fails if you try to open the same script but a day apart.

[2018-01-23 02:35] NakajimaTakuya commented on #23
I understand.
I will consider using `live-reload` like tools.

[2018-01-23 02:36] #23 closed

[2018-01-23 02:50] thesiti92 commented on #21
Fixed it. Anymatch uses syntax different from a traditional .gitignore for directories. [Related Issue Here.](https://github.com/micromatch/anymatch/issues/14)  To ignore directories and subdirectories like node_modules the syntax is `**/node_modules/**`. I can create a PR to add documentation for it to the README.md if that would help!

[2018-01-23 03:07] grant commented on #21
Great! I do need to document `.claspignore`.
A PR would help. Mind adding a section about `.claspignore`? Something like:

## How To...
### Ignore Files

... Create a file called `.claspignore` ... it uses [anymatch](https://www.npmjs.com/package/anymatch)...

[2018-01-23 03:55] grant commented on #12
Since it's pretty easy just to write a bash command to swap/move `.clasp.json` files, I'm probably not going to think about this for a bit.

You could just have:
[code]
And `cp` which one you need:
[code]

[2018-01-23 22:31] jondcallahan commented on #22
Moving the `.clasp.json` file to the build directory makes it necessary to run the command from that directory. Would you be open to an optional arg passed to the push command specifying a directory? Something like:
[code]

[2018-01-23 22:44] jondcallahan commented on #22
Another workaround for this use case is to ignore everything but the build directory in the `.claspignore`. This requires the manifest file be in the project root though which doesn't work if you have environment specific manifest files that get placed in the build dir.

[2018-01-23 22:58] grant commented on #22
This is an interesting case. I'd be hesitant to add an option for `push`, in case one day you `clasp push` instead of `clasp push build`. Also, `clasp pull` would pull to the wrong dir.

It seems like the root directory should be a property of `.clasp.json` that defaults to `.` (same dir as the `.clasp.json` file). You normally won't push different directories all the time, so it should be a confi

[2018-01-24 00:31] jondcallahan commented on #10
@grant would you consider saving `.gs` files locally as `.js` and treating `.js` as `SERVER_JS` to put the onus on the cli instead of the user?

[2018-01-24 01:00] grant commented on #10
@jondcallahan We could save as `.js` locally, that's probably a good idea. It would be a breaking change for current users, but it's probably something we should do anyways.

Feel free to send a PR for the `gs`/`js` change.

[2018-01-25 06:59] grant commented on #21
Looking further, I need to do a better job of ignoring files, I think nested `package.json` files are still pushed.

[2018-01-25 23:26] jondcallahan commented on #16
I am using eslint + prettier for my apps script code. It works out well, although we had to disable the "no undefined variables" rule since everything is global and managing a whitelist becomes non-trivial in large codebases.

Related: Could we add a linter to the source code in this repo? Easier to let tools handle formatting than to remember stylistic preferences when making PRs.

[2018-01-25 23:57] grant commented on #16
@jondcallahan Feel free to add a Google style guide `.eslintrc` to this codebase. If there are some lint issues, feel free to send a PR for fixing those issues as well.

[2018-01-26 21:41] #22 closed

[2018-01-27 05:30] michaelwdemo opened #30 "Empty files have "undefined" as contents"
## Expected Behavior
Empty gs files in apps script should be empty on local filesystem

## Actual Behavior
Local file contains "undefined"

## Steps to Reproduce the Problem

  1. create an empty gs file in apps script
  1. clasp clone the apps script project
  1. observe that the local file contains "undefined"

## Specifications

  - Node version (`node -v`): 5.8.0
  - Version (`npm list | grep

[2018-01-27 06:06] grant commented on #30
Thanks for the bug report @michaelwdemo! I'll be sure to address this one in the next release.

[2018-01-27 14:43] cwatson88 commented on #7
Hi Grant,

Can I look into this I think I have a fix and would like to put a PR in?

[2018-01-27 17:21] grant commented on #7
@cwatson88 I would happily accept a PR for this! Thanks.

[2018-01-27 17:23] grant commented on #2
Will close this issue in the next release.

[2018-01-28 22:48] grant commented on #11
In order to run a script, you need to use your own API key with `clasp`.

## Next steps:
- Enable a user to use their own API key
- Develop clasp `run` command

[2018-01-30 18:49] #7 closed

[2018-02-01 16:22] martin-brainlabs opened #32 "Readme is incorrect about local files appearance (file extension is .js when it should be .gs)"
## Expected Behavior
in readme: `file.js`

## Actual Behavior
`file.gs`

## Steps to Reproduce the Problem

  1. Look at readme.

[2018-02-02 17:18] #30 closed

[2018-02-02 17:30] #2 closed

[2018-02-02 17:31] grant commented on #32
Thanks, this error will be fixed in today's release.

[2018-02-02 17:31] #32 closed

[2018-02-03 01:24] grant commented on #16
This issue will be resolved soon with respect to linting in this repo.
We should add lint instructions with more generic Typescript + Apps Script instructions.

[2018-02-03 01:24] #16 closed

[2018-02-03 20:06] cwatson88 opened #34 "Feature Request - Additions to CLI UI"
@grant
Would you be open to adding some stying to the CLI like Firebase CLI?
_If so, it would be great to be involved!_

![image](https://user-images.githubusercontent.com/2564574/35770719-5a6ee816-0918-11e8-8abc-5f29318b0fde.png)

I have some suggestions using the same NPM packages that are used in the Firebase CLI.

Firstly is to add something to make the main clasp text stand out using **figlet

[2018-02-03 21:16] grant commented on #10
We should probably leave this issue open and document how to actually use an IDE with Apps Script. (Hint: It's incredible, autocomplete galore, TypeScript + Apps Script!)

[2018-02-03 21:35] csell5 opened #35 "Error retrieving access token: Error: invalid_grant"
I'm getting an odd error when trying to call `clasp login`. I'm successfully logged in and redirected but clasp is claiming an invalid token. I've also tried a few different accounts.

## Steps to Reproduce the Problem

  1. clasp login
  2. allow the right account
  3. login successful return to terminal.
  4. Error retrieving access token: Error: invalid_grant

## Specifications
  - Node version

[2018-02-03 22:00] grant commented on #35
Thanks for letting me know @csell5. 1.1.1 should fix this.

Install the latest `clasp` and it should work now.

[2018-02-03 23:23] csell5 commented on #35
and indeed it did! Thanks!

[2018-02-03 23:23] #35 closed

[2018-02-05 18:14] sqrrrl opened #38 "Allow manifest, file list via CLI"
Currently the file set to upload in the push command is automatically determined. It would be helpful to be able to specify files (both manifest and js) via the command line as well.

The particular use case is to be able to deploy different configurations -- e.g. in test mode I want to use an alternate manifest with execution API enabled, tests bundled, etc. while in prod mode I want to skip all

[2018-02-05 23:49] grant commented on #34
Hi @cwatson88, I don't think it's necessary to add a huge "CLASP" ASCII art to the root command.

If there is somewhere specific where using chalk would be useful, we could maybe add that.

[2018-02-05 23:50] grant commented on #38
Do you mean test/prod options like #12?

[2018-02-06 00:08] sqrrrl commented on #38
Sort of, but not just the project ID. Suppose the same technique could be used with renaming .claspignore and manifest files, but it's clunky. Better would be to just take the file patterns as optional arguments. If they're present, push those files. If not, fall back on the current algorithm.

Ideally we'd have both an environment option for auth/project ID *and* a way to easily change file sets.

[2018-02-06 00:21] grant commented on #38
I don't see a use-case where a 1-line bash script can't solve. I'd rather have the CLI be minimal and use `git`'s features or a bash file instead.

[2018-02-06 00:22] grant opened #39 "Add instructions for git hook"
## Expected Behavior

README instructions how to sync `git push` with `clasp push` via a git hook. Same with `pull`.

[2018-02-06 00:41] sqrrrl commented on #38
A few reasons:

*  It's not a 1 line script. Also need to make sure the ephemeral files are ignored by git or whatever source control system is being used.
* Sometimes expressing things in the affirmative is easier than expressing them in the negative. Right now clasp only allows expressing things negatively -- tell me the files you *don't* want to push. In more complex projects, the affirmative e

[2018-02-06 02:32] grant commented on #38
Questions (Can you modify the first comment with the **details** about this FR to reduce discussion?):
- Can you point to some similar flags/samples in other CLIs?
- Can you have a more concrete example? I don't really understand the use-case and why you need this feature.
- Can we modify how `.claspignore` works to accommodate explicitly kept files?
- Why can't you just do this:

[code]

[2018-02-06 04:00] sqrrrl commented on #38
Updated the original comment w/examples of other CLIs that behave this way as well as the use case later mentioned in the discussion.

[2018-02-06 12:24] cwatson88 commented on #34
Yep, I agree with you @grant  (I tried 😅).

Yeah maybe with chalk just to allow the console log errors and warnings to stand out but it's not urgent at the moment.

Thanks for the reply!

[2018-02-06 12:24] #34 closed

[2018-02-09 09:00] labnol opened #41 "Offline Error Messages"
If a user executes the clasp push command while the network is silently down, the following errors are shown.  Can the script check for network connection before proceeding?

[code]

[2018-02-13 10:49] nirazul opened #42 "Add possibility to store login by project"
**Feature request**
I have a company project using clasp and a private one. When I'm switching projects, I need to change my clasp login inbetween.
If possible, it'd be nice to store a separate login projectwise instead of a global clasp login.

[2018-02-13 22:24] ryanolsonx opened #43 "clasp deploy does not publish a new version of a Google Docs add-on"
I might be misunderstanding the term "deployment" in the context of this CLI. I expect that when I deploy a new version of my add-on, it would publish a new version of the add-on.

## Expected Behavior
That `clasp deploy {version}` would publish a new version of my Google docs add-on.

## Actual Behavior
After running the above command and test out the published add-on, I don't see the changes in

[2018-02-13 22:35] ryanolsonx commented on #43
Follow up question: how do I change the current deployment that an add-on uses? Would I need to use the redeploy command to indicate which deployment should be used?

From the [Apps Script Clasp Guide](https://developers.google.com/apps-script/guides/clasp):

[2018-02-15 23:45] wulftone commented on #10
Would love to have up-to-date (including Gmail Add-on) typescript files definitions.

[2018-02-15 23:57] wulftone opened #44 "Support official deployment procedures for updating a deployed version of Gmail Add-on"
On the script GUI, we can have multiple versions of a deployment, and specify which version applies to which deployment id: See https://developers.google.com/gmail/add-ons/how-tos/publish#publish_an_add-on.

`clasp` doesn't seem to support this yet.  Would love to have it!

[2018-02-16 00:06] jondcallahan commented on #10
This is mostly up to date, save for `UrlFetchApp.fetchAll` https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/google-apps-script

I think you mentioned writing a blog post about using TS with apps script @grant , if so how is that coming along? I'm thinking of migrating an existing project over to TS but there wasn't too much written about configuring the tooling. Would love to h

[2018-02-16 00:54] grant commented on #10
## Current Progress

I have a few PRs out:
- https://github.com/motemen/dts-google-apps-script/pull/4
  - Try to contact @motemen to better support Typescript binding generation. It looks like the
- https://github.com/DefinitelyTyped/DefinitelyTyped/pull/23657 SlidesApp bindings
  - This is to test the waters when submitting types to DefinitelyTyped.

I have access to a big JSON document (96,000 l

[2018-02-19 09:05] JeanRemiDelteil commented on #43
While having this feature normalized would be great, it seems that for now it will not be possible with this API, mainly because Doc Add-on are deployed on the Chrome Webstore.

Hence you have to use the Chrome webstore API to deploy your Add-ons.
However, if you choose to use it to deploy an add-on, you will not be able to deploy it again manually, because of an AppsScript internal issue that is

[2018-02-19 09:11] JeanRemiDelteil commented on #12
@fossamagna you can use a GAS starter project with a build that will swtich those files for you ([https://github.com/JeanRemiDelteil/gas-shell](url))
This project also comes with a number possible configurations to patch the gas manifest file for example.

[2018-02-19 09:23] JeanRemiDelteil commented on #10
@grant For a while now I'm using this library [https://github.com/JeanRemiDelteil/gas-lib](url) that also comes as an NPM package.
It will provide AppsScript autocomplete feature.

This package is auto-generated from the kind of files you just linked as example, however it does not generate typescript for now, but javascript JsDoc. I figure it would not be to difficult to generate typescript since

[2018-02-20 01:01] grant commented on #41
To handle this, we could add an [`is-online`](https://github.com/sindresorhus/is-online) check before every network call.

[2018-02-20 01:11] grant commented on #8
@hanguokai Can you add proxy rule to the URL `googleapis.com` so that every `googleapis.com` request is proxied?

[2018-02-20 15:37] ryanolsonx commented on #43
Thanks for the reply @JeanRemiDelteil. If the deploy command doesn't deploy a google docs add-on. What is the purpose of `clasp deploy`?

[2018-02-20 15:50] JeanRemiDelteil commented on #43
The deploy command is there to deploy a 'deployment', which can currently be used for webApp, execution API, or Gmail Addon. You can find the documentation on deployment here:
 [projects.deployments](https://developers.google.com/apps-script/api/reference/rest/v1/projects.deployments#resource-deployment)

For now, the deployment of Doc Add-on is not using the same logic.

Honestly I would love to

[2018-02-20 19:17] caseyduquettesc opened #45 "gcp-metadata module not found"
## Expected Behavior
no error?

## Actual Behavior
Module not found error

[code]

## Steps to Reproduce the Problem

  1. Ran `npm install -g @google/clasp`
  1. Any clasp command issues same error

## Specifications

  - Node version (`node -v`): 9.4
  - Version (`npm list -g | grep clasp`): 1.1.1
  - OS (Mac/Linux/Windows): mac 10.13

[2018-02-20 19:39] grant commented on #45
Looking at:
`/usr/local/lib/node_modules/@google/clasp/node_modules/google-auth-library/build/src/auth/googleauth.js:55:19`

It looks like an issue with `google-auth-library`. Can you see if there is an issue there?

[2018-02-20 19:44] caseyduquettesc commented on #45
For the record it was easily solved by installing gcp-metadata, but it wasn't mentioned anywhere in the docs.

[2018-02-21 07:26] grant commented on #45
Do you still see the error?

[2018-02-21 07:32] grant commented on #44
Can you be more specific with this request and follow the issue template?

`clasp redeploy <deploymentId> <version> <description>` doesn't update a deployed version?

[2018-02-21 16:28] grant opened #46 "View Stackdriver logs"
## Expected Behavior

[code]

[code]

Views StackDriver logs (`console.log`).

## Actual Behavior

Command doesn't exist yet.

## Notes

- [Stackdriver API (entries/list)](https://cloud.google.com/logging/docs/reference/v2/rest/v2/entries/list)
- [Apps Script console.log](https://developers.google.com/apps-script/reference/base/console#methods)

### Example Stackdriver API result

[code]

Please 👍

[2018-02-21 18:48] caseyduquettesc commented on #45
No, just wanted others to know that there's an extra step involved in the installation.

[2018-02-21 20:05] grant commented on #45
I don't think `gcp-metadata` is required for this module. It should work if you don't install it.

[2018-02-21 20:46] caseyduquettesc commented on #45
It isn't required for this, but it's required by one of this package's dependencies. Regardless, it was just fixed in the google-auth-library

https://github.com/google/google-auth-library-nodejs/commit/3533dd9e70582dd802cda75c7c77d1d99090d5a5

[2018-02-21 21:34] grant commented on #45
We should fix the problem upstream rather than every single dependency.

[2018-02-21 21:50] #45 closed

[2018-02-22 16:25] JeanRemiDelteil opened #48 "Structure code: use the SAME structure char '/' for both window and other OS"
## Expected Behavior
The structure separator char should always be the same ('/') not depending on the OS you are running CLASP.

On script.google.com:
- tests/slides.js
- tests/sheets.js

locally:
- tests/
  - slides.js
  - sheets.js

## Actual Behavior
On Windows:

On script.google.com:
- tests\slides.js
- tests\sheets.js

locally on window:
- tests/
  - slides.js
  - sheets.js

## Steps to Repr

[2018-02-22 17:55] #48 closed

[2018-02-22 17:55] grant commented on #48
Thank you for the PR @JeanRemiDelteil!

[2018-02-22 18:01] JeanRemiDelteil commented on #48
You are welcome !

Once it will be published to NPM we will be able to use CLASP in our GAS add-on projects !
This will save us so much time

[2018-02-22 19:26] arjun-rao commented on #41
@grant I guess this issue can be closed now.

[2018-02-22 20:56] #41 closed

[2018-02-24 17:07] froggr commented on #35
This error is happening for me on clasp@1.1.4 (MacOs) with Node 9.6.1.

[2018-02-24 20:22] grant commented on #35
@froggr looking into it, in the meantime please install `npm i -g @google/clasp@1.1.1`.

[2018-02-24 20:45] grant commented on #35
@froggr Try to install the latest version (1.1.5).

[2018-02-24 20:45] NicholasKobald commented on #35
Thanks! that worked for me

[2018-02-24 21:23] froggr commented on #35
@grant thanks! Confirmed working with 1.1.5

[2018-02-25 06:46] grant commented on #43
@ryanolsonx The process of publishing an add-on is described here:

https://developers.google.com/apps-script/add-ons/publish

Interacting with the Chrome Web Store sounds like a good idea for a different CLI as it seems like a big set of commands with various options. It would be great if we could describe how to tie these two processes together.

Looks like there's already progress with an API/C

[2018-02-25 11:46] ivanpestov opened #50 "Multiple project push"
## Expected Behavior

Abiliy pushing a project to multiple destination over add anoder id in  '.clasp.json'
## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Node version (`node -v`)
  - Version (`npm list | grep clasp`):
  - OS (Mac/Linux/Windows)

[2018-02-25 19:14] grant commented on #50
Related to #38.

[2018-02-26 17:13] JeanRemiDelteil opened #51 "Do not rename .gs files to .js before pushing"
## Expected Behavior
When using : clasp push
a file named: Code.gs is still named Code.gs (locally, i'm not talking about remote)

## Actual Behavior

When using : clasp push
a file named: Code.gs is renamed to Code.js

The project files should not be changed by the pushing operation.
Any preparation to the push operation should be done by the tool, without affecting project files.

## Steps to Re

[2018-02-26 17:29] JeanRemiDelteil commented on #51
Historically *.gs files are Google appsScript server side javascript.
There are various reason to keep the 'gs' part (essentially it comes back to differentiate with normal JS files):
- AppsScript is actually javascript 1.5 with some feature taken from ES6 (destructuration for example)
- We can have *.js files in our local project that will be embedded as *.js.html files later for client side java

[2018-02-26 17:51] JeanRemiDelteil commented on #51
All standard IDE support aliases for javascript files so that is not much of an issue.

But the main issue is that the renaming is done when you upload the files to the remote AppsScript project, not when you are working on it.
It should not be the decision of the tool to change the files name. If you want *.js extension, just rename your file manually in your local project.

We are working with l

[2018-02-26 19:39] grant commented on #51
I can understand why keeping *.gs is attractive. For most users using *.js is fine or even preferred. In reply to the reasons:

- **Apps Script is ES 1.5 with some global variables**
  - It's still `js` though, just not modern ES7+.
- *.js files embedded
  - Not sure what this means. Perhaps use a folder for these files?
- Server/client js
  - Node is still js

.gs is also not recognized by many t

[2018-02-27 16:32] JeanRemiDelteil commented on #51
I'm still pondering the use of gs / js.
I don't have a public complete gas public project to discuss as a base, but here is a library we made (https://github.com/RomainVialard/FirebaseApp), for gas projects.
This is not meant to work with non-gas project, the extension makes this clear.

Also about the client javascript, we currently have this sort of typical structure (locally):

─ main.gs
─ some

[2018-03-01 14:51] fossamagna commented on #38
There is similar CLI as clasp. it is gas-manager.
gas-manager has options to specify environment(project ID), credential, etc...
Please see https://github.com/soundTricker/gas-manager#cli

[2018-03-01 15:27] grant commented on #38
I'll look at PR proposals that use [npm's config](https://docs.npmjs.com/misc/config) for environments in `package.json`.
[code]

[2018-03-01 18:57] dlindahl commented on #12
I'm not hear to start a war or anything, but do realize that not everyone knows how to write bash scripts. CLI arguments are, in my opinion, much more approachable to a wider audience. I also just happen to think that it makes for a cleaner, declarative solution to working with environment-specific configuration needs.

[2018-03-01 19:03] JeanRemiDelteil commented on #12
Other issue is that often bash script differ from OS.
When you work with a team it's difficult to get this working everywhere.

[2018-03-01 20:19] grant commented on #12
I support this feature, a more detailed potential solution would be nice.

I propose the .clasp.json file should have an env property like npm:

https://docs.npmjs.com/misc/config

A more detailed spec of what this would look like would be important.

PRs are welcome.

[2018-03-02 09:33] grant opened #52 "clasp push —watch"
Add an option to watch local file changes and clasp push on file change.

[code]

Use: https://www.npmjs.com/package/node-watch
Something like:

[code]

[2018-03-02 15:27] josuai opened #53 "Error: Request contains an invalid argument"
## Expected Behavior
Push code to script project

## Actual Behavior
Request fails on clasp push:
Push failed. Errors:
Request contains an invalid argument.

## Steps to Reproduce the Problem

  My current project directory looks like:
-a----       14.02.2018     13:15             73 .clasp.json
-a----       02.03.2018     16:14             48 .claspignore
-a----       02.03.2018     16:19

[2018-03-02 15:41] #53 closed

[2018-03-03 15:08] tbenbrahim opened #54 "Better error message when .claspignore is incorrect"
## Expected Behavior
Show this:
[code]

## Actual Behavior
instead of this:
[code]

PR forthcoming

[2018-03-06 04:02] fossamagna commented on #12
@grant
I think that use-cases is the following:

- I want to push to different scriptId. For example, switch environment as development, staging, production. Many users use application on production environment. I want to develop (coding, test, etc) on development environment. I pull source code from development environment and push staging or production environment.
-  I use mutilple Google accou

[2018-03-06 05:56] grant commented on #12
OK. There are 2 separate requests, **multi-scriptIds** & **multi-account**.
This is complicated, bear with me..

## Multiple `scriptId`s for the same `clasp` project (`ProjectSettings`)
**Question:** Why does someone need to push to multiple parallel Apps Script projects, like dev/prod?
- 1 clasp project can push to multiple `scriptId`s (dev/staging/prod).
  - Currently all API requests use: `.cla

[2018-03-06 06:07] grant opened #57 "Switch from `commander` to `inquirer`"
Give autocompletion for `clasp commands.
- List commands `clasp <tab>`
- Give options when choosing environments. Like [select shell](https://www.npmjs.com/package/select-shell) or [inquirer](https://www.npmjs.com/package/inquirer).

[Vorpal](https://github.com/dthree/vorpal#introduction) seems to be based on `commander` and provides these features.

[2018-03-06 06:34] grant commented on #42
I wrote a proposal of how we could store multiple Google account login creds here: https://github.com/google/clasp/issues/12#issuecomment-370672417

Basically, you can set `settingId`s (`[default/global]`/`"work"`/`"personal"`/`"testGoogleAccount"`) that you can tie to projects.
i.e. multilogin support.

[2018-03-06 06:56] grant commented on #11
Specific next steps:

## Enable a user to use their own API key
- The first step would be to create a personal (rather than global) client ID/secret and store that in the `.clasprc.json`.
- Perhaps start the flow with: [`clasp login --own-key`](https://github.com/google/clasp/blob/master/index.ts#L443).
- This could walk you through getting a client ID/secret. Store these in [`.clasprc.json`](http

[2018-03-06 07:01] grant commented on #8
Pull requests are welcome.
I'm closing this since I don't see much demand for this feature. Will reopen if there's demand or more discussion.

[2018-03-06 07:02] grant commented on #39
I think `clasp push --watch` (#52) is more useful than a git hook.

[2018-03-06 07:02] #39 closed

[2018-03-06 08:39] fossamagna commented on #12
@grant
Thank you.
Now, I open pull request #56. I add cli option to support multiple environment at this PR. But, there is a different specifications of `.clasp.json` as your proposal .  It's [defaut/global] environment handling. The specification of #56 has no compatibity to now version. I intend to alter the #56 in response to your proposal specification.

[2018-03-07 07:24] nyoma-diamond opened #58 "No way to ignore a specific file within a specifically added directory in .claspignore"
## Expected Behavior
If .claspignore contains
`**/**`
`!**/gs/**`
`gs/genericFile.js`

clasp should ignore everything that isn't in /gs and ignore genericFile.js

## Actual Behavior
Clasp still pushes genericFile.js; pushes contents of /gs

[2018-03-07 15:07] fossamagna commented on #12
I have understood that `ProjectSettings.settingsId` and key of `customSettings` is related. Then to support multiple account and multiple scriptId, I consider that Env interface should be have `settingsId` property.

[2018-03-07 22:00] grant commented on #51
`js` is important for the future of Apps Script.
It may make sense to use `gs` now, but things are changing in the Apps Script ecosystem that will make `gs` block integrations with libraries that use `js`.

[2018-03-12 21:42] onlinelaser opened #63 "Clasp deploy doesn't update the deployed version with Google Apps Script Web App"
## Expected Behavior
Perhaps I'm misunderstanding, but from the readme I'd thought that `clasp deploy` would allow me to publish a new version of a Web App (in this case bound to a google sheet).

I'd expected the workflow to be as follows:

  1. clasp version "My new version"

  2. clasp deploy xx

  3. clasp open
   browser opens to newly published version "xx"

## Actual Behaviour
The version i

[2018-03-13 16:08] nmccready commented on #58
Seeing the same behavior.

[2018-03-13 16:15] nmccready opened #64 "Tag your Releases"
## Expected Behavior

All releases on npm are tagged and in sync with git.

## Actual Behavior

Tags are severely lagging and or not tagged on github.

This is important in tracking down bugs and stable versions.

[2018-03-13 16:16] nmccready commented on #64
[code]

Github Tagged
[code]

[2018-03-13 16:18] grant commented on #64
I've only tagged semi-major versions due to bandwidth.
- How important is GitHub tagging?
- Can you give an example of how to tag better?
- Are there any tools to make this automatic when I npm publish?

[2018-03-13 16:24] nmccready commented on #64
If it were not important then I would not be here ;) .

`npm version` practically makes this automatic.

https://docs.npmjs.com/cli/version

[2018-03-13 16:27] nmccready commented on #64
Also keep this in mind if you do not like npm's auto adding of the prefix `v` to tags.

https://docs.npmjs.com/misc/config#tag-version-prefix

.npmrc (local to project)
[code]

[2018-03-13 16:57] grant commented on #64
@nmccready Can you create a PR to change the [`README#publish`](https://github.com/google/clasp#publish) section and/or `package.json` with these best practices?

I'd appreciate it!

[2018-03-13 17:24] rafasc commented on #64
Based on changes to package.json version string, these are the commits that correspond with versions.

`git log -L /version/,/$/:package.json --reverse`

| Version | Commit |
| ---------- |------------|
| 1.0.0 | b31a4db2403005754bc15ec66dcb0fcfe552f69c |
| 1.0.1 | 09181de53935f6340a5a554538781abedb5a023c |
| 1.0.2 | 3126c767cdaaf50ffe314a9e307db373d4743e9d |
| 1.0.3 | 8f622ebbe0508c3e6d1e06befc8b

[2018-03-13 19:22] nmccready opened #65 "Better Debug Logging"
Optional debug logging would go a long way in figuring out what is going on in the clasp API when things do not work as expected. A very common practice in the node community is to utilize [debug](https://github.com/visionmedia/debug). If you want to gain lazy logging please have a look at [debug-fabulous](https://github.com/nmccready/debug-fabulous) (shameless plug).

## Expected Behavior
export

[2018-03-13 19:24] nmccready opened #66 "clasp push hangs"
## Expected Behavior
Times out and or have a debugging capability from #65  to figure out why it is hanging.

## Actual Behavior
[code]
Goes on forever

[2018-03-13 20:26] nmccready commented on #66
The error was due to a file not existing ENOENT within the node_modules directory. The error is basically getting swallowed by `logError` around line 633.

[code]

[2018-03-13 20:27] nmccready commented on #66
So it gets eaten up here https://github.com/google/clasp/blob/master/index.ts#L595 .

[2018-03-13 20:55] nmccready opened #67 ".claspignore fails **/node_modules/**"
## Expected Behavior

[code]

Ignores all files in node_modules .

## Actual Behavior

[code]

`node_modules/fsevents/build/Release/.deps/Release/.node.d` Is getting picked up with the following error.

Added logging to clasp produces:

[code]

from adding:

[code]

Only ignore which did work:

[code]

## Specifications

  - Node version (`node -v`) : v8.9.4
  - Version (`npm list | grep clasp`):

[2018-03-14 20:24] rafasc commented on #64
The problem is especially evident if you compare with commits reported by npm. Which I assume are the correct ones.

[code]
| Version | npm | package.json | match? |
|:----------:|:-----:|:-----------------:|:------------:|
| 1.0.0 | 10d380a51fe8b6ae7011f437bbd852cf8e381e1c | b31a4db2403005754bc15ec66dcb0fcfe552f69c |❌|
| 1.0.1 | 09181de53935f6340a5a554538781abedb5a023c | 09181de53935f6340a5a55453

[2018-03-17 18:10] joshmreesjones commented on #51
It seems that Google Apps Scripts only recognizes `.gs` script files, and not `.js` script files. When I push a `.js` file, Google Apps Scripts doesn't show it in the project.

[2018-03-18 19:24] grant commented on #57
Also check out https://github.com/sindresorhus/fkill-cli
https://www.npmjs.com/package/meow

[2018-03-19 15:27] grant opened #69 "List Apps Script Projects (`clasp list`)"
`clasp list`

Does a Drive search for Apps Script projects using `files.list`.

https://developers.google.com/drive/v3/reference/files/list
`q`:`mimeType="application/vnd.google-apps.script"`

[2018-03-20 04:52] grant opened #70 "clasp@2.0"
For the next version of `clasp`, I'd like to make it ridiculously simple and easy to use the tool.
Let's use features of modern CLIs.

## Features
- [ ] `clasp`/`clasp push --watch` (watches project file changes, pushes and logs updates)
- [x] `clasp list` #93 (requires Drive Scope)
- [ ] `clasp run foo` #11 (define deployment name?)
- [ ] `clasp clone <scriptID>` (autocomplete #69)
- [x] `clasp l

[2018-03-21 06:04] grant commented on #57
Example prompt:
[code]

[2018-03-21 22:56] DimuDesigns commented on #52
Hopefully this will address an issue I came across.

When a file is renamed locally and then pushed the order of the files in the project changes in the App Script Editor, with the renamed file re-positioned at the bottom of the file menu on the left. I suspect clasp assumes that the file was deleted and considers the renamed file as a new file.

This can have adverse effects when code execution i

[2018-03-21 23:25] grant commented on #52
Renaming files is an extremely difficult use case for clasp, I don't know a good way to solve it. Right now we treat renamed files as new files.

Ideally, the 2 versions of the script are always in sync with `--watch`.

[2018-03-22 01:21] JeanRemiDelteil commented on #70
Hi @grant, on this note (the "easy" part), I've update my [Chrome extension for AppsScript web Editor](https://chrome.google.com/webstore/detail/ciggahcpieccaejjdpkllokejakhkome).

It now displays the files in the left Sidebar with a Folder view if you named them with '/'.
For example: folder/subFolder/file

This way, when working with a project pushed with CLASP, the web editor will also display

[2018-03-22 02:21] DimuDesigns opened #72 "`clasp push` changes the execution order of script files in Apps Script projects"
## Expected Behavior
`clasp push` should retain the order of the script files in the Apps Script Editor **not just visually but also in terms of order of execution**.

## Actual Behavior
`clasp push` re-orders the files so that they are executed in alphabetical order even though visually they retain the expected order in the sidebar of the editor. This bug is hazardous to projects that rely on scr

[2018-03-22 04:10] grant commented on #72
Thanks for the detailed report.
I will address this issue in the next major release.

As a workaround, encapsulate all statements in functions rather than global scope as a best practice to avoid execution order dependencies.

[2018-03-22 04:13] grant commented on #70
@JeanRemiDelteil This is an awesome extension! Didn't know about it.
LMK other features you want to see in `clasp` or Apps Script in general.

[2018-03-22 05:05] DimuDesigns commented on #52
Adding an explicit command to `clasp` might be the way to go; kinda like what git does with its [`git mv`](https://git-scm.com/docs/git-mv) command.

[2018-03-22 10:28] JeanRemiDelteil commented on #70
thanks ! I forgot to mention that it's available on Github here: [https://github.com/JeanRemiDelteil/appsScriptColor](https://github.com/JeanRemiDelteil/appsScriptColor)

[2018-03-22 11:13] JeanRemiDelteil commented on #72
@DimuDesigns the previous command line tool also had this behavior (gapps)
And it's pretty normal to not rely on something as random as creation order of the files.

As grant underlined, you should not have any global executing code. It's advised to know exactly where are your entry points.
Using global scope may cause unexpected variables overwriting and such.

@grant it would be great to also ke

[2018-03-22 13:45] DimuDesigns commented on #72
Best practice aside, sometimes there is a need to store configuration options as global constants/enums. I could wrap said properties into getter/accessor functions or create some kind of singleton composed of such functions but that feels superfluous since I know I can rely on execution order. Clasp unfortunately breaks that reliability.

@JeanRemiDelteil The script files are only ordered alphabe

[2018-03-22 14:15] JeanRemiDelteil commented on #72
For visual ordering, you may want to try my [AppsScriptColor extension](https://chrome.google.com/webstore/detail/appsscript-color/ciggahcpieccaejjdpkllokejakhkome) that will display the files always alphabetically, and with folders if you name your files with '/' inside (works well with CLASP).

[2018-03-22 15:43] grant commented on #72
Technically, I believe execution order is based on file creation date within the IDE.
In the API, the order of the [`files`](https://developers.google.com/apps-script/api/reference/rest/v1/projects/updateContent#request-body) in `updateContent`. It causes lots of bugs for users, so we generally recommend putting all code in functions.

[2018-03-22 18:30] arjun-rao opened #73 "Feature Request: Add a command to list files that are updated by push/pull"
## Expected Behavior

Running `clasp status` shows a list of files/directories that will be synced with `script.google.com` when using `clasp push` and `clasp pull`.

### Proposed Example:
[code]
The directory listing is similar to the `tree` command in linux or mac (via homebrew) that can be implemented using something like [tree-cli](https://www.npmjs.com/package/tree-cli)

Untracked files can b

[2018-03-22 20:43] diminishedprime opened #74 "Clasp hangs if not logged in for certain commands."
## Expected Behavior
The process exits with error when a command cannot be run due to not being logged in.

## Actual Behavior
commands `clone`, `pull`, `push`, `versions`, and `version` log that the user should login, but the process isn't exited.

## Steps to Reproduce the Problem

  1. Ensure you are logged out `npx @google/clasp logout`
  1. Run one of the clasp commands listed above.
      +

[2018-03-23 00:04] rafasc commented on #72
Is execution order well defined behaviour or were people using it just because it works?

What should happen if we modify the order files are sorted? View -> Sort Alphabetically (And possibly new ones in the future)?
Should it also modify execution order? What if I need a certain execution order, but enjoy viewing files in a totally different order?
What about asynchronous "order"? Is there a reas

[2018-03-23 09:28] HeavensBlade commented on #8
I would also like to see a proxy option.
Since I'm developing behind a corporate proxy I always need to activate my smartphone hotspot.

[2018-03-23 12:46] DimuDesigns commented on #72
@rafasc I can't speak for other developers, but in my experience, sorting the files alphabetically within a project via **View -> Sort** does not impact execution order. From what I can tell execution order is equivalent to the order in which the files are created which appears to be independent of view order.

As for running scripts in parallel (asynchronously), there are folks in the apps script

[2018-03-23 13:27] JeanRemiDelteil commented on #72
The question of running script in parallel in totally different from the matter of file execution order.

In AppsScript, strictly speaking, real parallelism or asynchronous behavior like you would expect with Promise, timeOut or thread does not exist at the moment.

All files are read and executed in their creation order, which is why using global is not recommend.
This creation order was historic

[2018-03-23 18:20] grant opened #75 "Code formatter"
## Expected Behavior

Developers write readable code that conforms to a style.

## Actual Behavior

Developers write code that is poorly formatted.

## Solution

- Give an example of how we can use an example like [prettier.io](http://prettier.io) to format Apps Script code.
- Integrate it with `clasp`? (Do we need .rc files to specify style?) **No**

[2018-03-23 19:19] grant commented on #63
I think you want to [`redeploy`](https://github.com/google/clasp/blob/master/index.ts#L841) to update a deployment:
`clasp redeploy <deploymentId> <version> <description>`
Is that right?

I think I forgot to add it in the "How To..." section. LMK if that works.

[2018-03-23 20:15] grant opened #76 "Clasp create add-on templates"
# Create Apps Script projects with templates

Clasp should make it easy to use our Apps Script templates.
What if you could select a [template](https://github.com/googlesamples/apps-script-templates) when creating a clasp project?

## Expected Behavior

`clasp create` lists template options in which you can choose from different templates, i.e.

![image](https://user-images.githubusercontent.com/7

[2018-03-23 21:05] diminishedprime commented on #75
Adding my two cents to the discussion.

I'm using prettier personally with some of my AppsScripts projects and it works really great, especially for some things that appsscript considers errors such as semicolons. I make a npm package, and have the clasp-specific stuff all under a `src` directory. Prettier is configured through my `package.json` file.

I think it'd be frustrating, though, if using

[2018-03-23 21:51] grant commented on #75
I agree. I don't think `clasp` should pick a style at all, there's lots of tools to do that. Apps Script is different than Go.

I removed: _"Should we enforce a certain style like Go?"_

But I think we should tell people how to use some of the existing tools.

[2018-03-24 19:02] grant opened #77 "TypeScript support"
## Expected Behavior

You should be able to code Apps Script locally with autocompleting types. This is the main advantage of using script.google.com IMO.

## Actual Behavior

You can use clasp to download/upload projects, but it's not feasible to develop Apps Script locally.

## Implementation

Transpile all `ts` files `clasp push`.

[code]

Caveat: You can't `clasp pull` to update `ts` files, bu

[2018-03-27 01:09] erickoledadevrel commented on #76
It's an improvement, but I don't think that the templates provided in the UI are the most useful to the command-line audience. I'd rather see work towards developing templates specifically for the professional that are likely to use clasp. Perhaps a [Yeoman](http://yeoman.io/) generator?

[2018-03-27 01:33] grant commented on #76
What properties of a template do you think would be useful? I don't fully understand your comment. Do you want a new set of templates for professional developers? What's an example?

---

I don't think **yeoman** (or similarly bower/grunt) is a great choice for Apps Script templates. Developers use yeoman anymore, it was popular 3-4 years ago but is not active anymore.
- [history](https://github.c

[2018-03-27 02:22] erickoledadevrel commented on #76
The templates in the UI are focussed around use cases (docs add-ons, sheets add-on, etc). I'm more interested in templates around tool chains. For example, I'd love a template project that already has a way to bundle JavaScript libraries from NPM into the HTML files that Apps Script supports.

[2018-03-27 02:36] grant commented on #76
Noted. We'll have to create a list of toolchains that we'd like to inter-op with. As with this original issue, it seems like you'd be more interested in a generic solution than a specialize set of templates.

In the npm ecosystem, given toolchains change every year, it's generally good practice to make lightweight, generic package that can hook into anything. Maybe just better inter-op with npm wo

[2018-03-27 11:14] DimuDesigns commented on #72
@grant I just realized that this issue also highlights another oddity. If you look at the timestamps in the logs (screenshots 4 and 6) the timezone changed following the call to `clasp push`. It was EDT before and now its PDT after. I checked the **Project Properties -> Info** and the timezone is set to Eastern Time as expected but the log timezones are now PDT. Weird...

[2018-03-27 18:14] JeanRemiDelteil commented on #76
@grant We use internally this template ([gas-shell](https://github.com/JeanRemiDelteil/gas-shell)) as a start-up project for all our add-on and even small script project that we want to develop locally (eg: using CLASP and an editor like [Webstorm](https://www.jetbrains.com/webstorm/)).

We basically duplicate it when starting a new script, and delete all parts that are not used.
This template pro

[2018-03-28 16:51] diminishedprime commented on #70
If options can be presented in 2.0, it be great if `clasp redeploy` prompted the user to choose from the available deployments and versions.

[2018-03-29 09:13] sindhus opened #78 "Serve locally for testing"
## Expected Behavior

I expect there to be an option to serve the script locally for easier testing.

## Actual Behavior

There is no clasp command-line option to serve the Google Apps Script locally.

## Specifications

  - Node version (`node -v`): v9.8.0
  - Version (`npm list | grep clasp`):

[code]
  - OS (Mac/Linux/Windows): Mac

[2018-03-29 16:07] grant commented on #78
Are you looking to run functions locally?
That's almost impossible since Apps Script binds to Google Services like Gmail, Slides, etc.

[2018-03-29 16:53] sqrrrl commented on #78
Probably best tackled outside clasp. Really this is asking for a local apps script runtime. It's (mostly) feasible but a very large project to create an emulator that can be run locally.

I do find https://www.npmjs.com/package/gas-local to be useful in tests. Still have to mock out whatever services you use, but at least gives you loading and module (err, lack of) behavior similar to apps script.

[2018-03-30 15:38] grant commented on #78
Going to close this in favor of #11.

[2018-03-30 15:38] #78 closed

[2018-03-30 15:42] grant commented on #10
FYI: This will be documented and solved in `clasp@2.0` (#70) with optional Typescript support.

It's a bit complicated to explain, but basically, you'll rename files from js to ts if you want type support locally, or want to use es6.

[2018-03-30 15:43] grant commented on #65
PRs or detailed designs are welcome. Debugging `clasp` is an issue for me as well, and would like to see improvement.

[2018-03-30 15:44] grant commented on #14
This bug should be made clearer when #73 (`clasp status`) is implemented.

[2018-03-30 15:46] nmccready commented on #65
I'll try to get to a PR when I get back to working on google app scripts again. Thanks.

[2018-03-30 18:01] grant opened #79 "Remove bluebird/core-js"
Remove unneeded types:
- bluebird
- core-js

Reported by @erickoledadevrel

[2018-03-30 18:02] grant opened #80 "tsconfig.json not used in tsc"
`tsconfig.json` not used by `tsc`.

Reported by @erickoledadevrel

[2018-03-31 17:26] grant commented on #44
Not sure what the specific ask is here. Going to close this older issue.
Feel free to open a new one with more details of what `clasp` is missing.

[2018-03-31 17:26] #44 closed

[2018-04-02 22:23] campionfellin opened #81 "Commander doesn't catch unknown commands"
## Expected Behavior
<img width="285" alt="screen shot 2018-04-02 at 3 10 13 pm" src="https://user-images.githubusercontent.com/11984923/38218851-faa73256-3687-11e8-85af-0c3c256781ce.png">

## Actual Behavior
<img width="295" alt="screen shot 2018-04-02 at 3 16 46 pm" src="https://user-images.githubusercontent.com/11984923/38219060-e2fd29ca-3688-11e8-8dc2-0852cbc0b790.png">

## Steps to Reproduce

[2018-04-02 22:32] #81 closed

[2018-04-02 23:12] #74 closed

[2018-04-02 23:40] campionfellin opened #84 "Is this your access token?"
https://github.com/google/clasp/blob/446e52e7ed19135f3cea300f32d627774f77fd7f/index.ts#L135

[2018-04-02 23:46] grant commented on #84
Yes, it's a whitelisted Cloud Project with limited scopes and is monitored internally at Google. We might change it if there's serious abuse.

[2018-04-02 23:49] campionfellin commented on #84
Sounds good!

[2018-04-02 23:49] #84 closed

[2018-04-03 03:50] campionfellin commented on #46
I'd like to take this on!
I have written a basic logs function, which you can see here:

https://github.com/campionfellin/clasp/commit/01b0b42623ef9784874cd7daade86587ab151fd3

It needs some cleanup and styling, but should work.

[2018-04-03 04:06] grant commented on #46
Sweet! Looking good!

1 nit. We'll probably want to use the `ProjectSettings` instead of an env variable. Like:
[code]

[2018-04-03 04:30] campionfellin commented on #46
Yes, I saw the ProjectSettings, and I wasn't sure how we wanted to implement actually getting the projectId.

I see a couple options:

1) Make a command like `clasp config set projectId=test123`
       This would likely mean making other subcommands under `clasp config`
2) Run `gcloud projects list` for the user, and allow them to choose the project they have associated with the Google Script.

Fo

[2018-04-03 04:48] grant commented on #46
Currently, the other project settings (`scriptId` and `rootDir`) are in the `.clasp.json` file. Let's just add there.

---

I think a `clasp config` method could be a future option since we're adding a few properties now, but initially let's have users just modify the json file.

Also, come to think of it, we should add instructions to the README.

So, for v1, assume the Cloud `projectId` is alrea

[2018-04-03 05:09] campionfellin commented on #46
Ok, I'll assume for now that it's already in the .clasp.json file, with instructions to the user to modify that file.

In the README instructions, we should mention that you can find your projectId by following these instructions: https://developers.google.com/apps-script/guides/cloud-platform-projects#accessing_an_apps_script_cloud_platform_project

However, it's important to note that this is a

[2018-04-03 12:50] smandava opened #85 "OAuth permissions"
## Expected Behavior
`clasp login` should grant access to the app script API.

## Actual Behavior

## Steps to Reproduce the Problem

I'm trying to use the clasp tool as a G-Suite user, and I have enabled Apps Script API at https://script.google.com/home/usersettings

But the `clasp login` is giving the above error inside the browser.  While our G-Suite Administrator is willing to change the requi

[2018-04-03 19:15] grant commented on #85
For admin-restricted domains, you can have your admin whitelist `clasp` by following the instructions here: https://support.google.com/a/answer/7281227

To do this, you click the "Trusted Apps" link in that section of the UI, and then add a trusted app, selecting "Web App" and pasting in the clasp client ID
`1072944905499-vm2v2i5dvn0a0d2o4ca36i1vge8cvbn0.apps.googleusercontent.com`

Let me know if

[2018-04-03 22:17] tdooner commented on #67
I'm seeing this too. It looks like an upstream bug with `anymatch` having to do with dotfiles:

[code]

It's broken in the most recent release of anymatch.

I found a workaround, by adding these claspignore entries, but I imagine YMMV:

[code]

[2018-04-03 23:07] grant commented on #67
Pardon the `claspignore` bug. I think it's an upstream bug in [`anymatch`](https://github.com/micromatch/anymatch) which uses [`micromatch`](https://github.com/micromatch/micromatch).

It looks like we use [`1.3.2`](https://github.com/google/clasp/blob/master/package.json#L30), when there's a new version now **`2.0.0`**. The new version probably fixes this.

Does someone want to send a PR that bum

[2018-04-03 23:08] tdooner commented on #67
It doesn't, I tried the same thing with the latest version of minimatch and it still is broken.

[2018-04-03 23:11] grant commented on #67
So is [micromatch](https://github.com/micromatch/micromatch) broken?
It looks like it has a better API, maybe we can just use that instead.

[2018-04-03 23:15] grant opened #86 "Use micromatch/multimatch/glob for `claspignore`"
Use `micromatch`/`glob` for `claspignore` files.

https://github.com/micromatch/micromatch#why-use-micromatch

[2018-04-03 23:19] grant opened #87 "Setup Travis"
## Expected Behavior
- Include Travis CI
- Add badge to repo

## Actual Behavior
No Travis. See other node examples: https://github.com/micromatch/micromatch

[code]

[2018-04-04 00:36] namelus opened #88 "clasp push appsscript error even thought the file exists"
Hi

Copied over my project files to a new directory.
Entered the clasp push cmd, and received the following error:

[code]

clasp pull worked correctly.
[code]

Any ideas here?

[2018-04-04 01:29] grant commented on #88
Hmm. What's in your `appsscript.json` file?

[2018-04-04 03:15] grant commented on #88
Please provide the details in the issue template so I can reproduce this error.
https://github.com/google/clasp/blob/master/ISSUE_TEMPLATE.md

Can you install the latest version? Does `clasp` work on a new project?

[2018-04-04 04:50] campionfellin opened #89 "Clasp create should (?) check for pre-existing scripts"
## Expected Behavior

`clasp create helloworld` when you already have a `helloworld` script at https://script.google.com/home should error out, saying a script exists already.

## Actual Behavior

It creates another script named `helloworld`

## Steps to Reproduce the Problem

  1. `clasp create helloworld`
  2. (in another folder) `clasp create helloworld`

## Specifications

  - Node version (`n

[2018-04-04 04:52] campionfellin commented on #89
**Note**: this would differ from actual behavior using the website interface, which allows you to create 2 scripts with the same name.

Should Clasp allow it (since the web interface does)? Or should we not?

[2018-04-04 05:05] campionfellin commented on #46
@grant See the latest 3 commits here: https://github.com/campionfellin/clasp/commits/clasp-logs

[2018-04-04 05:53] #80 closed

[2018-04-04 06:14] grant commented on #89
Project names aren't unique, the real identifier is the ~50 character `scriptId` hash. The project names are Drive files names, which can be the same name for Drive.

I'm thinking `clasp clone <autocomplete>` in #70 would help with this. And a proper library system for Apps Script.

[2018-04-04 06:55] campionfellin commented on #89
That's a good point, I think autocomplete / `clasp list` will help with that. I am working a bit on `clasp list` right now, but looks like I'm getting rate-limited by the Drive API, which is possibly causing other errors.

[2018-04-04 06:55] #89 closed

[2018-04-04 06:56] campionfellin commented on #87
I agree, I think that in clasp@2.0 there should be some sort of testing.

[2018-04-04 07:12] campionfellin opened #92 "Clasp create makes .clasp.json file in $HOME directory"
## Expected Behavior

Clasp create should put the .clasp.json file in the current directory.

## Actual Behavior

It makes it in ~/.clasp.json

## Steps to Reproduce the Problem

  1. `mkdir test && cd test`
  2. `clasp create helloworld`
  3. `ls -a`
  4. `cat ~/.clasp.json`

## Specifications

  - Node version (`node -v`): v8.9.4
  - Version (`npm list -g | grep clasp`): @google/clasp@1.1.5
  -

[2018-04-04 11:06] namelus commented on #88
Looks like I have a new issue, will use the issue template per your request. My clasp version is 1.1.5

/d/OneDrive/Dev
$ mkdir tmp1

/d/OneDrive/Dev
$ clasp login
You seem to already be logged in. Did you mean to 'logout'?

/d/OneDrive/Dev
$ npm ls | grep clasp

/d/OneDrive/Dev
$ npm ls -g | grep clasp
+-- @google/clasp@1.1.5

/d/OneDrive/Dev
$ clasp clone 1DU_LO9FVY2d-isn0LNSnDZexhHcoxUNInM6Z-nf

[2018-04-04 11:40] smandava commented on #85
Hi @grant , Adding clasp as "Trusted App" resolved the OAuth issues. Thanks for the suggestion.

[2018-04-04 11:40] #85 closed

[2018-04-04 11:46] namelus commented on #88
Hi Grant

Thanks for your help and direction. I found a workaround here - simply created a new directory and started from scratch instead of copying the files from my other directory.

I'm pushing and pulling now.

Feel free to close this puppy out.

Kind regards,
Suleman

[2018-04-04 12:58] namelus commented on #88
Found the issue. My claspignore file had

appscript.json

not

appsscript.json

[2018-04-04 12:58] #88 closed

[2018-04-04 18:11] grant commented on #88
Great. Maybe a `clasp status` (#73) would make debugging this a bit easier.

[2018-04-04 18:12] grant commented on #85
Great.
I'll have to add this to the README.

[2018-04-04 20:16] #87 closed

[2018-04-05 19:10] diminishedprime commented on #92
Could you try running this?
[code]
Since clasp uses `findParentDir` to find the location of the `.clasp.json` file, if you have a `.clasp.json` file in your home directory, and you are navigated somewhere under your home directory (a very likely scenario), then it will just use that one as the .clasp.json file instead of creating a new one. If you delete the `.clasp.json` file in your home directo

[2018-04-05 19:38] diminishedprime opened #97 "Should throw error when running `clasp create` if there is a `.clasp.json` in a parent directory."
## Expected Behavior
When running `clasp create` in a child directory of a clasp project, clasp should throw an error explaining that nested projects are not supported.

## Actual Behavior
Clasp silently uses the `.clasp.json` file of the parent directory, but creates a new project at the `process.cwd()`

## Steps to Reproduce the Problem

  1. create a clasp project in directory `a`
  1. `cd` int

[2018-04-05 19:38] grant commented on #92
Hmm. I think this is because you ran `clasp create` at some point in `~`. We use the highest level `.clasp.json` in your file tree as your clasp project (so that you can run `clasp` in any subdir, like `git`).

Remove the root `~/.clasp.json`. I think normal `clasp create` works properly.

Nested clasp projects is not really recommended right now (Ideally it'd be like nested `.git`).

[2018-04-05 19:39] diminishedprime commented on #97
Likely related to issue #92

[2018-04-05 19:44] grant commented on #97
Solution:
- `clasp create` should `getProjectSettings`. [Here](https://github.com/google/clasp/blob/master/index.ts#L579)
  - if getProjectSettings promise resolves, then log an error saying nested `clasp` projects are not supported.

PRs welcome.

[2018-04-06 01:14] campionfellin commented on #92
Thanks for the help, this solved my problem. I'll go ahead and close this issue and let us continue in https://github.com/google/clasp/issues/97

[2018-04-06 01:14] #92 closed

[2018-04-06 04:32] #63 closed

[2018-04-06 19:31] grant opened #100 "clasp open [scriptId]"
## Expected Behavior

Now that you can `clasp list`, you should be able to open a specific `scriptId`.
`clasp open [scriptId]`

## Actual Behavior

`clasp open` doesn't allow params.

[2018-04-09 02:35] andysumi commented on #63
@grant
I am experiencing the same phenomenon.
Can note update version of Web App with "clasp deploy".

[2018-04-09 03:48] grant commented on #63
@andysumi What are the commands you're using? Use `redeploy` to update, `deploy` to create.

[2018-04-09 06:11] andysumi commented on #63
@grant
I used both command, but it did not work as expected.

[code]

[2018-04-09 17:06] grant commented on #46
Fixed with #101.

[2018-04-09 17:06] #46 closed

[2018-04-09 17:49] erickoledadevrel commented on #51
+1 to this issue, clasp shouldn't rename files. The `clasp push` command should be a read-only operation in regards to the file system.

I'd rather see:
- `clasp push` supports both `.js` and `.gs` extensions, but outputs a warning for `.gs` files noting the preference for `.js`
- `clasp pull` always creates `.js` files, regardless of whether or not `.gs` files are present

[2018-04-09 18:10] grant commented on #51
@erickoledadevrel After `clasp pull` in your example, would you want to see this?

[code]

This is what would happen to all of my projects after I first implemented the above bullets.

---

I too believe that `clasp` as a tool shouldn't rename files.
But I also believe that we'll need to support tools for local development (TypeScript, linting, execution, library systems). Those features aren't su

[2018-04-09 19:00] JeanRemiDelteil commented on #51
@grant After `clasp pull`, existing files should keep their extensions (*.gs, *.js, *.gs.js), new one should have the *.js extension.

One point that is really important here, is that a PUSH operation on the server **should not** alter the local file system.
You can add another command in the roster to specifically convert extensions, but the PUSH command should only do what its name suggests.

Ma

[2018-04-09 21:07] erickoledadevrel commented on #51
@grant - Yes, I'm fine with that as a result. As long as we warn the developer, they can deal with the repercussions. Trying to match up existing `.gs` files and preserve the extension might be nice, but I think it's unnecessary.

To your `.ts` point, I don't think we need to support two-way sync for the professional developer. How often does an AppEngine developer pull down their production code?

[2018-04-10 00:06] TimJohns opened #102 "Local build fails with index.ts:45:13 - error TS2529: Duplicate identifier 'Promise'. Compiler reserves name 'Promise' in top level scope of a module containing async functions."
## Expected Behavior
tsc succeeds and clasp can be built locally.

Note that I am hoping to add additional output, to debug why I'm getting "Push failed. Errors: Request contains an invalid argument." from clasp push (separate issue; info provided here solely for context only, to clarify why I am trying to *build* clasp, vs. *use* clasp)

## Actual Behavior
Received errors (see attached error.log)

[2018-04-10 04:02] campionfellin commented on #102
Hey @TimJohns , your error is probably related to this: https://github.com/google/clasp/issues/79

If you'd like to take a look at that issue and submit a PR to fix it that would be great! If you're not so interesting in doing that, I can probably take a look at it in the next couple of days.

[2018-04-10 14:52] TimJohns commented on #102
Thanks @campionfellin - almost certainly, and using native promises (or whatever tsc pulls in as configured) resolves that particular issue. There are however still a number of errors, which may or may not be due to the difference between Bluebird promises and these promises. I can keep chugging through these (next up is the empty string passed to `resolve()` on line 276), but I'm also still wonde

[2018-04-10 15:36] campionfellin commented on #102
Hey @TimJohns could you try changing the first part of the 'npm run build' script to say 'sudo tsc index.ts;' (so just add the index.ts). You may still get some warnings but it should build and you should be able to run clasp commands. Let me know if that works or if you get another error!

Note: by adding the index.ts we are then ignoring the tsconfig.json and so we may need to fix that as well..

[2018-04-10 15:46] TimJohns commented on #102
It still has many of the same issues:

[code]

[2018-04-10 15:54] TimJohns commented on #102
It still has many of the same issues:

[code]

That's the bad news -- the good news is despite my initial reluctance to dive in there, I'm actually making better-than-anticipated progress on a PR that addresses my build issues (and consequently Issue #79).

I also want to take a quick OT opportunity to thank you all for putting clasp together - we're currently working on a number of very much non-

[2018-04-10 17:08] grant commented on #70
@JeanRemiDelteil I'll try to cut a release this week.

[2018-04-10 18:13] grant commented on #102
I think the current local build is pretty broken (partially due to legacy issues, and partially due to new changes).

I'll be working on clasp this week to fix some of these.

#11 will be help with automated testing. Do comment on existing issues or fill out a new issue for any feature requests/ideas.

[2018-04-10 18:28] grant opened #103 "Modernize README"
- [x] Include centered title.
- [x] Update gif (gif for each method?)
  - Width: 890px
- [x] More badges (npm version, travis)
- [ ] Link TOC commands (update commands)
[ref](https://github.com/PetrochukM/PyTorch-NLP)

[2018-04-10 20:58] grant commented on #79
Removed.

[2018-04-10 20:58] #79 closed

[2018-04-10 21:05] grant commented on #43
I don't plan to integrate the Chrome Webstore API in `clasp` anytime soon. That would be out of scope of this tool at the moment. There may be other CLIs that are dedicated for this case.

Thanks for the issue though. Feel free to still comment here if you think differently.

[2018-04-10 21:05] #43 closed

[2018-04-10 21:14] grant commented on #102
I think @TimJohns can close this since it shouldn't appear in the master build now.

[2018-04-10 23:29] grant commented on #102
I'm seeing those build errors too. I've been trying to shave these errors off 1 by 1.

They don't affect the working build, but we should try to fix them. You can create a new issue if you want since someone else probably will file an issue. PRs are welcome too.

[2018-04-11 00:10] TimJohns commented on #102
Thanks @grant -- in light of your comment it suddenly dawns on me that indeed tsc generates executable JavaScript regardless of errors; LOLing at myself for missing that "subtlety". Please rest assured that I'm not actually nearly as pedantic as reporting this original issue probably made me sound -- just relatively new to TypeScript. I'll send a PR that proposes knocking out a couple more of thes

[2018-04-11 07:57] grant opened #105 "Make clasp smaller"
## Expected Behavior

Clasp is <1000 lines of code.

## Actual Behavior

`index.ts` is ~1.1k SLOCs.

## Ways to shrink logic
- Inline `getFileType`, `getAPIFileType`, `manifestExists`
- Remove `commander` boilerplate.
- Make `getAPICredentials` async.
- Make online support required (unless specified).
- Make google API requests async
- Combine API call callback.
- Remove/shorten:
[code]
- Extract

[2018-04-12 01:34] grant commented on #75
Formatting should be done in `clasp`.

[2018-04-12 01:34] #75 closed

[2018-04-12 06:49] grant commented on #38
I don't see a future where I can support this feature.
Hopefully a wrapper bash script can solve the issue at hand.

Closing this issue, but feel free to comment here as it can be re-opened at a later date.

[2018-04-12 06:49] #38 closed

[2018-04-12 06:55] grant commented on #12
Update:
- **Multiple Clasp Settings/Google Accounts** will come in `clasp@2`
  - It is needed for `clasp run` #11.
- I don't see multi `scriptId`s per coming in the near future though tbh. PRs are welcome.

[2018-04-12 07:03] grant commented on #76
Thanks for the discussion @erickoledadevrel @JeanRemiDelteil. There are a lot of ideas here.

Seems like simply using `git` would be more flexible than anything additional in `clasp`. Closing this one.

[2018-04-12 07:03] #76 closed

[2018-04-12 17:05] grant commented on #70
The release will be next week actually.

[2018-04-12 18:00] yumetodo opened #108 "Adding global function is not reflected to Google Spread Sheet by clasp push to Apps Script bounded with Google Spread Sheet"
## Abstruct

Adding global function is not reflected to Google Spread Sheet by clasp push to Apps Script bounded with Google Spread Sheet.

## Expected Behavior

![img](http://www.plantuml.com/plantuml/svg/TP1DQWCn38NtSmfT81UOHKdfeWUO4nYF9ZQr9QCVsjo-nKbnMfoDmUZf-z0xgmKnhsMv27k3M88sQAvf0O3Rz_Jopdmf-DgQRb5oitKa_ez-mriJ3FkM4EqjQC8LY2qVLpYSecKce51nGThlPfCh64CCfG3XvyWTmlMkWHiLEdRe7sNF_J5X_01BED3ubTLq3k

[2018-04-12 18:03] grant commented on #108
How are you (4) calling  the new function?

Did you say `@customfunction` in your method comment?
Can you give a specific example?

[2018-04-12 18:05] yumetodo commented on #108
Yes. I'm trying to create customfunction via clasp.

[2018-04-12 18:06] yumetodo commented on #108
https://github.com/miraiken/event-201803-analyse

This is final production code.

To satisfy Google Apps Script's requirement, I use [gas-webpack-plugin](https://github.com/fossamagna/gas-webpack-plugin).

[2018-04-12 18:08] namelus opened #109 "Feature Request: clasp diff"
Great work. So very appreciative for this.
Wondering if you're entertaining a clasp diff functionality. I often wonder which code base is most current. And a clasp diff that brings the last updated at the header would help me know when i last pushed or pulled.

Thanks again!

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Node ve

[2018-04-12 18:09] grant commented on #108
I don't think this is `clasp`'s fault.
Please link the exact function you can't call.

[2018-04-12 18:16] yumetodo commented on #108
Who has the responsibility of this issue, you think?

By Step (7), now, I can call correctly.

![image](https://user-images.githubusercontent.com/10869046/38695981-d4ba1088-3ec8-11e8-891f-7b81b0ccc5b7.png)

[2018-04-12 19:18] grant commented on #77
Provide a guide like this:
https://firebase.google.com/docs/functions/typescript

[2018-04-12 22:40] sqrrrl commented on #105
Just curious -- why impose a 1000 loc limit on clasp?

[2018-04-12 22:44] grant commented on #105
This issue is more of a suggestion. I think it would be good to extract some logic into npm modules.
I think ~1k is about the spot where a developer can fully understand what is happening within the code.
Also I've noticed `tsc` is getting slower the more lines we add.

[2018-04-17 06:54] grant commented on #57
So I've look at this for a bit today. There seems to not be an ideal solution that fits for clasp.

The issues are multifold.
- I'd expect `clasp` to be executed from a bash script as well as a user.
- It seems tab autocompletion is not possible without bash rc modification (which I don't want to do).

## Command Prompt Options

**Inquirer**: Too basic. Can't take specific commands, treats everyth

[2018-04-17 06:58] grant commented on #109
@namelus Good idea, I've wondered if this would be useful too.
However, I think once TypeScript development production-ready, I don't think there's a need to use the script editor.

It comes down to this: `git diff` will **always** be better than anything we can build.

We might want to add a section on working with `git` to the README. What do you think?

[2018-04-17 07:00] grant commented on #108
I'm saying, I think if you create the same script without `clasp`, you'll have the same problem.
Can you try that and report here if not using `clasp` creates the same effect?

[2018-04-17 07:04] #54 closed

[2018-04-17 20:41] ajlai commented on #67
micromatch/glob/anymatch treat dotfiles differently because default bash glob behavior is not to have the dotglob option enabled: https://www.gnu.org/software/bash/manual/html_node/Filename-Expansion.html

I think though that claspignore behavior should match gitignore behavior instead of bash otherwise we'll run into more situations like this.

@grant, what are your thoughts on using a matching l

[2018-04-17 20:51] grant commented on #67
@ajlai `globby` looks like it could be better than the other options.

I honestly don't know these libraries very well.

Now that we have TravisCI testing working, I think a good first stab at this would to be to create a test that shows that the current ignoring is broken (test `clasp status`), and than swap the current code with one of these libraries so it's fixed.

[2018-04-17 21:06] ajlai commented on #67
@grant actually just saw that globby is using https://www.npmjs.com/package/ignore internally. We can just use that instead.

TBH I don't know these libraries very well either, was just curious about this bug so I decided to dig in a bit 😄.

Awesome, good to hear that TravisCI is up and running! I'll see if I can take a stab at getting the test case/swap done when I have some time.

[2018-04-17 22:09] jhairau commented on #63
@grant @andysumi @onlinelaser
I've also used both commands.

True: There is a new version deployed on the Google Apps Scripts
False: There is NOT a new **Web App** version deployed on Google Apps Scripts

[2018-04-18 00:14] grant commented on #50
For pushing to multiple project, you'll need to swap your `clasp.json` files.

Maybe have two settings: `.project1.clasp.json` and `.project2.clasp.json`.
Then `cp .project2.clasp.json .clasp.json`.

I won't support modifying dotfile settings inside `clasp` at the moment. Feel free these instructions to the README.

[2018-04-18 00:14] #50 closed

[2018-04-18 01:41] campionfellin opened #117 "Move "Develop" section of ReadME to Contributors Doc and update it"
## Expected Behavior

Contributors documentation should have instruction on running tests, common errors, etc.

## Actual Behavior

There is not a ton of information, making it hard to troubleshoot, and hard for new developers to work on `clasp`

Going to assign this to myself as a reminder to update tomorrow.

[2018-04-19 05:44] campionfellin commented on #117
Closing this as per: https://github.com/google/clasp/pull/120

[2018-04-19 05:44] #117 closed

[2018-04-21 02:36] campionfellin opened #124 "Clasp logout doesn't logout when you use clasp login --ownkey"
## Expected Behavior

`clasp logout` should delete `.clasprc.json` in working directory (and in ~/)

## Actual Behavior

`clasp logout` only deletes from `~/`, see here: https://github.com/google/clasp/blob/3da3a3c69171aaa430d19852f6f2f15031f6f5e8/index.ts#L567

Probably just need to add a line after with `del(DOT.RC_LOCAL.ABSOLUTE_PATH, { force: true });`

## Steps to Reproduce the Problem

  1.

[2018-04-21 05:32] ajlai opened #126 "Enforce up to date package-lock.json using npm-ci"
## Expected Behavior
For all changes, the package-lock.json dependencies should match those in package.json.

This can be enforced in travis using npm-ci https://docs.npmjs.com/cli/ci
## Actual Behavior
We currently don't enforce package-lock.json being up to date with package.json in tests.

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Node version (`node -v`)
  - Ver

[2018-04-21 05:33] #126 closed

[2018-04-22 20:02] campionfellin opened #128 "Clasp logs sometimes returns unhandled promise rejection"
## Expected Behavior

`clasp logs` --> it shows your logs

## Actual Behavior

Sometimes when running `clasp logs` you get an unhandled promise rejection that looks like:

[code]

## Steps to Reproduce the Problem

  1. `clasp create`
  1.  Run your function that logs things, like `console.log('logging now...')`

## Specifications

  - Node version (`node -v`): v8.9.4
  - Version (`npm list -g | g

[2018-04-23 00:51] #128 closed

[2018-04-23 21:06] grant commented on #109
As stated above, `git diff` will always be better anything in `clasp`. Closing, but feel free to add to the discussion here though.

[2018-04-23 21:06] #109 closed

[2018-04-23 23:34] onlinelaser commented on #63
@grant sorry for the delay, finally got back to testing this, and I can also confirm that neither deploy nor deploy followed immediately by a redeploy make the new deployment active 😞

[2018-04-24 03:17] campionfellin opened #131 "Fix clasp login --ownkey and related issues"
## Expected Behavior

When you use `clasp login --ownkey`, all further `clasp` commands should use the `.clasprc.json` generated in your working directory.

## Actual Behavior

Commands, like `clasp list`, `clasp login`, etc don't "know" about the `.clasprc.json` in the workdir. This is likely stemming from `getAPICredentials()`. We probably shouldn't pass in a boolean `isLocal`, but rather start

[2018-04-24 05:58] campionfellin opened #133 "Move utility functions to src/utils.ts"
This will improve the readability and maintainability of `clasp`

* [ ] Move util objects and functions like DOT, DOTFILE, etc to `src/utils.ts`
* [ ] Integrate changes into `index.ts`
* [ ] Run all the tests (all are relevant)

[2018-04-24 06:02] campionfellin opened #134 "Move commands to src/commands.ts"
This will improve the readability and maintainability of `clasp`

* [ ] Move commands one at a time to `src/commands.ts`
* [ ] `clasp login`
* [ ] `clasp logout`
* [ ] `clasp create`
* [ ] `clasp clone`
* [ ] `clasp pull`
* [ ] `clasp push`
* [ ] `clasp open`
* [ ] `clasp deployments`
* [ ] `clasp deploy`
* [ ] `clasp redeploy`
* [ ] `clasp version`
* [ ] `clasp versions`
* [ ] `clasp list`
* [ ]

[2018-04-24 11:25] pablodonayre commented on #63
When i use: clasp redeploy <id of deployment> <version> <description>
I get "Updated deployment" in my terminal

But, when i refresh the web browser (F5) i get an error message "Se necesita autorización para realizar esta acción" (You need authorization to perform this action) in the browser.

Also, my previous config was:
Execute the app: As me
Who has access to the app: Anyone, even anonymous

H

[2018-04-24 22:37] grant commented on #134
It would be cool if we reorganized the commands in a way where we could:
- Easily test commands
- Generate the command documentation
  - Since it's easy to miss optional args and new features

[2018-04-24 22:38] grant commented on #133
SGTM.
I'd probably do this first before moving the commands and make sure the `tsc` command is correct.

[2018-04-24 23:53] campionfellin commented on #133
Yeah this issue is especially important to improving our test coverage. Once separated, it should be much easier to test methods like: https://github.com/google/clasp/blob/9ad0a4220b6b84b9a9eb6a511297e24461e2dae5/index.ts#L263

[2018-04-24 23:55] campionfellin commented on #134
I agree... I think that an even better organization would be something like:

`src/commands/login.ts`
`src/commands/logout.ts`
`src/commands/list.ts`

etc...

Thus each command could be easily isolated and tested.

[2018-04-25 05:01] grant commented on #105
I think we'll break apart the single file with #134.
But there are some good ideas of keeping `clasp` small here.

[2018-04-25 05:33] campionfellin commented on #134
Yeah I like this idea, though a couple questions/comments:

1. Why would we be duplicating `LOG` and `ERROR`? Couldn't we just import them wherever we need?
2. I really like the idea of separating the command logic from the actual CLI library that we use, it'll be much easier to maintain and if we decide to switch to something like Vorpal that will make things easier.
3. This seems like quite a bi

[2018-04-25 06:02] campionfellin opened #137 "Reduce 3rd party dependencies"
There's a lot of third party dependencies, like:

`find-parent-dir`
`split-lines`
`read-file`
`dotf` (sorry @grant )
`read-multiple-files`
`readline`

We should take a look at at least some of them and see what is actually needed and what we can roll on our own.

[2018-04-25 06:02] grant commented on #134
1. Assuming `commands.ts` uses all ~50 `LOG`/`ERROR`s, if we moved them to a separate file outside `commands`, we'd have to import/export them.
1. Separating SGTM. Maybe we can even `module.export` them sometime.
1. I think the next public version of clasp will be 2.0. I think the last main thing for the `2.0` list is `--watch`.

[2018-04-25 06:04] grant opened #138 "Add tslint max-line-length"
## Expected Behavior

PRs don't have >120 char lines of code.

## Fix

Add this lint rule:
https://palantir.github.io/tslint/rules/max-line-length/

[2018-04-25 06:06] campionfellin commented on #134
1. Gotcha. I think it's also worth taking a look at reducing how many different `LOG`/`ERROR`s we have.
3. I think that much of this re-factoring should be pushed off to clasp 3.0 then (or maybe 2.1/2.2). In addition to `--watch`, we need to fix `clasp run`, as it doesn't seem to work at the moment. Probably related to finding a general solution to https://github.com/google/clasp/issues/131 / `get

[2018-04-25 06:08] grant commented on #137
If we can reduce them, sure.
I wrote `dotf` because I didn't find a good dotfile manager.

For Node, 3P dependencies are usually better than rolling-your-own.

[2018-04-25 06:12] campionfellin commented on #137
Just might be worth looking at them

[2018-04-25 07:48] Ryangr0 commented on #63
We have the same problem.

[2018-04-25 13:13] #138 closed

[2018-04-25 22:10] campionfellin commented on #97
This was fixed in #99

[2018-04-25 22:10] #97 closed

[2018-04-26 00:23] grant opened #146 "Make getProjectSettings async"
`getProjectSettings` should be async to reduce nesting.

## Expected Behavior

[code]

## Actual Behavior

[code]

[2018-04-26 04:58] designgrill opened #147 "Deploy failing with "Unable to deploy; Only one deployment can be created at a time" after few deployments"
## Expected Behavior
On issuing command `clasp deploy <version>` the deployment should go if no other deployment is happening.

## Actual Behavior
Instead it fails with `Unable to deploy; Only one deployment can be created at a time` whereas I am able to deploy using the script editor.

## Steps to Reproduce the Problem
N/A

## Specifications

  - Node version v9.3.0
  - Version @google/clasp@1.1.

[2018-04-26 05:17] #100 closed

[2018-04-26 05:40] campionfellin commented on #147
Hey @designgrill is there any other output when you run `clasp deploy`? Something like `Created version xx.` There is an error if you have more than 20 deployments. We are working on fixing that.

[2018-04-26 13:18] designgrill commented on #147
Hi @campionfellin, no I don't see anything like that.

And you are right, the issue first appeared with my 20th version.

[code]

[code]

[2018-04-26 13:37] campionfellin commented on #147
I've made a PR: https://github.com/google/clasp/pull/149 to make that error message more clear. Please let me know if that issue appears again below version 20.

[2018-04-26 13:48] designgrill commented on #147
Thanks. Do you have workaround for this? I am not sure if I am using the versions and deployment right as I don't really need the old versions but they are still around.

[2018-04-26 16:54] thomasbholman commented on #21
If anyone else looks through this thread for the mysterious "Error: Request contains an invalid argument" , the issue that caused me recently to get this same error was that I did not have my .git file entered in the .claspignore file. If you have a .git file in that directory, you'll want to place it in your .claspignore file.

[2018-04-26 20:52] nmccready commented on #67
oh look you can experiment globby to your heats content easily now  https://github.com/jamiebuilds/globby-cli

[2018-04-27 03:13] campionfellin commented on #147
Hey @designgrill for now, you could try `clasp open` and then **File->Manage versions...** and then hit the **X** next to the old versions you want to remove.

[2018-04-27 03:42] campionfellin commented on #103
![clasp-create](https://user-images.githubusercontent.com/11984923/39343526-274651d0-4992-11e8-94c7-765b3ba0a438.gif)
![clasp-create-no-name](https://user-images.githubusercontent.com/11984923/39343529-2b655e64-4992-11e8-8c33-48294fbfdfa2.gif)

Uploading images here to get the link for them...

[2018-04-27 09:37] nepsilon commented on #8
I'm using clasp from a censored internet where all things Google are blocked and need the proxy feature. Using proxy environment variables doesn't work.

[2018-04-27 17:51] nepsilon commented on #8
@grant Yes, all blocked domains and IP requires a VPN or proxy. It's very standard in places like China.

[2018-04-27 21:15] grant commented on #8
Unfortunately G Suite and many of Google's services are blocked in China. I can't solve that issue. I'm guessing the Firebase tool would probably prefer to not be blocked too to solve that linked issue.

I don't understand why environment variables don't work, do you really need every single tool you use to implement a custom `--proxy` option?

Underneath it all, we use [`googleapis`](https://www.

[2018-05-01 15:16] guelster opened #157 "All external libraries are removed when there is a new push"
## Expected Behavior
All external libraries remain in the script after a code push

## Actual Behavior
All external libraries were removed from the script after a code push and had to manually add the libraries back to the script using respective library keys

## Steps to Reproduce the Problem

  1. run 'clasp push'
  2. code is pushed but all libraries are gone

## Specifications

  - Node versio

[2018-05-02 21:39] FiloSottile opened #159 "Exit with an error on non-existing commands"
## Expected Behavior

On running a mispelled command, or `help` (instead of the flag) or `list` (unimplemented), the program should print a message and exit with code > 0.

## Actual Behavior

Nothing is printed and the exit code is 0.

This is particularly confusing for `list`, as that was the first command I tried and empty output suggests it can't find any projects.

## Specifications

  - Node

[2018-05-02 23:26] campionfellin commented on #159
@grant Does npm need to be updated? I was able to reproduce this if installing using `npm install @google/clasp -g`

[2018-05-03 04:33] FiloSottile commented on #77
You can get very good TypeScript support by installing types and compiling before pushing. https://blog.filippo.io/gmail-bot-with-apps-script-and-typescript/

[2018-05-04 15:27] grant commented on #157
Can you give me a small test case? `node_modules` are removed after `clasp push`?

[2018-05-04 15:28] grant commented on #147
Does `clasp undeploy` work? We should suggest that instead of just saying
`Unable to deploy; Only one deployment can be created at a time`

[2018-05-05 00:05] campionfellin commented on #147
I believe the message now is  from `ERROR.DEPLOYMENT_COUNT` : `Unable to deploy; Scripts may only have up to 20 versioned deployments at a time.`. Located here: https://github.com/google/clasp/blob/73765e073ed8571bc7bbd97dae400fffd3b477b3/src/utils.ts#L86

We can update that if needed.

[2018-05-05 01:07] guelster commented on #157
@grant Thanks for the reply. the library I am referring to is the google app script library, not node libraries (i.e. if you go into Resources> Libraries in the script editor in google script).

The library I was trying to use was [LodashGS](https://github.com/oshliaer/lodashgs). It seems that after everytime I push, I have to manually go into app script editor and add this library back to the scr

[2018-05-05 01:37] grant commented on #157
Can you copy your manifest file here?
With script.google.com: `View > Show manifest file`
With clasp: `appsscript.json`

Are they the same? Does updating the clasp version, then `clasp push` fix this?

[2018-05-05 01:45] guelster commented on #157
ahh, I see the issue now. I am supposed to add the library into my appscript.json. Thanks @grant

[2018-05-05 01:45] #157 closed

[2018-05-05 02:51] grant commented on #159
npm needs to be updated. I'm a bit busy preparing for I/O next week.
@campionfellin Is the build stable? I can publish but I won't be able to debug any build errors.

[2018-05-05 06:15] campionfellin commented on #159
@grant please look at https://github.com/google/clasp/pull/160 which should make it stable, but also try to run all tests locally to make sure (make sure to `clasp login` before running tests). Also run the `clasp deployments`, `clasp deploy`, and `clasp versions` tests separately.

[2018-05-08 10:00] invmatt commented on #67
In addition to `.claspignore` failing to ignore node_modules correctly it's also generate errors with random `.md` files. I've tried matching against *.md */**/.md and a whole bunch of other wildcards and the error:

[code]

Still happens no matter what you attempt to ignore.

[2018-05-09 19:40] jvasallo opened #161 "Code Lab Typo"
In the code lab on step 5, there is step to update the variable name in strings.gs but not the variable name in Code.gs.

```In your favorite text editor, navigate to util/strings.gs and replace the variable name world to mondo. To update the updated code on script.google.com, push your edited code.```

may need to become:
```In your favorite text editor, navigate to util/strings.gs and replace th

[2018-05-11 01:33] campionfellin opened #162 "clasp clone should show script name as well as ID"
## Expected Behavior
When running `clasp clone` without an argument, it lets you choose by scriptId. We should add something like `- myScript` to the right to make it easier to find your script.

## Actual Behavior
<img width="431" alt="screen shot 2018-05-10 at 6 31 07 pm" src="https://user-images.githubusercontent.com/11984923/39901994-6bb931d6-5480-11e8-86e2-8dff8f20f998.png">

## Steps to Repr

[2018-05-11 05:55] grant commented on #162
The chooser should probably allow you to fuzzy match your input on the id/script title.

[2018-05-11 22:05] grant commented on #161
Thank you @jvasallo!
Updated https://codelabs.developers.google.com/codelabs/clasp/#4

[2018-05-11 22:05] #161 closed

[2018-05-11 22:11] grant commented on #137
Going to close this issue as we can't simply remove these dependencies easily.
- not specific (reducing dependencies)
- not actionable (we can't delete any of these afaik)

The filesystem modules are useful an probably necessary for a package that uses the filesystem heavily.

We can create a new issue if we find a specific module that can be removed.

[2018-05-11 22:11] #137 closed

[2018-05-11 22:36] ajlai opened #163 "Request: clasp status --json"
## Expected Behavior
clasp status has a `--json` switch to output status in a more parseable format (Currently would help with building out clasp status test cases).
[code]

## Actual Behavior
[code]

## Specifications

  - Node version (`node -v`)
  - Version (`npm list -g | grep clasp`):
  - OS (Mac/Linux/Windows)

[2018-05-11 23:36] grant commented on #163
Seems like a fine FR but I don't see the value in it. What' the use case?
For example, `git status` doesn't have a json option, but I'm sure it's been requested.
What about a `deployments` or `versions` `--json` option?

I'd not want to build this feature just yet as we could expand to have all methods have a `json` option or export our results in an API as suggested before.

[2018-05-11 23:39] ajlai commented on #163
While I'm building the clasp status tests, it'd be nice to not have to build additional (brittle) parsing just to deconstruct the status output to feed back into the tests.

[2018-05-11 23:44] ajlai commented on #163
FWIW git status has a `--short` option that does make it easier to parse. https://git-scm.com/docs/git-status#_short_format
I considered that, but thought `--json` would be a much simpler approach for the same outcome.

[2018-05-12 00:07] grant commented on #103
I updated the header a bit.
Looking at other READMEs: https://github.com/matiassingers/awesome-readme

[2018-05-14 07:13] #124 closed

[2018-05-15 02:35] ajlai opened #166 "Request: clasp logs --tail"
## Expected Behavior
Logs continue streaming until Ctrl+C is pressed, like:
https://devcenter.heroku.com/articles/logging#real-time-tail

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Node version (`node -v`)
  - Version (`npm list -g | grep clasp`):
  - OS (Mac/Linux/Windows)

[2018-05-15 17:23] #131 closed, assigned to nobody

[2018-05-16 00:05] msmialow opened #171 "clasp push disables all 'Advanced Google Services'"
## Expected Behavior
clasp push has no effect of the on/off state of Advanced Google Services.

## Actual Behavior
clasp push turns all enabled advanced services to 'off'.

## Steps to Reproduce the Problem

  1.Enable any Advanced Google Service in script
  2.clasp push changes to script
  3.Advanced Services are all turned off

## Specifications

  - Node version (`node -v`) - **9.9.0**
  - Vers

[2018-05-16 00:13] grant commented on #171
Thanks for the gif.
If you modify the project in the online editor, you must `clasp pull` to update your local environment.
`clasp push` overrides the content in the online editor.

`View > Show manifest file` to see your Advanced Services like this:

[code]

Are things still broken if you `clasp pull` first?

[2018-05-16 00:15] grant commented on #166
Valid FR.
Doesn't seem too hard to implement, just poll every 3 seconds or so.

[2018-05-16 00:16] grant commented on #163
Above PR was merged. Closing.

[2018-05-16 00:16] #163 closed

[2018-05-16 00:33] #171 closed

[2018-05-16 00:42] grant commented on #171
Yeah, it's not at all intuitive. I think the manifest file should not be hidden from the script.google.com UI.

Pulling before pushing is usually a good habit like with git. Maybe we can add a note somewhere about manifests. PRs/issues welcome!

[2018-05-16 01:09] campionfellin commented on #162
Closing as per https://github.com/google/clasp/pull/170

[2018-05-16 01:09] #162 closed

[2018-05-16 01:10] campionfellin commented on #159
@grant time to update npm?

[2018-05-16 02:48] grant commented on #159
I've successfully tested all clasp commands and published the latest release. I don't think errors exit the CLI with non-zero values though.

[2018-05-16 02:50] grant commented on #70
Delayed the latest release by a month.
I'll close this mega issue in favor of smaller issues as the state of things here is hard to maintain.

[2018-05-16 02:50] #70 closed

[2018-05-17 09:38] tombell opened #173 "Versions command only lists first 50 versions"
## Expected Behavior

Should be able to view all versions

## Actual Behavior

Only see versions 1 to 50

## Steps to Reproduce the Problem

  1. Have over 50 versions of a project
  1. `clasp versions`

## Specifications

  - Node version (`node -v`): 8.11.1
  - Version (`npm list -g | grep clasp`): 1.3.0
  - OS (Mac/Linux/Windows): macOS 10.13.4

Would be nice to see latest 50 versions, or all o

[2018-05-17 17:49] grant commented on #173
PRs welcome!
`pageSize` here: https://github.com/google/clasp/blob/master/index.ts#L652

[2018-05-20 10:46] TETRA2000 opened #174 "It's better not to return 0 as exit code when push failed"
I use this kind of npm script as deploy task.
`"deploy": "clasp push && clasp deploy"`
Unfortunately this won't stop when push failed because of this issue.

So I think it's better to return non-zero code instead.

## Expected Behavior
`clasp push` should return non-zero code when failed.

## Actual Behavior
`clasp push` returns `0` when failed.

## Steps to Reproduce the Problem

  1. Put some un

[2018-05-20 23:38] iaindooley commented on #63
It doesn't appear that clasp deploy can be used to update a web application, and also can't be used to approve permissions and things like that. This would be a very useful addition. At the moment, the "Deploy as Web Application" is the only step in the development process that requires a desktop browser.

[2018-05-21 01:06] TrojanCoder opened #176 "Clasp push results in Google Drive error for all deployments of Web App"
## Expected Behavior
Write code locally and then push it for server side testing (the Web App relies on Google so I can only test so much locally).

## Actual Behavior
When I push and then navigate to any deployment url, including the special HEAD one that ends in /dev, I get a web page with the title "Google Drive Error" and the following message:

In order to view any changes I have to reload th

[2018-05-21 01:09] grant commented on #176
In the `Steps to Reproduce the Problem` section, can you provide exact steps including a minimal example (i.e. code)? All clasp steps you took (`clasp deploy`?)

That would help me debug this easier.

[2018-05-21 01:38] TrojanCoder commented on #176
I've updated the steps. I'm not including deploy issues because it seems like that's covered by [#63](https://github.com/google/clasp/issues/63). If it matters adding a version and deployment after clasp push has no effect, and this happens after manually deploying the first time (so the script editor says the project is published in the lower left).

[2018-05-21 06:50] harihsb opened #178 "Selective file push and pull , clasp diff"
## Expected Behavior
To push a single file at a time.
Eg: _clasp push app.js_

## Actual Behavior
_clasp push_
Pushes all files at once

Similarly , for pull . I would like to pull certain files alone.

Also the difference between the local and drive files could not be found . Please include a command for that too .

[2018-05-21 07:37] #174 closed

[2018-05-22 15:54] nirazul opened #179 "Clasp push destroys macros"
## Expected Behavior
When I'm using `clasp push` in a Google Sheets file, all macro related things are removed.

## Actual Behavior
I'm able to...
- ...push files without intervening with existing Macros
- ...edit/update macros when pushing a `macros.gs` File

## Steps to Reproduce the Problem

  1. Update anything in a document that has an existing macro

## Specifications

  - Node version: `8.9

[2018-05-22 16:07] grant commented on #178
Please file 1 feature request per GitHub issue.

- `clasp diff` was proposed here #109. Please continue conversation in that thread.
- I don't know much of a reason to pull/push one file. Why would anyone want to do this? You can ignore files you don't want to push.

[2018-05-22 16:08] #146 closed, assigned to nobody

[2018-05-23 05:27] harihsb commented on #178
Ok thanks

[2018-05-23 05:31] ajlai opened #180 "Simplify auth module usage"
Based on https://github.com/google/clasp/pull/177#issuecomment-390697852

## Expected Behavior
auth module exports authenticated `getScript() : Promise<Script>` and `getDrive() : Promise<Drive>` methods as ways to access script/drive resources.

## Actual Behavior
auth module exports `oauth2Client` and `getAPICredentials()` which needs to be called before anything which uses the `oauth2Client` (co

[2018-05-23 05:41] ajlai opened #181 "Make clasp compile without errors with strict flag"
## Expected Behavior
Clasp compiles without errors using --strict flag. The strict settings would help catch future bugs and make for a cleaner codebase.

## Actual Behavior
Compiling under --strict shows these errors:
[code]

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Node version (`node -v`)
  - Version (`npm list -g | grep clasp`):
  - OS (Mac/Linux/Windows)

[2018-05-23 05:56] ajlai opened #182 "Standardize exit code/console.error behavior"
## Expected Behavior
Would address https://github.com/google/clasp/pull/175#pullrequestreview-121706530.
We can wrap all commander.action logic with something like https://github.com/tj/commander.js/issues/505#issuecomment-244988124

This would let us to catch and handle common errors across commands more easily.

## Actual Behavior
clasp errors sometimes still return 0, exit code logic scattered

[2018-05-23 06:56] nirazul commented on #179
Ahhh, I see now. Macros are registered in the manifest file.
Sorry, closing here.

[2018-05-23 06:56] #179 closed

[2018-05-24 03:18] campionfellin commented on #105
This is being worked on in #133 and #134. Going to close this issue in favor of more specific issues like the others.

[2018-05-24 03:18] #105 closed

[2018-05-24 03:39] campionfellin commented on #181
Hey @ajlai , this is a great issue! Since we don't compile using --strict by default, I've put it in our `tsconfig` file here: https://github.com/google/clasp/pull/183
Would you like to take this one? If not, I can totally do it.

[2018-05-25 15:10] campionfellin opened #187 "Issue with `clasp clone`"
## Expected Behavior

It shows the list of scripts you can clone and you pick one and it clones it.

## Actual Behavior

Rather than trying to clone the `scriptId` it tries to clone `scriptName - (scriptId)`.

This is likely an error here: https://github.com/google/clasp/blob/02f8f278eda026b46cbfa23e8d4e51a2e20ee45b/index.ts#L315

That was introduced in https://github.com/google/clasp/pull/170

##

[2018-05-25 15:56] ajlai commented on #181
@campionfellin feel free to take it!

[2018-05-25 16:59] grant opened #188 "`clasp create` prompts if a script already exists"
Minor bug when moving to `inquirer`.

## Expected Behavior

[code]

## Actual Behavior

[code]

## Fix

This check should be before the prompt:

[code]

[2018-05-25 17:06] grant commented on #181
I'll be trimming down these errors in a new minor patch today.

[2018-05-26 02:29] grant opened #190 "npm install is inconsistent"
I'm not able to consistently install clasp. I sometimes get these errors:

[code]

# Configs

[code]

# Command

[code]

[code]

# Possible Solutions

This seems to not give the errors:
`sudo npm i -g @google/clasp --allow-root`

Another option would be to remove `grpc`, but I believe it is needed with a different npm module.

`sudo npm i -g @google/clasp --unsafe-perm`
seems to always work too.

[2018-05-26 02:33] grant commented on #190
grpc is connect to protobufjs (which is probably connected to google APIs)

[2018-05-26 02:34] grant commented on #190
Running `sudo npm rebuild` in the `clasp` folder fixes the CLI. Maybe it should be added as a postinstall step.

[2018-05-26 02:47] grant commented on #190
I think grpc is used for StackDriver logs (`@google-cloud/logging`):
[code]

If this is the case, we should remove `@google-cloud/logging` in favor of `googleapis`.

[2018-05-26 05:52] #188 closed

[2018-05-26 06:05] campionfellin commented on #181
Closing, as this was fixed in this commit: https://github.com/google/clasp/commit/19bc29059bb069610ed1e72d676067e313030cd9

[2018-05-26 06:05] #181 closed

[2018-05-26 06:16] campionfellin commented on #190
Looks like if we want to ditch `@google-cloud/logging` we have a couple of options. We can either use [Bunyan](https://github.com/googleapis/nodejs-logging-bunyan) or [Winston](https://github.com/googleapis/nodejs-logging-winston), neither of which appear to use `grpc` just by glancing at their `package.json`. I don't have much experience with either, so I have no preference.

[2018-05-26 18:05] campionfellin commented on #190
Ok, I think that I have figured this out:

TLDR; We will continue to use `@google-cloud/logging` but NOT `grpc`.

1. Bunyan vs Winston
        Those these both look like great logging libraries, it is not clear that you can use them to read StackDriver logs, just to format and send log entries to StackDriver. Thus we will not use them.

2. Looking at `@google-cloud/logging`'s dependencies, we see

[2018-05-26 18:15] grant commented on #190
Thanks for investigating!
I think we shouldn't use any `@google-cloud/` libraries. It brings another set of dependencies and is duplicative of the `googleapis` library. I think those libraries are better for a server environment and not a quick command line interface.

I'd want to explore a solution that uses `googleapis` and doesn't use `@google-cloud/*`. If that doesn't work, we can follow the a

[2018-05-26 18:26] campionfellin commented on #190
Ah, I did not realize `googleapis` has a logging client. I will check it out and see what we can do. Thanks!

[2018-05-27 17:59] campionfellin opened #193 "Unneeded branch"
We have this branch, https://github.com/google/clasp/tree/test1.2 though it's 81 commits behind master and looks like it was for a previous version of `clasp`. Please delete.

[2018-05-28 00:55] #190 closed

[2018-05-28 00:55] #187 closed

[2018-05-28 17:06] grant commented on #193
Done.
[code]

[2018-05-28 17:06] #193 closed

[2018-05-30 01:59] campionfellin commented on #182
I think a good direction this could take is finding any `console.error(...)` in `index.ts` and replacing that with `logError(...)` https://github.com/google/clasp/blob/2cd12253a9c77dcd8c021a4949110dc1b9057b41/src/utils.ts#L119

which for now will exit with status 1.

I think that if we are going towards a model of wrapping commands like that, we could use `logError(...)` and additionally wrap ever

[2018-05-30 04:03] campionfellin opened #196 "Limit to how many apps scripts you can create?"
While doing some testing, I ran into this error, specifically on any `clasp create` commands:

[code]

Looks like I was rate limited on something. I can't find any rate limits anywhere that would suggest I should be though..

[2018-05-30 04:29] grant commented on #196
For every Google API method (in these APIs at least), there is a rate limit/**user**/hour (per user per hour).

`create` looks fine to me so it looks like you've been creating many scripts in succession on the user's account. The limit is already increased for `clasp`, so I don't think any user will face the limit unless they're developing `clasp` or abusing the system.

Creating whole new Apps Sc

[2018-05-30 04:29] #196 closed

[2018-05-30 04:51] campionfellin commented on #196
Yeah I saw that and also some other documentation, but I couldn't find a solid number on it. I don't think there is anything wrong with `clasp create`, it'd just be nice to know what that limit is and where is it enforced. (Is it a Drive API limit, an Apps Script Limit, etc?)

[2018-05-30 04:56] grant commented on #196
Just search quotas on console.google.com and you'll find something like this:

<img width="988" alt="screen shot 2018-05-29 at 21 54 41" src="https://user-images.githubusercontent.com/744973/40699743-fd03c50c-638a-11e8-8679-1d06ddd6003f.png">

It's probably not a detail I'd put in the repo, but happy to answer it here or on Slack.

[2018-05-30 05:42] campionfellin opened #197 "Tests should be easier to run"
## Expected Behavior

You download `clasp`, open up `tests/test.ts` and find and replace `describe.skip` with `describe` (to enable all tests) and then `sudo npm run build && npm run test`. All tests should pass with minimal setup.

## Actual Behavior

As it stands, there's a handful of tests that don't work without extra setup (namely: `clasp push`, `clasp deploy`, `clasp deployments`, `clasp ver

[2018-05-30 16:37] #197 closed

[2018-05-30 19:07] grant commented on #134
All commands have been moved to `commands.ts`.

[2018-05-30 19:07] #134 closed

[2018-05-30 19:45] grant commented on #108
Were you able to try to reproduce the error without clasp?

[2018-05-30 20:31] grant opened #200 "Generate README Doc"
## Expected Behavior

The README methods should be generated from the TypeScript file.

## Actual Behavior

The README is slightly out of date, duplicates jsdoc comments, and must be hand edited.

## Solution

- Create a file called `generateDocs.ts`.
- Running `tsc generateDocs.ts && node generateDocs.js` should build the README without modifications needed.
  - This script should use the [TS Com

[2018-05-30 20:43] grant commented on #200
This npm module (`esprima`) looks promising.

Example:
[code]

[2018-05-30 21:06] campionfellin commented on #200
[jsdoc](https://github.com/jsdoc3/jsdoc) might be nice, since we write our comments using their format already. Looks like there is [jsdoc2md](https://github.com/jsdoc2md/jsdoc-to-markdown) to generate the ReadMe.

[2018-05-30 23:08] grant commented on #200
The problem is most tools assume `js`, not `ts`.
For `jsdoc2md`, the parser only detects `function`s and not the `commander.command` syntax (it is blank).

[2018-05-30 23:34] grant commented on #200
OK, so I think we can generate a README if we just parse the ts comments in one file.
We can use this library that doesn't care about the actual filetype or syntax, it just looks at the comments and provides a nice AST:

https://github.com/jonschlinkert/parse-comments

[2018-05-30 23:43] yumetodo commented on #108
If that is true, how you explain step 7 effect?

[2018-05-31 00:41] grant commented on #108
Step 7 states: `make some dust edit and save.`
I don't understand the question. There are many errors with the English sentences that make it hard to figure out what error you're facing.

I just added a customfunction to a bounded Sheets script without opening the script.google.com editor and successfully called a custom function.

1. i.e. create a local file like this:

[code]

2. Then `clasp pus

[2018-05-31 00:41] #108 closed

[2018-05-31 01:17] grant commented on #63
It looks like the script.google.com UI updates the manifest file (`appsscript.json`) file when you use the UI to publish a web app.

When you use the UI to deploy a web app, it adds this bit of code to `appsscript.json`:

[code]

This is really important, as it's the configuration details of the web app.

So if you are using `clasp`, and expect to deploy a web app, you must manually update the man

[2018-05-31 01:19] grant commented on #66
To actually take on this issue, I'll need more details around what files are being pushed so I can reproduce this error.

[2018-05-31 01:28] grant opened #201 "Async Credentials"
## Expected Behavior

Loading credentials should be `async`. Part of #180.

[code]

Rather than making a method like `getScript()` or `getDrive()`, we should load the credentials before calling the API methods. This way we don't need N number of `getAPI()` methods.

## Actual Behavior

[code]

[2018-05-31 01:45] TrojanCoder commented on #176
Thanks for the comment in #63, I never did a `clasp `pull after deploying in the interface because I didn't think anything changed so every time I pushed the `appscript.json file was reset.

Maybe it would be a good idea to check for HTML files to identify a web app and if so on `clasp `deploy update the `appscript.json file. This could be done with arguments to clasp deploy, an input prompt, or b

[2018-05-31 02:36] campionfellin commented on #63
Is it possible, and/or a good idea to have some sort of flag for `clasp deploy` like `--type (web|api)` that adds that to the `appsscript.json` for the user?

[2018-05-31 04:01] grant commented on #176
@TrojanCoder Sounds like a good idea.
PRs and design plans are welcome!

[2018-05-31 06:56] #201 closed

[2018-05-31 14:08] OLEREO opened #203 "Error retrieving access token: Error: read ECONNRESET"
## Expected Behavior

## Actual Behavior
Landing page display：

But clasp shows：

I use Shadowsocks VPN in China,Maybe it's related to this?

## Steps to Reproduce the Problem
  1.clasp login

## Specifications
  -  npm: '5.6.0'
  - @google/clasp@1.3.1
  - Windows 10

[2018-05-31 18:16] jasonjurotich opened #204 "CLASP RUN PRODUCES ERRORS"
(Please search [existing issues](https://github.com/google/clasp/issues) before creating a new one.)

## Expected Behavior
A simple function should run to add text to a cell in a Google Spreadsheet

## Actual Behavior
errors

## Steps to Reproduce the Problem

  1. clasp create [name]
  2. clasp clone [ScriptId] (This is to download the Code.js)
  3. add following code to Code.js by VIM editor:

f

[2018-05-31 18:23] iepoch commented on #51
This is also an issue when using gulp. If it renames .gs to .js and I ignore the .js file it will not upload. But if I don't ignore the .js file the gulp file gets renamed also. Which causes more issues to run gulp and have it watch and update the file. Will there be fix for using the just the .gs files without it renameing or is there a way to stop the renaming. I just started using this and need

[2018-05-31 18:54] erickoledadevrel commented on #51
What about adding a field to the `.clasp.json` file that specifies the file extension to use. clasp will only consider that extension for uploading "code" files, and will use that extension when syncing files from Apps Script. It would default to "js", but developers can set it to "gs" if they would prefer to stick with that extension.

[2018-05-31 20:09] grant commented on #51
Implementing https://github.com/google/clasp/issues/51#issuecomment-379836850 seems like a good choice.
It'll be pretty rare where we intentionally push a project with `NAME.js` and `NAME.gs`.

After this discussion, following Eric's comment I'll implement this:
- Delete the renaming files on `pull`. Always create `js` even if `gs` is present.
- Add a warning when `push` conflicts occur.

@erickol

[2018-05-31 20:13] grant commented on #204
@campionfellin Can you look at this?
It looks like we need to document `run` a bit better.

[2018-06-01 00:47] campionfellin commented on #204
Yep, I'll take a look in a little bit.

[2018-06-01 01:15] grant commented on #65
Clasp has been split into multiple files with a testing framework that tests individual utility methods.

I don't know exactly what debug logging this issue would like to see, but I don't think contributors would need a DEBUG setting to make debugging clasp easier. Better testing is preferred over better logging.

I'll close this issue, but feel free to create a new one when there's something spec

[2018-06-01 01:15] #65 closed

[2018-06-01 01:17] grant commented on #57
Inquirer is complete for `create` and `clone`.
It's needed for `deploy`, `redeploy`, and `version`.

[2018-06-01 01:28] grant commented on #159
Repro:
[code]

[2018-06-01 01:38] campionfellin commented on #159
Changing this https://github.com/google/clasp/blob/2d8ba8ee71edb2e84bfbfa10c601844d09d7212b/src/commands.ts#L92

to `logError(...)` should fix it.

[2018-06-01 02:35] #159 closed

[2018-06-01 02:38] grant commented on #159
Ah, true.

[2018-06-01 03:36] campionfellin commented on #204
So after some investigation this is what I've found:

If you follow the instructions in this PR: https://github.com/google/clasp/pull/172 you should be able to use `clasp run` for simple functions that don't need extra scoping access.

More complex functions (like yours, requiring access to Sheets) are not yet supported by `clasp` (yet 😉). By following the instructions outlined in the above PR, yo

[2018-06-01 03:43] grant commented on #204
Makes sense, good report.
- We should report better errors. And provide the user a solution.
- On `clasp login --ownkey`, we should auth with both:
  - The current `clasp` scopes
  - The scopes in `appsscript.json`'s [`oauthScopes`](https://developers.google.com/apps-script/concepts/manifests#manifest_structure) array.

[2018-06-01 03:50] campionfellin commented on #204
Hey, actually, I don't think we even really need `--ownkey` anymore since we figured out recursively looking for `.clasprc.json` files. Essentially `--ownkey` just saves it to the current directory, rather than to `~/`. I did not realize that `appsscript.json` had an `oauthScopes` array. How do we plan to get the scopes in there? Once the scopes are there, it shouldn't be too bad to add those when

[2018-06-01 04:02] grant commented on #204
We need `--ownkey` to login non-globally to use `script.run`.
Let's just manually add the scopes there for now.

Eventually we can have `clasp` automatically add OAuth scopes to `appsscript.json` the current way Apps Script's editor implicity adds scopes when you run functions.

## How script.google.com Requests Scopes

For example, running this in the Apps Script editor:
[code]
Will implicity req

[2018-06-01 04:14] campionfellin commented on #204
I don't think that `--ownkey` is needed anymore for `script.run`. I think we've changed that since it was originally introduced.

[2018-06-01 05:57] campionfellin commented on #204
I don't think that we need `--ownkey` anymore, unless you can find where in the code it is actually needed.

<img width="578" alt="screen shot 2018-05-31 at 10 52 54 pm" src="https://user-images.githubusercontent.com/11984923/40823524-6c9017d6-6525-11e8-90b3-287a8ec5d7ef.png">

All I see it used for is here:

https://github.com/google/clasp/blob/8e1c3fbeca11e06d22554b183b5d43d1c8490808/src/auth.ts

[2018-06-01 07:28] last-stand opened #207 "Clasp is not ignoring folder as well as specific files with extension like *.abc"
(Please search [existing issues](https://github.com/google/clasp/issues) before creating a new one.)

## Expected Behavior
I added **node_modules** folder in _.claspignore_ file and tried to run `clasp push` but its not working properly and showing error
[code]

I even tried  `node_modules/**/*.*` and `node_modules/**/*.MD` but no luck.

## Actual Behavior
If I add a folder to _.claspignore_ file

[2018-06-01 12:19] jasonjurotich commented on #204
Thanks guys. If it were possible, I think the idea would be to be able to stay in the terminal, even if that meant to type in more info at the beginning when beginning clasp. I am trying to get it to where we don't have to leave the terminal and go back to the GAS or the cloud project, which sort of defeats the purpose of using clasp in the first place, I would think.

It would be wonderful, even

[2018-06-01 14:52] grant commented on #204
@campionfellin How did you create the `.clasprc.json`?

[2018-06-01 22:44] campionfellin commented on #204
@grant I just used `clasp login`. Did you put in your own `clientId` and `clientSecret` here? https://github.com/google/clasp/blob/24c7d1309cde125b7a9db2a7d41f32bab4f5d7d1/src/auth.ts#L12

[2018-06-02 00:01] #200 closed

[2018-06-04 02:35] ShowMeBillyJo opened #208 "Clasp can't seem to see bound script projects"
## Expected Behavior
`clasp list` should show all of my script projects, including those bound to G Drive documents like spreadsheets.

## Actual Behavior
`clasp list` doesn't show bound script projects.

The `FileSubmission` project is owned by someone else and shared with me.

![image](https://user-images.githubusercontent.com/179590/40895353-8ab9b770-6774-11e8-887b-d5f448498452.png)

## Steps t

[2018-06-04 04:39] grant commented on #208
I think we're currently limited by the API on this one.
- `clasp list` uses the Drive API
  - which maybe can't detect bounded scripts?
- The Apps Script API doesn't have a method for listing projects.

Let me know if you see the scripts with the "Try this API" function on this page:
https://developers.google.com/drive/api/v3/reference/files/list

Query:
https://github.com/google/clasp/blob/master

[2018-06-04 21:49] bhaelochon commented on #208
No dice. :cry: All that gets returned is its container:

[code]

Just to be sure, I grepped the output for `application/vnd.google-apps.script`, but nothing.

[2018-06-04 22:23] jasonjurotich commented on #204
OK, saw that you guys updated the readme file. (Remotely executes an Apps Script function. This function runs your script in the cloud. You must supply the functionName params. For now, it can only run functions that do not require other authorization.)

Just a quick question, the sendMail doesn't need the Gmail API to send things?

I know you guys must be overworked, but would it be possible to c

[2018-06-04 23:28] campionfellin commented on #207
Hey @last-stand , thanks for filing an issue! Can we see your `.claspignore` file?

My `.claspignore` starts with `node_modules/**` and that seems to work. Do you have any markdown files in your current directory that you are forgetting to ignore?

[2018-06-04 23:43] campionfellin commented on #204
Hey @jasonjurotich I don't think it needs the Gmail API, but it does need this scope: `https://www.googleapis.com/auth/script.send_mail`

Definitely check in in about a month and we can update you!

@grant I think this would be a good flow for how it works:

`clasp run myFunction` .... runs function to find what scopes it needs, if none, then returns value. Otherwise, return something like:

[code

[2018-06-05 02:17] grant commented on #204
## Setting up `.clasprc.json`

1. @campionfellin For `.clasprc.json`, we probably should add more instructions on how to properly create/set up this file for `clasp run`. Ideally it would be automatic and you wouldn't modify any JSON.
1. @jasonjurotich If `sendMail` requires authorizations (Gmail), then you'll need to login to clasp with those scopes enabled (the Gmail API send scope). Running oth

[2018-06-05 11:18] Narrenschyff opened #211 "Unable to pull, clone or push"
Hello, I am experiencing some error with cloning a particular google apps project. I have then exported it and tried to push and pull from it but I still get the same error followed by a hang:

 Pulling files...(node:82926) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'data' of undefined
    at /usr/local/lib/node_modules/@google/clasp/index.js:327:39
    at /usr/local/lib/nod

[2018-06-05 13:21] campionfellin commented on #211
Hey @Narrenschyff I believe this has been fixed, but has not been pushed to `npm` yet. Can you give us the steps you used to get this error?

@grant I think it is time to update `npm` again.

[2018-06-05 17:47] nirazul commented on #21
Another reason is apperently when your `appsscript.json` file is malformed. Mine had an additional comma in it, which rendered the request invalid.

[2018-06-05 19:21] grant commented on #21
- Perhaps we can ignore `.git` by default in clasp.
- Perhaps we can validate `appsscript.json` before `push` and during `status`.

[2018-06-06 11:29] Narrenschyff commented on #211
Updated to 1.3.1. Upon clasp clone <myScriptID> Getting the same error with different line number:

Pulling files...(node:85323) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'data' of undefined
    at /usr/local/lib/node_modules/@google/clasp/index.js:274:39
    at /usr/local/lib/node_modules/@google/clasp/node_modules/googleapis/build/src/lib/apirequest.js:88:42
    at proces

[2018-06-06 14:22] Narrenschyff commented on #211
Hello again, I discovered it's a problem with the url from here: https://developers.google.com/apps-script/api/reference/rest/v1/projects/getContent; I am getting a 500 back from the request. Anyone has any pointers who is it relevant to file an issue with? Also may be it would be useful to handle more gracefully the script.projects.getContent in case of error since I got the data of undefined err

[2018-06-06 17:18] #211 closed

[2018-06-06 17:20] grant commented on #211
I’ll update npm soon

[2018-06-07 09:10] Narrenschyff commented on #211
Let me know when it's available on npm

[2018-06-07 16:58] grant commented on #211
@Narrenschyff I just published the latest to npm, 1.3.2.
LMK if this issue is fixed. If not, I should this issue should be kept open.

[2018-06-07 21:07] virusakos commented on #208
I am also interested in container (bound) scripts and I was looking for a way to automate it with clasp.

https://developers.google.com/apps-script/guides/bound

"Creating a bound script

To create a bound script, open a Google Sheets, Docs, or Forms file, then select Tools > Script editor. To reopen the script in the future, do the same thing. Because bound scripts do not appear in Google Drive,

[2018-06-08 00:36] bhaelochon commented on #208
That documentation isn't entirely correct. You can also get to bound scripts at https://script.google.com.

Cloning and pulling bound scripts still works, but the URL method of getting the script ID is unreliable. If you open your script project from https://script.google.com, it's fine. If you open it from `Tools -> Script editor` in the bound document, the URL doesn't match the expected format.

[2018-06-08 01:46] ShowMeBillyJo opened #214 "`clasp push` fails with custom root directory"
## Expected Behavior

`clasp push` works when I've specified a custom `rootDir` in `.clasp.json`.

## Actual Behavior

`clasp push` doesn't work when I've specified a custom `rootDir` in `.clasp.json`.

[code]

## Steps to Reproduce the Problem

  1. Create a `.clasp.json` file with a valid `scriptId` and a custom `rootDir`
  1. `clasp pull`
  1. `clasp push`

It looks like `files.getProjectFiles(

[2018-06-09 15:26] nirazul opened #215 ".clasprc.json not found in parent directory"
## Expected Behavior
It would be nice if the `.clasprc.json` is also found, when it's located in a parent directory.
Currently, it's only working in the same directory.

## Actual Behavior
I tried out the `--ownkey` parameter to log in, which was working.
As I have several projects, I then switched into a child directory. Clasp couldn't find any credentials.
I was under the impression that it does

[2018-06-09 16:03] nirazul opened #216 "clasp logs returns strange output"
## Expected Behavior
Returns logs from `Logger.log('stuff')`

## Actual Behavior
Returns the following:
[code]
instead of Logs

## Steps to Reproduce the Problem
As this error might be a google project config problem, there's no poit in trying to reproduce it.

## Specifications

  - Node version: 9
  - Version: 1.3.2
  - OS: Mac

[2018-06-10 08:06] bhaelochon commented on #214
Updated with `ls` of custom root directory.

[2018-06-12 21:06] shai commented on #216
I'm having this same issue.

[code]

  - Node version (`node -v`):
```v8.11.2```
  - Version (`npm list -g | grep clasp`):
```+-- @google/clasp@1.3.2```
  - OS (Mac/Linux/Windows):
[code]

[2018-06-12 21:18] grant commented on #216
Thanks for reporting this detailed issue first of all. `clasp logs` is still a bit experimental. Notes:
1. `clasp logs` only work with StackDriver logs (`console.log`, not `Logger.log`)
1. Thanks for the version info.

I'll test this function and will have to fix this.

[2018-06-14 00:10] grant opened #217 "Enable Advanced Services for Apps Script projects via CLI"
## Expected Behavior

To use Google APIs (Advanced Services) in Apps Script, you must enable APIs in the online editor at `script.google.com > Resources > Advanced Google Services...`

You should be able to setup a project without having to go to the editor. I propose a function to enable APIs in `clasp` like the UI.

### Commands

[code]

- `list` would list all Google API `serviceId`s
- `enable`

[2018-06-15 09:52] agektmr commented on #214
I just encountered the exact same issue and fixed by explicitly white listed the directory in `.claspignore` file. Example:

[code]

[2018-06-15 14:23] DimuDesigns commented on #51
I made this suggestion before. It may be a good idea to allow developers to opt-in or opt-out of this feature on a per project basis by allowing them to set a config option. Say:

    clasp config --rename_locally_to_js true

Where `*.gs` files are **NOT** renamed by default, the user has to explicitly set that config option.

[2018-06-15 14:49] rdoursenaud commented on #217
The actual behavior is even more annoying since it disables the advanced services on `clasp push`!

[2018-06-15 15:16] grant commented on #217
@rdoursenaud Advanced service aren't disabled on `push`. You need to `pull` after you enable an advanced service, because it changes the `appsscript.json` file. LMK if you're still seeing an error.

I should document this more.

[2018-06-15 15:29] grant commented on #217
No worries, it's not intuitive (see #171).
I probably should add a warning if you try to `push` before `pull`ing like git.

[2018-06-15 15:33] rdoursenaud commented on #217
@grant I don't think you meant to close this issue. Exposing the advanced services feature in CLASP is still a good idea!

[2018-06-15 15:34] grant commented on #217
Right!

[2018-06-15 21:55] maximelebreton opened #219 "How to get logs when the script is a standalone library executed from a spreadsheet?"
Here is my case.

I have a standalone script (the library).
Who process data from spreadsheets (where i've installed the library).

So when I want to Logger.log() something, I need to execute the function from a Spreadsheet, and go to the **Spreadsheet Editor Script Journal** (and not the Standalone Journal or Stack Driver), to see it.

So how can I get my standalone logs, but executed from a spre

[2018-06-16 22:54] campionfellin commented on #216
Hey @nirazul and @shai hopefully I can give some clarity on this. Those first few logs that you see with `NOTICE     2018-06-07T06:19:17.337Z N/A [object Object]` etc. look like this:

[code]
which, to my understanding is just Apps Scripts setting up the StackDriver logging.

You can see that in the StackDriver Logging UI with this URL `https://console.cloud.google.com/logs/viewer?project=project-

[2018-06-17 00:19] campionfellin commented on #215
Hey @nirazul , thanks for filing this issue! We are in the process of changing the way `clasp login` works, (read https://github.com/google/clasp/issues/204 if interested). Right now when authorizing to run commands it first checks your current directory, and if `.clasprc.json` isn't there then your home directory.

The way that `clasp login` works now, is that the `--ownkey` flag saves it to your

[2018-06-17 06:56] shai commented on #216
Dear @campionfellin ,

I've actually was able to figure this out, since I was able to reference the timestamp from the console to those logs in the UI and already knew these logs belonged to the initialisation of the service.

I would love to see that improve, for sure. I'm sure no-one else would want to see an exception here.

Please, do!

I love the spirit and I'm sure that the more I use `clasp

[2018-06-17 15:13] campionfellin commented on #216
Hey @shai , glad you were able to figure that out! @grant what do you think of just not showing those types of logs?

This PR https://github.com/google/clasp/pull/221 makes it so it now shows most recent first. You can either download and build `clasp` yourself to use it, or wait for the next release!

[2018-06-17 15:57] grant commented on #216
Sounds good.
Let's document the log skipping (`NOTICE: client_auth_config_brand`) in the code.

Are there more changes we should make? LMK when we should cut a new release with the `clasp logs` improvements.

[2018-06-17 17:54] #216 closed

[2018-06-17 18:00] grant commented on #219
Executed from a spreadsheet is technically a Spreadsheet Add-on.

Use StackDriver logging for persistent logs. Read up on this:
https://developers.google.com/apps-script/guides/logging

Use `console.log` and View > StackDriver Logs

[2018-06-17 19:05] shai commented on #216
You guys are awesome! Thanks for taking this issue and applying a fix for it so quickly :) Looking forward to the next release...

[2018-06-17 19:28] nirazul commented on #215
@campionfellin
Thanks for the clarification, now I'm sure that I understand how the login behaviour works currently.

I thought about it a bit more. I think the login has ties to the document I'd like to handle with clasp. So it would make the most sense to me, when the login credentials are sorted within the `.clasp.json` file directly or at least in the same directory.
To keep this behaviour pre

[2018-06-17 20:43] grant commented on #215
Like `git` projects, we should treat local > global configs.

- `ownkey` should write a `.clasprc.json` for use in the clasp project, next to the `.clasp.json`
- All commands should look for the clasp project root (`.clasp.json`), and check for the `.clasprc.json` and use it if it exists.

It looks like the current behavior only checks the current directory for a local rc, rather than recursively

[2018-06-19 17:04] JeanRemiDelteil commented on #51
much appreciated 👍
I suppose we can close this issue now ?

fixed by #27

[2018-06-19 17:04] #51 closed

[2018-06-20 12:31] marcosscriven opened #224 "Can't delete versions"
## Expected Behavior
Can delete versions

## Actual Behavior
Get an error saying "You cannot delete this version because it is used by a label”

<img width="460" alt="screen shot 2018-06-20 at 13 29 50" src="https://user-images.githubusercontent.com/752263/41658366-0c7d16be-748e-11e8-9619-95a2d34d96ef.png">

Found[ this issue in Stackoverflow](https://stackoverflow.com/questions/50882189/trying-to

[2018-06-20 13:10] marcosscriven opened #225 "How to use a service account for CI deployments"
Running `clasp login` sets up a `.clasprc` file with a token that seems to last about a week.

Is there any way to get some kind of authentication working that could work in a headless setup like CI (E.g. GitHub Travis or Bitbucket Pipelines) please?

I looked at https://script.google.com/home/usersettings which has a switch for the API, but nothing about service tokens.

---

Note from @grant, pl

[2018-06-20 13:35] marcosscriven commented on #225
This seems to be related to https://github.com/google/clasp/pull/28 - but although it does require a browser, it still requires interaction on the command line.

[2018-06-20 15:37] marcosscriven commented on #225
Pinging @grant on this one (as a recent committer to https://github.com/google/clasp/blob/master/src/auth.ts).

I looked at the oauth2 client used here, and it seems there is a way to set creds in an env var: https://www.npmjs.com/package/google-auth-library#loading-credentials-from-environment-variables

It even mentions the deployment use case.

[2018-06-20 16:37] grant commented on #224
We're limited on the API for this one.
https://developers.google.com/apps-script/api/reference/rest/v1/projects.versions/create

[2018-06-20 16:41] marcosscriven commented on #224
Thanks @grant - the issue was I couldn’t seem to delete it in the UI either. There doesn’t seem to be any explanation as to what a label is in this context, but I’m guess it’s a description?

[2018-06-20 16:46] grant commented on #225
`clasp` auto-refreshes access token for any `clasp` command when it expires (~24h?). You should only need to `clasp login` once. (Unless you add scopes or change users).

`~/.clasprc.json` has these:
- `access_token`
- `refresh_token`

This request is for using a service account rather than a user account. I think using [`--ownkey`](https://github.com/google/clasp/blob/9195e94d2a576674ba8ed29abdfb

[2018-06-20 16:49] grant commented on #224
I've just verified the [UI instructions work](https://developers.google.com/apps-script/guides/versions#deleting_a_version). Press the "X" next to a version ID.

[2018-06-20 17:07] marcosscriven commented on #225
@grant - any kind of auto refresh would then need to persist - in the context of CI then, one would have to check if the local `.clasprc` file (which CI would have to generate from secret env vars) changed, and then somehow update the env vars that contain the secrets.

`--own-key` seems to only be about having a `.clasprc` file in the local directory, not using a service account JWT key of the fo

[2018-06-20 17:11] marcosscriven commented on #225
To expand, the code snippet from [google-auth-library](https://www.npmjs.com/package/google-auth-library#loading-credentials-from-environment-variables) is:

[code]

And then:

[code]

[2018-06-20 17:14] marcosscriven commented on #224
@grant for some of them it does - not all. Some must have some link to something called a 'label'. Those ones I've never been able to delete.

[2018-06-20 17:17] grant commented on #224
Can you take a picture and describe the type of script (add-on, standalone, web app)?

[2018-06-20 18:14] grant commented on #180
At some point, #201 was implemented and now you just need to run 1 line, `await loadAPICredentials();` before any Google API method.

Thanks for the issue! I think this is as simple as we can get.

[2018-06-20 18:14] #180 closed

[2018-06-20 18:28] campionfellin commented on #225
Hey @marcosscriven does this PR https://github.com/google/clasp/pull/223 solve your issue? It removes `--ownkey` in favor of `--creds`

This changes `clasp login` so that it loads those creds from a `json` file. Does your CI pipeline specifically need it to load from an environmental variable? We can probably make that an option as well.

However, it still requires you to select the Gmail account

[2018-06-20 18:36] marcosscriven commented on #225
@campionfellin - it certainly looks close. It doesn't have to be from env vars - I'm chiefly thinking about Bitbucket Cloud Pipelines https://confluence.atlassian.com/bitbucket/environment-variables-794502608.html

One could easily generate a JSON file at build time, populating the secrets from the env vars. It would be handy to avoid that step though, as show in the snippet.

[2018-06-20 18:38] marcosscriven commented on #225
Also @campionfellin - I don't think the snippet you highlighted is anything to do with the auth - it's just an example of going on to use any of the APIs (dns in this instance).

The bit that enables it is simply   `const client = auth.fromJSON(keys)`, with the `keys` in the format I posted.

[2018-06-20 18:48] campionfellin commented on #225
Hey @marcosscriven it looks like rather than using `auth.fromJSON(...)` I just read and parsed the file manually (https://github.com/campionfellin/clasp/blob/64b5301ccef7dcc99a2d9690c6d52db708975e08/src/auth.ts#L60). I can go ahead and change that.

However, I don't think this would solve the issue of getting the `access_token` or `refresh_token` that you need in your `.clasprc.json` file unless `

[2018-06-20 19:13] campionfellin commented on #225
Hey @marcosscriven , so it does look like using what's in the sample will work. `client.authorize(...)` is what does the work for us. It will take some time to make those changes though.

[2018-06-20 19:57] campionfellin commented on #225
Question for @grant : is this what we want to do by default, or add a flag for it? I am afraid of taking away the user's ability to see what scopes they are authorizing.

[2018-06-20 20:08] campionfellin commented on #225
My question is more for users who don't generate service accounts. What about a flag like `--use-service-account` ?

[2018-06-20 20:29] grant commented on #225
Another flag sounds OK. I'm getting a bit confused by all the discussion here, but it seems like this is just a FR for adding another flag like `clasp login --service-account` and changing `authorize` to work with service accounts.

[2018-06-20 21:00] marcosscriven commented on #225
@grant - I'm not clear of the purpose of 'logging in' with a service account?

To be clear, I would expect to be able to provide service account credentials (created according to https://developers.google.com/identity/protocols/OAuth2ServiceAccount), in either a file or env var, and for all remaining API actions to simply use `client.authorize()`.

[2018-06-20 21:12] grant commented on #52
Let's at least publish this to `npm` before closing for good.

[2018-06-21 01:03] grant commented on #10
(FYI: I've renamed this to `IDE Support`)
Working on TS support for IDEs like VS Code and IntelliJ/WebStorm.

[2018-06-22 05:45] marcosscriven commented on #224
@shai - Agree it's probably a server side issue. I mentioned it here because personally I'd only ever created versions with clasp, and also because since the folks here develop the client, they may well be able to help figure out the error (which I've not seen solved anywhere).

[2018-06-22 08:05] shai commented on #224
@marcosscriven let's cross fingers .. perhaps they would be able to assist in this mystery :)

[2018-06-22 17:58] campionfellin opened #230 "Update README troubleshooting section"
Ideally, for many errors that we include, we should document how/why they happen for the user.

For example:

`clasp login --creds credentials.json` gives the error `Incorrect credentials file format.` if the file is formatted incorrectly. We should give an example of correct formatting.

We should do this with any error messages that need more in-depth explanation.

[2018-06-23 23:14] wilt00 opened #231 "Tests fail on Windows"
## Expected Behavior
After cloning master and installing on Windows, tests should pass.

## Actual Behavior
Tests fail with the error "AssertionError: expected null to equal 0". Logging the 'result' object reveals that spawnSync is throwing an ENOENT error. Apparently, spawnSync on Windows requires that some commands have the '.cmd' suffix in order to run successfully. I'm opening a pull request t

[2018-06-24 06:57] shai commented on #63
@grant can you shade some light on where we are with this issue? I would LOVE to be able to deploy a new web-app version when I push my updates. I dislike having to need to go to the WEB UI to deploy that new version of my web-app.

[2018-06-24 16:33] TrojanCoder commented on #63
@shai If I'm reading this ticket correctly you should be able to do everything without the WEB UI, it's just not super clear because you'll need to manually update your `appscript.json` file. Here are the valid options:
[code]
You need to pick one of the `"acces"` types and one of the `"executeAs"` types. Note that `"ANYONE_ANONYMOUS"` can only be used with `"executeAs"` type `"USER_DEPLOYING"`

[2018-06-24 21:55] shai commented on #63
@TrojanCoder I've actually got this already:
[code]
and when I ```clasp deploy``` it says that it deployed a new version but when I go to ```public``` -> ```deploy as web app``` ; I see that it's using the old version. Also, when I go and test the code, I see that I'm not getting the updated expected console logs of the newer version.

[2018-06-24 22:04] shai commented on #224
Ok .. I was playing around with issue #63 and after I used ```clasp deploy``` twice, I saw the two new deployments in the WEB UI and long and be hold, I was not able to delete them and got this same OP message.

Furthermore, after I used ```clasp undeploy xxxxxx``` to try and do just that, ```clasp``` said that it undeployed my deployment, but it is still showing in the WEB UI.

Also, trying to un

[2018-06-25 05:38] #231 closed

[2018-06-25 18:53] grant commented on #64
Hey @nmccready @rafasc,
As stated in https://github.com/google/clasp/issues/64#issuecomment-373164425, I added git tags to the updated versions that weren't there before (just now).

I hope to use the instructions @rafasc (#220) set for bumping versions. I'm sorry the previous versions aren't in sync. Do you think we can close this issue and follow best-practices in the future, or is there anythin

[2018-06-25 20:28] nmccready commented on #64
Also as mentioned in [previously](https://github.com/google/clasp/issues/64#issuecomment-372728477) ☝️ I would commit an `.npmrc` file to enforce the release pattern .

[2018-06-25 20:47] rafasc commented on #64
@grant Did you bump to `v1.4.0` using the proposed workflow? If yes, there might be an issue because, `v1.4.0` isn't annotated tag.

[code]
there's also the inconsistency about the `v` prefix as @nmccready pointed out.
I don't have a preference, as long as it's kept consistent.

[2018-06-25 20:51] alx-andru commented on #147
What is the intended workflow to create and deploy versions over time?

[2018-06-26 02:53] rafasc commented on #64
There are still some minor issues in my opinion.

|version from registry| gitHead from registry| tag in repo | sha | issues|
|--|--|--|--|--|
| 1.0.0 | 10d380a51fe8b6ae7011f437bbd852cf8e381e1c |v1.0  | e428501117b8520cb2fe0b3c77f8c8bc33a25317 | 1 2 3   |
| 1.0.4 | 5908791540f668983797348188cc08369f208f14 |1.0.4 | 72ac58c0961cf2609d0b53f742d5a9aab4a1b43a |   2     |
| 1.1.0 | ccaa1fa5cc850b6b7fcf26

[2018-06-26 03:28] richardkmichael opened #234 "Test suite does not run."
I wanted to work on #67 , so my first step was to try and run the testsuite.

I would appreciate guidance - what am I doing wrong?  Thank you!

## Expected Behavior

Per the README, I expected to run the tests as below.  (I did not `npm install typescript` separately, as I noticed it is specified in `package.json` in the `devDependencies` section.)

[code]

## Actual Behavior

Noticing the tests a

[2018-06-26 03:39] grant commented on #234
Hey @richardkmichael, that would be awesome!
Can you follow the instructions here?
https://github.com/google/clasp#develop

Let me know if they should be made clearer. I just ran the tests after building and they pass for me.

[code]

[2018-06-26 03:40] campionfellin commented on #234
Hey @richardkmichael what steps did you do to reproduce? This is my history and it works fine:

[code]
output:

[code]

[2018-06-26 03:49] richardkmichael commented on #234
@grant @campionfellin Thanks for the extremely fast replies!  Embarrassingly, this is a complete face-palm.  I just didn't notice the `npm run build` step necessary before the test run.  (It should have jumped out at me especially since I mentioned the typescript compiler!  Fail.)  Sorry for the noise.

[2018-06-26 03:49] #234 closed

[2018-06-26 03:52] grant commented on #234
No worries.
Maybe `npm run test` should have a test to be sure you've built the tests!

[2018-06-26 03:59] wilt00 opened #236 "'npm audit' - Critical vulnerability"
## Expected Behavior
`npm audit` should return no issues.

## Actual Behavior
`open` has a critical security hole (https://nodesecurity.io/advisories/663) and no updates for 4 years. `opn` seems like a good replacement for this.
A few other packages have less critical warnings, including `base64url` via `googleapis`, `resolve-path` via `dotf`, `randomatic` via `anymatch` and `lodash` via `inquirer

[2018-06-26 04:03] grant commented on #64
I'll eventually get used to tagging.
Keeping this open until it's fixed. Thanks for the details.

[2018-06-26 04:07] grant commented on #236
`opn` seems like a good alternative. PRs welcome!

These are the targets:

[code]

I wrote `dotf`, so I could fix that package.

[2018-06-26 04:09] grant commented on #236
Also, do you want to `npm audit fix` these issues in a PR?

[2018-06-26 10:01] marcosscriven commented on #225
@campionfellin Thanks for looking into this - as it happens, I'm not looking for impersonation in my case. There's two flavours of that in OAuth - there's the 3LO (Three-legged Oauth), which allows impersonation with a pre-shared key, but still requires user interaction for the user to accept. There's a much lesser known 2LOi (Two-legged Oauth with Impersonation) - but I don't see that mentioned a

[2018-06-26 13:31] marcosscriven commented on #225
@campionfellin - I just wasted some hours on using the service account (which should work). The crucial step (even for a service account with 'Domain-wide delegation'), was that I still had to go to the script project and 'share' it with the service user email (of the form serviceuser@project-id-123456789.iam.gserviceaccount.com).

I'm pretty sure that last step is not meant to be necessary. Maybe

[2018-06-26 13:34] marcosscriven commented on #225
To clarify, using the Python Google OAuth 2 client, this works:

[code]

[2018-06-26 14:32] #236 closed

[2018-06-26 15:52] grant commented on #219
@maximelebreton Did you try that out?
I'm going to close this issue soon as it is related to Apps Script in general and not `clasp`.

[2018-06-26 18:23] marcosscriven commented on #225
Trying to use delegation-wide service account the right way (E.g. without the 'sharing' hack I mentioned), even just reading the project fails:

[code]

Fails with:

[code]

Despite ensuring those API scopes have been authorized for that client ID as per https://developers.google.com/api-client-library/python/auth/service-accounts.

[2018-06-26 18:51] marcosscriven commented on #225
Note I asked about this on Stack Overflow to0 https://stackoverflow.com/questions/51049548/how-can-i-publish-a-google-app-script-using-a-domain-wide-delegation-service-acc

[2018-06-26 22:34] #173 closed

[2018-06-26 22:37] grant commented on #225
Hey @marcosscriven, thanks for all the investigation.
I too want this feature and to reduce friction around a bunch of other setup.

Please upvote the linked bug and this issue so I can ask the Apps Script team to prioritize this.
If there's a workaround that `clasp` can promote in the meantime, perhaps we can make that setup easy.

[2018-06-27 03:18] grant commented on #21
Based off of GitHub analytics, 94 unique people looked at this issue in the last week.

Maybe we should provide a better message than the API response:
"Request contains an invalid argument"

[2018-06-27 03:20] grant commented on #52
npm was updated yesterday with this change. Install the lastest clasp to get this feature.
Closing!

[2018-06-27 03:20] #52 closed

[2018-06-27 05:16] marcosscriven commented on #225
@grant - I don't see any voting options there, but I've commented on it.

It says it's 'blocked by' https://issuetracker.google.com/issues/26400743, but I don't have view permissions on that.

[2018-06-27 18:06] nmccready commented on #64
10-4

[2018-06-27 18:23] nmccready commented on #64
Done for .npmrc https://github.com/google/clasp/pull/243

[2018-06-27 18:43] grant commented on #225
@marcosscriven It looks like this issue is being triaged by the Apps Script team. I've asked the team for an update on the issue.

[2018-06-27 19:29] marcosscriven commented on #225
@grant good news! Let’s hope it gets fixed. Thanks for following for following up.

[2018-06-27 20:52] grant commented on #63
I just tested the steps I wrote above again. Deploying a web app from clasp works. You just need to make sure you update the `appsscript.json`, `clasp push`, and `clasp deploy`.

Steps: https://github.com/google/clasp/issues/63#issuecomment-393370965

## Set up and deploy a web app

[code]

Go to
https://script.google.com/a/{YOUR_DOMAIN}/macros/s/AKfycbwP6WvBwvNI3m_d3Ts8bnYBX8y0lG7OQEuV65m2E6t3J44

[2018-06-28 04:59] onlinelaser commented on #63
So I've just tested that workflow and it does push the deployment up (which was working originally as well) - but it also doesn't make it active as the published project version.

Meaning that you still need to go to the UI and make the project version the one you just deployed :-(

[2018-06-28 13:32] vavrecka opened #244 "Display error message when Apps Script API usersettings are disabled"
(Please search [existing issues](https://github.com/google/clasp/issues) before creating a new one.)

## Expected Behavior
"clasp push" should push all files.

## Actual Behavior
When I have a project with "README.md" file and it's not excluded in ".claspignore" it throws an error:
<img width="282" alt="screen shot 2018-06-28 at 15 26 36" src="https://user-images.githubusercontent.com/6089093/4203

[2018-06-28 14:10] campionfellin commented on #244
I don't think that Apps Scripts projects can have `.md` files. (https://developers.google.com/apps-script/guides/projects). Are you able to make one through the UI?

[2018-06-28 14:28] campionfellin commented on #244
Hey, sorry about that! That issue where it didn't give an error message has been fixed (see https://github.com/google/clasp/pull/239/files). Essentially this is what was happening:

[code]

I don't think it's been pushed out to `npm` yet, but should be coming soon!

[2018-06-28 14:29] vavrecka commented on #244
Perfect! Glad to hear that. We can close this one then, thanks!

[2018-06-28 14:40] campionfellin commented on #244
Thanks!

[2018-07-01 05:58] shai commented on #63
so I'm unsure about why it's working for some and not others? @grant if you last comment you said and showed that it works, but @onlinelaser and myself say it isn't and then you added the API support needed label which implies it doesn't work?

Should I keep trying to get it working or did you verify that it isn't working and we need to wait for a solution?

[2018-07-01 17:40] grant commented on #63
I added the `API support` label because it looks like the UI does something different the API cannot do yet.

[2018-07-01 20:27] grant opened #247 "Update Travis Keys"
See: https://github.com/google/clasp/pull/246#issuecomment-401626948

Travis should pass afterwards.

[2018-07-02 10:40] JeanRemiDelteil commented on #10
@grant I've invited you to access my repo for generating GAS stubs / d.ts files.
Seems that this matter got stuck a little. And I would like to make it move on again !

[2018-07-02 16:02] grant commented on #10
Thanks for the ping.
I think the TypeScript definitions (`@types/google-apps-script`) should be usable today. I'm working on a guide that will be on developers.google.com. Unfortunately progress is slower there.

Are there specific things missing from using TypeScript today? If so, I can help make those changes. I think the definitions are complete.

[2018-07-02 16:24] JeanRemiDelteil commented on #10
I have to make some tests, but some code are giving errors when it should not.

[code]

gives the error (i'm using "Jetbrains Webstorms" == "Intellij for JS"):

on _Maps.DirectionFinder.Avoid.HIGHWAYS_

Also these typing should be up-to-date when there are changes in GAS, not every years, in fact, it should be the gas team that should generate and provide those !

If we can use those typing withou

[2018-07-02 22:23] grant commented on #247
This should have been updated with https://github.com/google/clasp/commit/43e63994c51c112a9f95ddc5efae890cae4ce431#diff-1a862d4222b65fd1f893b41b978a145b

[2018-07-02 22:23] #247 closed

[2018-07-03 01:12] grant commented on #66
I'm going to close this as it might be outdated and there's not a great way to reproduce the error.
I think `.claspignore` wasn't implemented at this point and could prevent this problem.

Ping here if you see this issue (and please provide repro steps).

[2018-07-03 01:12] #66 closed

[2018-07-03 01:18] grant commented on #203
I'm not sure. This error is probably because you are in China and the internet provider is blocking this API. As in, G Suite doesn't work in China.

There was a feature request to support proxies: #8

But I think you can just use a proxy with googleapis directly following these instructions:
https://www.npmjs.com/package/googleapis#using-a-proxy

I'll accept PRs for any fix you find a fix. Otherwi

[2018-07-03 01:18] #203 closed

[2018-07-03 14:50] campionfellin commented on #214
Hey @bhaelochon can you try using the full path as `rootDir` rather than the relative path?

[2018-07-03 16:52] grant commented on #225
To be honest, I don't expect this to be fixed by the team in the next 3 months, but we will see.

[2018-07-04 21:31] IanWhalen commented on #244
Just a note that I think I'm running into the 'blank error message' issue as well on `clasp push`, so publishing a new version with the above fix or giving any kind of workaround here would be awesome.  Otherwise I'm just kind of drawing a blank on what's wrong.

[2018-07-06 08:37] ryan-codingintrigue commented on #244
@IanWhalen Same here. The project is relatively easy to build from source:

[code]

Turns out I forgot to enable the Apps Script API !
https://script.google.com/home/usersettings

[2018-07-06 17:22] grant commented on #244
I'll look into preventing these errors next week.

[2018-07-06 17:50] IanWhalen commented on #244
Doh, usersettings was totally it.  I just skipped over that line in the readme.  Sorry!  But yes, an error message indicating that's the problem would certainly be helpful if possible.

[2018-07-06 17:56] paul-matthews opened #255 "Clasp push fails silently"
`clasp push` fails with no error log:

## Expected Behavior
After clasp push, expect edits to be present in web interface.

## Actual Behavior
Clasp push produces following output:
`Push failed. Errors:`
No errors are displayed.

## Steps to Reproduce the Problem

  1. clasp clone <script ID>
  1. edit script file
  1. clasp push

## Specifications

  - Node version (`node -v`): v7.5.0
  - Version

[2018-07-06 18:33] IanWhalen commented on #255
@paul-matthews check to make sure you've enabled the apps script API?

https://script.google.com/home/usersettings

I hit the same issue less than 24 hours ago and that was the solution.

[2018-07-06 18:52] paul-matthews commented on #255
@IanWhalen solved, thank you.

Is there any chance this could be caught by the tool and reported?

[2018-07-06 18:58] paul-matthews opened #256 "FR: On push error check & report app script permission"
When no api access, report to user in helpful error message.

It's easy to incorrectly think that you've enabled server side permissions for app script when a project is successfully cloned from the CLI, however the server side permission can be disabled at this point (as seen in #255 ).

When there's no permission to access the server side APIs, please report it to the user (ideally with a link a

[2018-07-09 15:54] IanWhalen commented on #204
Hey all, two things:

1) Just wanted to vote for this with my specific use case.  As I'm developing locally and testing it would be awesome if I could basically save what I'm doing and hit `clasp push && clasp run main` to see how my changes are doing.  Then I could effectively never open the online editor to run my code.

2) Is it the case that this should work out of the box as long as you don't

[2018-07-09 16:14] jasonjurotich commented on #204
Thanks IanWhalen, I was actually going to send a message to see how this was going. If there were a way to add the scopes and get them approved, that would be awesome, to solve this problem.

[2018-07-11 13:06] OleksandrRakovets opened #257 "clasp commands occasionally hang the prompt"
## Expected Behavior
`clasp push`, `version`, `deploy`, `versions`, `deployments` finish execution correctly and let me enter next command.

## Actual Behavior
Commands execute correctly, but prompt hangs, so I have to hit Ctrl+C to enter next command.

## Steps to Reproduce the Problem
I have not noticed any particular circumstances leading to the issue. They hang randomly.
On clasp 1.3 experienc

[2018-07-11 13:12] OleksandrRakovets opened #258 "clasp push does not report Javascript lint errors"
## Expected Behavior
`clasp push` of JS code with syntax error rejects to push with an error message, as it's displayed in web editor. This actually worked in v1.3.

## Actual Behavior
`push` results in `Push failed. Errors:` with no reasoning.

## Steps to Reproduce the Problem

  1. Make a syntax error in the script, e.g. put extra ; in array or object definition.
  2. `clasp push`

## Specifica

[2018-07-11 13:22] campionfellin commented on #258
Hey @OleksandrRakovets thanks for the note! This was fixed in this commit: https://github.com/google/clasp/commit/272c1df69dfdddc037dba5826524327370c949fa

changing from `logError(...)` (which exits) to `console.error(...)` so it would continue and show what the errors were. This hasn't been updated on `npm` yet. @grant probably time to publish `clasp 1.4.1`?

[2018-07-11 20:06] grant commented on #258
I've noticed this too.

Isn't 1.4.1 published?
https://www.npmjs.com/package/@google/clasp

I'll have to investigate this.

[2018-07-11 20:18] OleksandrRakovets commented on #258
npm says it's published 2 days ago and I must have tried to update 3 days ago :)

Can confirm the correct reporting now.

Cheers for the great tool by the way! I've been waiting for it for so  many years.

[2018-07-11 20:18] #258 closed

[2018-07-13 09:42] Nebucatnetzer commented on #72
How is the status of this bug?
I just ran into this problem with a third party library and it took me quite some time to figure out what went wrong.

[2018-07-13 15:05] 27aume commented on #257
I have the same kind of issue using
`clasp version crCp_build_v3.01`
`clasp version description` trying to save/snapshot actual version a new one.
the prompt hang on `- Creating a new version...`

Node version (node -v): 10.6.0
Version (clasp -v): 1.4.0
Windows 10

[2018-07-14 09:52] Nebucatnetzer commented on #72
That would be great. Otherwise I probably have to  rewrite the library.

[2018-07-14 14:43] campionfellin commented on #256
Have you tried with version `1.4.1`? This is what I get with the Apps Script API disabled:

[code]

[2018-07-14 14:47] campionfellin commented on #244
Hey all, have you tried with version `1.4.1`? It seems to be working now giving this error if the API hasn't been enabled:

[code]

This was fixed in this commit: https://github.com/google/clasp/commit/272c1df69dfdddc037dba5826524327370c949fa

See similar issue here: https://github.com/google/clasp/issues/256

[2018-07-17 22:43] gauntface commented on #77
It would be great if this could be officially supported with types provided by the appscript / clasp team.

[2018-07-18 15:22] jtt48 commented on #255
I have the same error, sadly I already have the apps script API enabled, so that is not a solution for me.

[2018-07-19 16:38] grant commented on #77
[TypeScript](https://github.com/google/clasp/blob/master/docs/typescript.md) is supported with clasp@1.5 🎉

The supported types are at [@types/google-apps-script](https://www.npmjs.com/package/@types/google-apps-script). I'll update that package with updated Apps Script types every so often.

Please report issues with the types in the types source code: https://github.com/DefinitelyTyped/Definitel

[2018-07-19 16:38] #77 closed

[2018-07-21 01:16] grant commented on #244
I think I'm going to close this issue in favor of #256 since the problem was usersettings.

[2018-07-21 01:16] #244 closed

[2018-07-21 01:20] grant commented on #103
With 0acd7bb035cb9c42b46733c21a86e0eb9356b53a (the updated GIF), I am going to close this issue.
I'm sure we could eventually design a logo, and improve the commands reference docs, but the README is a lot better than before.

[2018-07-21 01:20] #103 closed

[2018-07-21 01:29] grant commented on #10
`clasp@1.5` launches TypeScript support which allows for IDE support in editors like VSC. See the guide here:

https://github.com/google/clasp/blob/master/docs/typescript.md

The GAS team can't provide better `@types/google-apps-script` types, but I've been able to update them and test them recently. Please comment on definition errors in the DefinitelyTyped google-apps-script commits and tag me.

[2018-07-21 01:29] #10 closed

[2018-07-21 01:32] grant commented on #207
Closing in favor of #58.

[2018-07-21 01:32] #207 closed

[2018-07-22 05:40] adheegm commented on #67
use this
[code]

[2018-07-24 19:57] badgercoder17 opened #261 "'clasp version' command issuing TypeError"
(Please search [existing issues](https://github.com/google/clasp/issues) before creating a new one.)

## Expected Behavior
Running the command 'clasp version [description]' should allow me to create a new version of my project successfully.

## Actual Behavior
Running the version command causes thisUnhandledPromiseRejectionWarning to appear:

`$ clasp version "head version"
/ Creating a new versio

[2018-07-25 01:39] edwardfung123 opened #262 "Add doc for typescript modules"
Is it actually possible? if so, could you update the doc? Currently I am building an add-on and I would modularize the code. Or should I simply concat the files before `clasp push`?

After reading the doc about using typescript in clasp [here](https://github.com/google/clasp/tree/master/docs) and experiment with different code, I still cannot figure out a way to export and import functions in diff

[2018-07-25 06:03] grant commented on #262
Currently node-like modules aren't supported in clasp. An idea would be to rollup the clasp code as one giant src file, but that isn't very ideal and isn't in alignment with the current developer model for clasp (ideally keeping separate files).

You can create separate classes, but they have to have a unique name. The file order issue is tricky, but should help this. Ideally most programs run scr

[2018-07-25 07:30] edwardfung123 commented on #262
OK. Since I am new to apps script and typescript. I am not sure whether I am not doing something right.

Yes my code is converging to this approach and it works so far. Thank you very much. `claps` really makes the development a lot easier.

[2018-07-25 16:02] nick-brainlabs opened #263 "export typescript keyword isn't ignored on transpiling"
## Expected Behavior
`export const pi = 3.141592;`
in a typescript file to become:
`const pi = 3.141592;`
in gas.

## Actual Behavior
My app script has this instead:
[code]
Which raises the following error:

`ReferenceError: "exports" is not defined. (line 1, file "src/foo")`

## Steps to Reproduce the Problem
1. make a typescript file with example from docs
2. `clasp push`
3. inspect code in app

[2018-07-25 16:07] nick-brainlabs commented on #263
This ticket is very similar to https://github.com/google/clasp/issues/262. The difference being if I'm getting the expected behaviour wrong should the current docs be more precise?

[2018-07-25 17:53] grant commented on #263
Thanks for the report.
I'll have to update the docs or make `exports` not give an error.
In the meantime, don't use the `export` keyword.

[2018-07-25 18:01] grant commented on #257
Strange. My initial instinct is that the API is not responding for some reason.

Would a forced ~10 second cutoff in `clasp` with an error message solve the problem?

It may be because `checkIfOnline` which uses [`is-online`](https://github.com/sindresorhus/is-online) hangs, but the default timeout is 5 seconds.

[2018-07-26 02:01] techjeffharris opened #264 "Push failed. Errors:"
## Expected Behavior
Upload my changes, or provide useful error.

## Actual Behavior
Fails to upload providing "empty" error.

[code]

## Steps to Reproduce the Problem

  1. `mkdir test && cd test`
  1. `clasp clone <scriptId>`
  1. `touch new-bogus-file.js`
  1. `echo $(date) > new-bogus-file.js`
  1. `clasp push`

## Specifications

  - Node version (`node -v`): v8.9.0
  - Version (`clasp -v`):

[2018-07-26 02:05] techjeffharris commented on #264
I thought I had the latest version installed, but I found 1.5 in the releases section.

Updated and now I can push just fine, so I'll just close this.... after 5 minutes. 👍

[2018-07-26 02:05] #264 closed

[2018-07-26 02:07] grant commented on #264
Glad updating worked!

[2018-07-26 03:52] campionfellin commented on #261
Hey @badgercoder17 , I was unable to reproduce this error, but I believe this is where it stems from:

https://github.com/google/clasp/blob/0a7ac1366acfb8db91a9600fad9cee675ecce535/src/commands.ts#L477

It is trying to unwrap the `data` from the response, but with an undefined response, it throws the `UnhandledPromiseRejectionWarning`.

Unsure of the root cause of your issue, but changing this to

[2018-07-26 03:56] campionfellin commented on #255
Hey @ikedaosushi , what does your `.claspignore` file look like?

[2018-07-26 03:58] campionfellin commented on #256
Hey @paul-matthews I'm going to go ahead and close this, as I believe it has been solved. Please re-open if the problem still persists for you.

[2018-07-26 03:58] #256 closed

[2018-07-26 04:11] campionfellin opened #265 "Clasp tests should still work when clasp create fails"
### Problem
When `clasp create` fails, with error `Rate limit exceeded. Check quota.`, a `.clasp.json` file is not created, and thus subsequent tests fail. See `clasp create` test here: https://github.com/google/clasp/blob/0a7ac1366acfb8db91a9600fad9cee675ecce535/tests/test.ts#L61

This goes towards the long term goal of each test being independent of others.

### Proposed Solutions

If the `clasp

[2018-07-26 04:14] campionfellin opened #266 "Clasp tests should hit every ERROR/LOG message"
To increase coverage we should try to find and hit every ERROR message:

https://github.com/google/clasp/blob/0a7ac1366acfb8db91a9600fad9cee675ecce535/src/utils.ts#L82-L114

with the tests.

Additionally, we should probably hit all the log messages as well:

https://github.com/google/clasp/blob/0a7ac1366acfb8db91a9600fad9cee675ecce535/src/utils.ts#L117-L155

[2018-07-26 18:59] grant commented on #255
Pushing many, many files could run into unknown issues (although it shouldn't.)
If you're able to target down which file is the problem, or if the problem is the number of files, that would help debug this issue.

[2018-07-26 19:01] grant commented on #261
We should remove all destructured API responses (`{ data }`) due to possible errors in the API request.

[2018-07-27 16:48] jnovate opened #267 "Blob doesn't implement BlobSource interface method getBlob in TypeScript"
## Expected Behavior
GoogleAppsScript.Base.Blob should have getBlob()

## Actual Behavior
It doesn't

## Steps to Reproduce the Problem
Utilities.gzip(Utilities.newBlob('text'))

## Specifications

  - Node version (`node -v`): v8.9.3
  - Version (`clasp -v`):1.5.0
  - OS (Mac/Linux/Windows): Mac

[2018-07-28 10:00] logemann opened #268 "IntelliJ creates import statements which fail on runtime after (ts) transpile"
When coding with IntelliJ which is fully typescript capable, when coding a line like this:

[code]

IntelliJ generates an import statement like this:

[code]

This import statement becomes after transpiling and pushing:

[code]

But this statement fails during script runtime. Problem is, without the import, I don't have any autocomplete in my IDE and of course the IDE flags the source as invalid.

[2018-07-28 10:32] logemann commented on #10
still not sure if IntelliJ can work with the current state. See my latest report at https://github.com/google/clasp/issues/268

Basically IntelliJ wants to create an import like this:
import GmailMessage = GoogleAppsScript.Gmail.GmailMessage;

I ve tried using: import "google-apps-script"
without any success. The types wont be recognized then. My mentioned imports gets transpiled into something wh

[2018-07-28 11:17] logemann commented on #268
a different style of import results in error both in VSCode and IntelliJ.

<img width="930" alt="bildschirmfoto 2018-07-28 um 13 16 41" src="https://user-images.githubusercontent.com/346353/43356004-a110a73a-9268-11e8-8979-78194787d0e2.png">

[2018-07-28 13:57] azu commented on #214
1.5 ignore `appsscript.json` in custom directory.
1.4 work fine in my enviroment.

For example, https://github.com/azu/gmail-old-notification-remover
`yarn run deploy` does work with `clasp@1.4`

[code]

But, `yarn run deploy` does not work with `clasp@1.5`

[code]

[2018-07-28 16:09] grant commented on #10
I'll continue the conversation with that issue. I should mention you cannot use the `import` statement, but autocompletion should come automatically after installing the types.

I haven't tried IntelliJ, only VSC. I'll investigate more during the week.

[2018-07-28 16:14] grant commented on #268
I've updated the above comment with syntax highlighting.
I believe you should not need to use import statements, just install the types. I've tried with VSC.

I'll check about handling `import`s better, perhaps removing them before transpiling/pushing.

Does deleting them, then pushing work? (aside from the lack of autocompletion)

[2018-07-29 18:50] misterludden commented on #214
Same for me - rolling back to @1.4.0 resolved it for some reason.

[2018-07-29 22:49] grant commented on #214
I must have broken custom directories with typescript support. I'll fix this issue next week.

In the meanwhile, use 1.4 for now.

[2018-07-30 09:31] logemann commented on #268
When i dont use imports, i dont get any autocompletion at all and the code is flagged with lots of errors. This is kind of unusable then.

VSC flags also errors but doe autocompletion nevertheless.

To your question. Yes, deleting the imports and pushing works. But thats really an ugly coding workflow. Of course i can tell IDEA not to do imports at all which gives a bad coding experience in any ca

[2018-07-30 22:42] grant commented on #262
I've updated [the doc](https://github.com/google/clasp/blob/master/docs/typescript.md) to describe how you cannot use terms like `require` or `exports`.

The best way to modularize code is via functions (they are global).

Does that answer the question, or should there be any other warning in the TypeScript doc?

[2018-07-30 22:52] grant commented on #267
Can you provide an example using `getBlob`?

[`HTTPResponse.getBlob()`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/google-apps-script/google-apps-script.url-fetch.d.ts#L20) exists:
https://developers.google.com/apps-script/reference/url-fetch/http-response#getBlob()

I don't think `blob.getBlob()` is valid Apps Script.

[2018-07-30 23:12] grant commented on #268
I will experiment with a solution that comments out the import line when pushing.

[code]

I created the 3rd party lib, so I can follow-up there.

[2018-07-30 23:41] grant commented on #263
Apps Script doesn't support modules, and every identifier is global.

Would it be okay to just update the [TypeScript doc](https://github.com/google/clasp/blob/master/docs/typescript.md) to ask users to not use this keyword and close this issue?

[2018-07-30 23:43] grant commented on #255
@jtt48 @ikedaosushi Is this still an issue? Have you been able to ignore the files that you don't want to push?

[2018-07-31 02:42] edwardfung123 commented on #262
It is OK.

[2018-07-31 09:05] nick-brainlabs commented on #263
My use case for the export keyword is TDD with Jest. I think it depends on whether that's considered to be in scope or not.

[2018-07-31 18:10] grant commented on #72
Btw, this is the bug for reordering script in the script editor: https://b.corp.google.com/issues/36756144

[2018-07-31 19:39] grant commented on #72
I've spent a few hours trying to solve this issue. This is what I've done:

- Look at how to set the creation/modified date of a unix file.
  - A: It seems impossible, you can only touch a file to set the modification date to now.
- Look how gapps may have done this.
  - A: It looks like [gapps](https://github.com/danthareja/node-google-apps-script/blob/master/lib/util.js#L6) didn't modify the cre

[2018-07-31 21:01] grant opened #271 "Add steps for linking when clasp is unlinked"
If the error occurs: `bash: clasp: command not found`

You can link/unlink with these commands:

Link: `sudo npm link .`
Unlink: `sudo unlink /usr/local/bin/clasp`

I need to figure out why linking doesn't happen sometimes.

[2018-07-31 22:17] grant commented on #263
I'm going to make the expected behavior for
[code]

to be

[code]

As that is the intent of using the `exports` keyword (and the output of the TypeScript compiler). I'm figuring a way around this issue https://github.com/Microsoft/TypeScript/issues/14351.

If you'd rather not have `exports.`, don't use the `export` keyword.

Let me know if there's anything wrong with the behavior above.

[2018-08-01 00:41] #265 closed

[2018-08-01 00:58] eskemojoe007 commented on #67
Has anyone found a useful workaround for the time being?  This is stopping some of my work.

[2018-08-01 02:28] grant opened #273 "`clasp apis` Should give an overview of subcommands"
## Expected Behavior

[code]

## Actual Behavior

[code]

Ref: https://github.com/google/clasp/blob/master/src/commands.ts#L555
Other issue: #217
CC: @campionfellin

[2018-08-01 02:51] grant commented on #268
Can you try installing the latest version of clasp `1.5.1`, and see if the IntelliJ setup works?

[2018-08-01 02:51] grant commented on #263
Can you try installing the latest version of clasp `1.5.1`, and see if the behavior works?

[2018-08-01 03:11] grant commented on #262
Please try `clasp@1.5.1` and see if the update works for your environment. `exports` shouldn't fail now. If it doesn't work to your liking, please state the expected and actual results in the comment.

Node-like modules aren't supported, although you may be able to use scripts that are also Node modules.

I'm going to close this issue since Node modules aren't supported (I've updated the doc), but

[2018-08-01 03:11] #262 closed

[2018-08-01 09:05] logemann commented on #268
grant.. you rock! Now it works like a dream. You comment out the imports right?

Had some trouble testing. Can it be that you need to deploy a new version to see changes in effect in the addon? A little bit weird because in the online editor i could just change the source and i was ready to go. Now with the need to create versions, i also need to install the addon again and again because a new ver

[2018-08-01 10:09] nick-brainlabs commented on #263
I've had a go and it's working as expected.

I'm getting errors whenever I had jest as a dependency which I wasn't getting the other day. It's happening with both `1.5.0` and `1.5.1`
[code]

I appreciate this might be out of the scope of this issue though

[2018-08-01 15:43] grant opened #276 "clasp open --webapp"
## Expected Behavior

You should be able to open a web app easily using the latest DEPLOYMENT_ID.

[code]

## Actual Behavior

You must type this URL:

`https://script.google.com/macros/s/<DEPLOYMENT_ID>/exec`

[2018-08-01 16:09] grant commented on #263
@nick-brainlabs Can you see if `1.5.2` has the error `Error: Debug Failure. Unexpected moduleResolution: false`?

Can you paste the error again with the source code to reproduce it?

[2018-08-01 16:12] grant commented on #267
`Blob.getBlob` doesn't seem like a valid type in the docs, and this issue hasn't seen a reply, so I'm going to close this issue. Comment if you want me to re-open it.

[2018-08-01 16:12] #267 closed

[2018-08-01 16:30] JeanRemiDelteil commented on #72
@grant : I'm sure there are reason to fix this 'bug' however keeping the alphabetical ordering as an option would make sense.
(Though i'm not to stuck up on this, as for all I've said above the file order does not really matter, and my extension and the original UI allows to show the files in order !)

[2018-08-01 16:40] nick-brainlabs commented on #263
@grant `1.5.2` fixes it and jest is running fine. This is really exciting, thanks for looking into it!

[2018-08-01 16:40] #263 closed

[2018-08-01 16:58] grant commented on #268
Yay! I'll close this issue. The imports are commented so you can still see them but they won't mess up the code.

Do note that multi-line imports don't work, but it doesn't look like the types have that for IntelliJ. i.e.
[code]

Please create a new one if you see any other issues or have feature requests.

[2018-08-01 16:58] #268 closed

[2018-08-02 04:25] campionfellin commented on #261
@grant was this done in https://github.com/google/clasp/commit/c51683d46e0c33ba745c3b22a1815a02331082ee?

If so then, should we close this?

[2018-08-02 04:44] grant commented on #72
I've alphabetical ordering (`_.gs`, `a.gs`, `b/z.gs`, `x.gs`) would fix everyone's issues then I'd gladly implement that and update `clasp` this week. I hate that this large issue hasn't been solved since March and affects some claspers.

Is there anyone opposed here to that?
@DimuDesigns @rafasc @Nebucatnetzer

[2018-08-02 04:45] grant commented on #261
Yup! Closing.

[2018-08-02 04:45] #261 closed

[2018-08-02 05:18] campionfellin opened #278 "Clasp commands should have consistent order to standard checks"
So far I see these 3 checks most commonly appearing:

`checkIfOnline()`
`loadAPICredentials()`
`getProjectSettings()`

However, we call them in different orders on different commands (look at `clasp pull` vs `clasp push` for example.

We should pick an order and standardize, or create a wrapper that does all three.

[2018-08-02 06:41] Nebucatnetzer commented on #72
I'm not sure I understand it.
Isn't alphabetical ordering the way it currently works and that is causing problems?
At least my workaround for the problem was to name the files Z01_xxx, Z02_xxx, etc.
So that they keep their order.

[2018-08-02 07:08] jnovate commented on #267
With TS you get `Argument of type 'Blob' is not assignable to parameter of type 'BlobSource'. Property 'getBlob' is missing in type 'Blob'.`
when using for example Utilities.gzip(Utilities.newBlob('text')). Note that 'blob' in Utilities.gzip(blob) is a BlobSource and not Blob.

[2018-08-02 09:10] JeanRemiDelteil commented on #72
Yes i'm pretty sure it's how the current implementation works.

It's just something you need to take in account when coding.
Alphabetical order is so easy to understand instead of invisible shaddy creation dates imho !
It is also reproducible on all system and fit for a streamlined work process (as the result will always be the same).

[2018-08-02 09:28] Nebucatnetzer commented on #72
I personally can live with that, however then it is more a problem for the Google Apps Script Browser UI.
Because there the scripts are shown in the order they get created and not in alphabetical order.
I don't know if @grant can do something about that.

[2018-08-02 10:56] DimuDesigns commented on #72
I've found that the arrays retrieved using [import-export](https://developers.google.com/apps-script/guides/import-export#export_projects_from_drive) actually **retain** the execution order of the script files in an app script project (as seen in the IDE).

I don't like the idea of a tool automatically changing underlying structures that can adversely affect my code. So if at all possible please r

[2018-08-03 08:04] JeanRemiDelteil commented on #72
@Nebucatnetzer It's possible to show the scripts in alphabetical order in the Google Apps Script Browser UI.
You have to check a menu:
![image](https://user-images.githubusercontent.com/9743907/43631826-93b39df4-9704-11e8-97ff-136feda038f6.png)

[2018-08-03 08:50] Nebucatnetzer commented on #72
Ah okay, but that doesn't change the execution order?

[2018-08-03 09:08] JeanRemiDelteil commented on #72
No. It's display only.

I myself don't write any code in the browser UI any more, even the files are created on my desktop, then pushed to the script when testing, so using the GUI is anecdotal..

[2018-08-03 09:38] Nebucatnetzer commented on #72
Ah okay, I agree that alphabetical execution order makes the most sense.
At least it's something which is easy to understand/lookup.

However that still breaks existing projects which rely on the date execution order.

[2018-08-03 15:46] grant commented on #72
It seems like preserving existing execution order (which is based on the create date for each file you've created) is the only solution for preserving old script execution order.

I'll eventually add this feature, but it's going to take some time and testing since filesystems don't have a way to manually override file creation time (`ctime`). Here would be the implementation plan.

## WRITE to FS

[2018-08-03 16:22] grant opened #280 "Apps Script Manifest Autocompletion"
## Expected Behavior

Creating an Apps Script manifest should be easy. Manifest editing should have these features:
- Autocompletion
- Syntax errors
- Integration with clasp (`clasp create --webapp`)

## Actual Behavior

- You have to create this file by hand. No autocompletion on script.google.com or local IDEs.

## Suggestion Solution

- `appsscript.ts`
  - PRO: Simple setup (rename `appscript.j

[2018-08-03 16:31] JeanRemiDelteil commented on #72
Ok, Just a question on this.

We are only using READ from FS. never Write, or juste to init a project from existing really old script.
With your plan, you will order files against a creation time that came from just creating files when developing the project on the FS.
Those files are stored in a version control system, that can delete and create them at will, hence changing randomly the creation

[2018-08-03 19:17] grant commented on #72
I agree that deleting/creating/moving the files will alter the order. Even copying the files from one folder to another would break the order. I'm open to any long-term solution, but I still don't see one.

My initial reply would be: Storing the push order of files doesn't work because you may rename/move the file.

However, a push order may be the best and most accurate way to push files in order

[2018-08-03 22:39] rafasc commented on #64
Seems that there was another mishap with 1.5.1.

@nmccready For my personal use, I added tags that match the [registry][1] to my fork. Following the `npmjs/clasp-X.X.X` format, so they can happily live alongside the existing ones.

They don't have any real value because they're tagged by me, but for convenience you can get them from there by using `git fetch --tags https://github.com/google/clasp`

[2018-08-06 06:02] Nebucatnetzer commented on #72
For me this would be fine.

[2018-08-06 09:30] JeanRemiDelteil commented on #72
@grant : and if there are files not mentioned in this list, I expect them to be pushed alphabetically ordered.
That would be ok!

About scalable:
The whole 'creation time' ordering is not scalable from the start. There are no serious project/solutions out there that use this kind of behaviour.
So it's not a real problem: the issue here is to prevent old project from breaking when **pulling and pus

[2018-08-06 17:50] labnol opened #281 "Command Failed: clasp push"
The push command is failing because Clasp is unable to read the appsscript.json file in the root directory though it exists.

The issue is specific to clasp v1.5.2 though it works with the 1.4 release.

https://github.com/labnol/apps-script-starter/issues/2

`➜ **ls dist**
appsscript.json
code.js
oauth2.js

➜ **npx clasp status**
Not ignored files:
└─ dist/code.js
└─ dist/oauth2.js

Ignored files: