[2019-05-21 23:43] PopGoesTheWza commented on #624
@DimuDesigns are you using the latest npm release or building directly from this repository?

[2019-05-22 00:58] DimuDesigns commented on #624
@PopGoesTheWza Latest NPM release.

[2019-05-22 06:39] PopGoesTheWza commented on #624
A PR fixing this has been merged, so you can either wait until next release or build your own from this repository

[2019-05-22 07:16] takanakahiko commented on #623
@grant Thanks!
Is it okay to change the document to explain how to paste(apply) the project-id?

[2019-05-22 19:03] DimuDesigns opened #625 "Feature Request - Commands to streamline management of multiple push targets."
## Feature Request - Commands to streamline management of multiple push targets.

**Describe the solution you'd like**
There have been a few similar proposals (#349 is one of them). I'd categorize this as a "nice-to-have", where we could have options to store, track and switch between multiple push targets (ie. `scriptId`s) via a switch/branching mechanism similar to how `git branch` functions. Li

[2019-05-22 19:18] grant commented on #623
Yes, please change it.

[2019-05-22 19:33] grant opened #626 "clasp push: UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, open '.claspignore'"
## Expected Behavior

`clasp push` works

## Actual Behavior

`clasp push` without `.claspignore` fails.
[code]

This is probably broken due to a PR that modified `.claspignore`.

I can't publish clasp until this is fixed.

[2019-05-22 19:35] grant commented on #626
@PopGoesTheWza @DimuDesigns Can't publish `clasp` until this is fixed.
https://github.com/google/clasp/issues/624#issuecomment-494672834

[2019-05-22 19:44] PopGoesTheWza commented on #626
@grant if no defined .claspignore, we could apply a “built in” default?
Something like ignore node_module, and consider only AppsScript.json and *[jt]s in current folder
What do you think?

[2019-05-22 19:51] grant commented on #626
The default sounds great.
Please create a PR that fixes this and documents the default ignore file (`node_modules/`).

[2019-05-22 19:57] PopGoesTheWza commented on #626
Will do in an hour. I will let you add a test for when there is no .claspignore

[2019-05-23 00:18] #626 closed

[2019-05-24 08:36] robfordww opened #631 "TypeError: dotf is not a function"
## Expected Behavior

Being able to run clasp

## Actual Behavior

Gets an error message on any execution of the clasp command

## Steps to Reproduce the Problem

1) Installing clasp like  instructed
2) Running "clasp" or "clasp login" results in the following:

    ...AppData\Roaming\npm\node_modules\@google\clasp\src\dotfile.js:89
        RC: dotf(exports.DOT.RC.DIR, exports.DOT.RC.NAME),

[2019-05-24 08:56] PopGoesTheWza commented on #631
@robfordww there is an [issue](https://github.com/grant/dotf/issues/10) with the `dotf` package

A PR to fix it has been produced, for @grant to review and re-publish.

Meanwhile, the workaround is to edit Clasp package.json so that it does not use `dotf@1.3.0`

[code]

[2019-05-24 09:43] darul75 commented on #631
confirmed, facing similar issue

[2019-05-24 09:52] PopGoesTheWza commented on #631
@robfordww  @darul75 (and others) be sure to issue a `npm install` after patching dotf version to `~1.2.0`

On my system at least, this fixed the issue.

[2019-05-24 10:02] darul75 commented on #631
I am on a mac and it does not make any differences, I have tried to uninstall it globally and install a previous release but I still got this error.

[2019-05-24 10:05] darul75 commented on #631
` "dependencies": {
    "chalk": "^2.4.1",
    "cli-spinner": "^0.2.8",
    "commander": "^2.15.1",
    "connect": "^3.6.6",
    "del": "^3.0.0",
    "dotf": "^1.2.0",`

`/usr/local/lib/node_modules/@google/clasp/src/dotfile.js:89
    RC: dotf(exports.DOT.RC.DIR, exports.DOT.RC.NAME),
        ^

TypeError: dotf is not a function
    at Object.<anonymous> (/usr/local/lib/node_modules/@google/clasp/

[2019-05-24 10:11] PopGoesTheWza commented on #631
@darul75 (and others) for a correct workaround:

1. patch clasp `package.json` with "~1.2.0" for "dotf" version
1. from the clasp root folder run the command `npm uninstall -g @google/clasp && npm run build-fresh` (your system may require you to `sudo` that command)
1. run `clasp --version` to verify clasp no longer crashes

[2019-05-24 10:19] darul75 commented on #631
ok, thanks my bad, I confused `^1.2.0` with `~1.2.0` your initial @PopGoesTheWza workaround worked.

[2019-05-24 17:16] grant commented on #631
Looks like a PR broke the module.
- I deprecated `dotf@1.3.0`
- I published `dotf@1.4.0` with a patch by Pop.

I didn't verify that it works (other than running tests).

Sorry for breaking things.

[2019-05-24 17:44] andrewdimmer commented on #631
@PopGoesTheWza Thank you for the work around!

[2019-05-24 18:26] grant commented on #631
Hi all,
I believe I've successfully deprecated the broken `dotf` versions on npm, such that `clasp` should work fine for previous and new installs.

If you installed `clasp` between now and yesterday, you may have installed a version that includes the broken `dotf` package. Please re-install `clasp` to undo that.

Let me know if this is still an issue.

### Details

https://www.npmjs.com/package/d

[2019-05-24 20:30] PopGoesTheWza commented on #593
There is a big difference in Travis time to process depending on the time of the day

[2019-05-24 20:34] PopGoesTheWza opened #634 "using `dotf` types"
Current Clasp version embed ad-hoc types for the `dotf` package. These are not fully compatible with types included with version after `dotf@1.2.0`

[2019-05-25 01:01] #623 closed

[2019-05-27 22:06] PopGoesTheWza commented on #625
@grant could you please advise on how the `.claspignore` file should be located?

Current code does not give a clear idea of the intended process:

[code]

Unless I am missing something, it can be summarized as "look for .claspignore in CWD. If not present, use built-in default"

[2019-05-27 23:06] vsekhar opened #638 "Make clasp logs timestamps optional"
## Expected Behavior
`clasp logs` should accept a `--timestamps` parameter to enable the periodic timestamping. Leaving it off should provide "clean" logs which are useful when logs are already timestamped.

## Actual Behavior
`clasp logs` always timestamps

[2019-05-28 03:07] grant commented on #625
Should be next to the .clasp.json

[2019-05-31 18:09] #634 closed

[2019-05-31 18:17] grant commented on #638
PRs welcome.

Please add more details to the GitHub issue including an ideal before and after output.

[2019-06-03 15:10] PopGoesTheWza commented on #616
@grant

The goal of this feature request is to enable the user in specifying which/where the following configuration files to be used by Clasp:

- `.clasp.json`
- `.claspignore`
- `.clasprc.json` (local auth)

This sould be possible through:

- environment variables:
  - `clasp_config_project`
  - `clasp_config_ignore`
  - `clasp_config_auth`
- cli options:
  - `-P, --project <file>`
  - `-I, --ig

[2019-06-04 03:28] campionfellin commented on #638
I like this idea, especially for `claps logs --watch`.

I would amend your timestamps flag to be something like `--with-timestamps` or `--detailed`.

Is this the output you would be imagining?

From:

[code]

to

[code]

[2019-06-05 23:04] eflee opened #641 "Create a mechanism to configure triggers for a project"
Feature request: Allow some configuration files that will create/edit/delete triggers.

Hoping that this can be taken as a feature request. It seems like the only obvious thing I've found that is missing. Would love to be able to configure my triggers in code and have them pushed/deployed.

[2019-06-06 15:11] DimuDesigns opened #642 "[MINOR BUG] When contents of .clasp.json is malformed clasp reports 'No .clasp.json settings found'"
## Expected Behavior
When the contents of `.clasp.json` is malformed and a command that references the file is invoked (ex. `clasp pull`), reported error should state that the file is malformed.

## Actual Behavior
For `.clasp.json` files with malformed content, clasp reports:

This is misleading.

## Steps to Reproduce the Problem

1. Edit `.clasp.json` so that its contents are malformed (ex. del

[2019-06-06 15:29] grant commented on #642
How about we fix this quickly by saying:

PRs welcome.

[2019-06-06 16:01] vsekhar commented on #638
That output works.

I think the other component is the periodic insertion of a timestamp into the log stream by clasp. That should only happen when the timestamps option is enabled.

[2019-06-07 02:33] takanakahiko opened #643 "When create, use the manifest file if it already exists."
I'm not good at English, so I'm not confident that I can write it well.
Please listen to anything that is hard to understand.

## Expected Behavior

Feature request.
When `clasp create` , use the manifest file if it already exists.

## Actual Behavior

If the manifest file already exists, the manifest file will be overwritten by the `clasp create` command.

For example, [sao-clasp](https://www.npm

[2019-06-09 20:55] paxperscientiam commented on #204
Qualitatively, I have to say this process is a huge pain in the butt. More substatively, and maybe this should be a separate issue, but the whole oauth process is only working with the Chrome browser: on both Firefox and Safari, I'm getting error messages when redirected to localhost.

[2019-06-11 22:08] PopGoesTheWza commented on #616
@grant comments? thoughts?

[2019-06-11 22:13] grant commented on #616
I can’t really support feature that don’t have at least 10 users or solves a key use case.

I would maybe fork clasp if you really can’t use bash commands to do this and want to add it to the CLI.

[2019-06-11 23:04] PopGoesTheWza commented on #616
I can use command line or use my own fork even. The proposed change would potentially address #12 #483 #524 #12 #42 I think, but at that point i’ll Wait for mote traction/support.

[2019-06-12 10:22] PopGoesTheWza commented on #641
@eflee I could not find an API to manipulate [installable triggers](https://developers.google.com/apps-script/guides/triggers/installable)
The [REST API](https://developers.google.com/apps-script/api/how-tos/execute#limitations) explicitly lists the inability to create triggers under its limitations.

[2019-06-12 11:35] PopGoesTheWza commented on #642
@grant maybe something like:

[2019-06-12 13:14] PopGoesTheWza commented on #643
@takanakahiko I did the following test:

[code]

Next I tried this

[code]

Thus the issue seems that the manifest file is not correctly detected when the `--rootDir` option is set

[2019-06-12 13:23] PopGoesTheWza commented on #643
@takanakahiko @grant the cause is very likely because `rootDir` is not passed as a parameter to `manifestExists()` (in `commands/create.ts`, line 101.

I'll post a PR for you to test further.

[2019-06-12 15:58] grant commented on #641
Good feature request.
This is another thing that we can't do with the API or outside the code editor.

[2019-06-12 15:59] grant commented on #642
Sure

[2019-06-13 15:38] PopGoesTheWza opened #649 "npm package contains some unnecessary files"
## Expected Behavior

Package should contain only files relevant to Clasp

## Actual Behavior

![image](https://user-images.githubusercontent.com/32041843/59446660-357d6580-8e02-11e9-90f5-16b20ee02602.png)

## Steps to Reproduce the Problem

1.  find npm package url
[code]
2. Download and inspect `https://registry.npmjs.org/@google/clasp/-/clasp-2.1.0.tgz`

## Specifications

- Node version (`node

[2019-06-14 21:28] #561 closed

[2019-06-14 21:35] #643 closed

[2019-06-14 21:36] #642 closed

[2019-06-14 21:55] PopGoesTheWza opened #650 "When can a new release of clasp be expected?"
Clasp 2.1.0 is a few months old and many PRs happened since.

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.

## Specifications

- Node version (`node -v`):
- Version (`clasp -v`):
- OS (Mac/Linux/Windows):

[2019-06-18 10:41] alexellis commented on #225
What is the summary of the workaround or fix for this?

[2019-06-18 15:56] grant commented on #225
- Workaround: Create a new G Suite account and create scripts using that as a "service account"
- Action: Please upvote this bug: https://issuetracker.google.com/issues/36763096
  - This will allow me to tell the team that this is important

[2019-06-24 12:33] sgratzl opened #651 "Alternative typescript export workaround"
I found an alternative workaround for the Typescript module exports workaround:

[code]

the advantage is that it is easy to define a whole module as part of the imported exports.

## Expected Behavior
n.a

## Actual Behavior
n.a

## Steps to Reproduce the Problem
n.a

1.
1.

## Specifications

- Node version (`node -v`):
- Version (`clasp -v`):
- OS (Mac/Linux/Windows):

[2019-06-24 14:33] PopGoesTheWza commented on #651
@sgratzl this is close to what is documented [here](https://github.com/google/clasp/blob/master/docs/typescript.md), right?

Until/unless Google Apps Script underlying JavaScript engine changes, there is absolutely no real support for any flavour of modules (ES, CommonJS, etc.) The fact that module syntax (i.e. `export this` then `import that`) is compiled (thanks to `ts2gas` dirty tricks) doesn't

[2019-06-24 23:35] sgratzl commented on #651
yes it is close to the exports workaround:

[code]

But in my opinion mine is a nicer variant since you don't have to explicitly list all functions but just merge their exports.

Another approach would be to use something as [rollup](https://rollupjs.org/guide/en/) which tries to flatten all modules such that you end up with one big output file already in JavaScript. Tho, I haven't tried that one

[2019-06-25 08:51] PopGoesTheWza commented on #651
@sgratzl can you please test the following:

- the `import * as _module from './module';` statements can be omitted and do not affect the resulting code (i.e. generated code should be the same with and without the 'import') and execute identically.
- the `declare const exports: typeof _module` allows to correctly reference both named and default `export`s

If both are true, I can issue a PR to ame

[2019-06-25 08:59] PopGoesTheWza commented on #651
@sgratzl about the `rollup` approach (which could be substitued with webpack/gulp/anyOtherBuildChainOfChoice) I feel it goes beyond the scope of `clasp`itself (though @grant and other maintainers are the one to decide)

The approach I choose in the sample project I reference earlier achieve a better (if not true) code isolation and modularity without requiring addition of more  components in the b

[2019-06-26 02:34] sgratzl commented on #651
re rollup-plugin:

sure I'm not saying that `clasp` should implement or enforce something like that. My point is to give developers more tools to develop better projects. Like I'm currently playing around with https://github.com/sgratzl/gappscript-test. for using `rollup` to bundle and modify my code such that it works in the Google App Script environment.

The basic idea is simple
 * server scrip

[2019-06-26 02:49] sgratzl commented on #651
I just realized that it can be rewritten to

[code]

Thus, directly deleted by the compiler

Well, since all the "exported" functions are stored in the **same** exports object, it can result in conflicts, when using the same name in multiple "modules". That is especially true for the default export (`exports.default`) which has the same name in all modules. Thus, it is not safe to use `default` ex

[2019-06-26 08:00] PopGoesTheWza commented on #651
@sgratzl Yes... **`module` in GAS is a lie!**

Look at the code produced by:

[code]

a.k.a. *just drop it in the `global`*

[code]

In your example, you use rollup to **pack** (possibly with tree-shaking in the process) several sources into a single transpiled file (I didn't looked in depth though.) As long as your build chain properly encapsulate/bundle your `module` nuts and bolts (including th

[2019-06-27 17:25] sqrrrl opened #654 "Honor GOOGLE_APPLICATION_DEFAULT for bring-your-own credentials"
As part of automating the deployment of a bunch of scripts and other files that require the use of APIs like Drive, we need better control over the credentials clasp uses. Partly this is for CI environments, but also to minimize the number of credential files we need to manage. Currently we need to authorize two different tools with the same account.

Ideally, clasp would honor the GOOGLE_APPLICAT

[2019-06-27 18:01] thebrubaker commented on #654
I came into issues to find a solution for what is mentioned above. I would like to run deployment through GCP Cloud Build, and this would be much simpler if it honored GOOGLE_APPLICATION_CREDENTIALS (I assume).

[2019-07-01 19:13] brettcarroll opened #656 "clasp login --creds fails"
## Expected Behavior
Expecting local credentials to be saved within the project folder when using flag.  Saving credentials within the project folder (very useful for switching different profiles) use to be accomplished using the --ownkey flag.  Now it seems that the --creds flag is used.

## Actual Behavior
When running the login with the --creds flag a "no such file" error is produced (see below

[2019-07-02 13:12] JeanRemiDelteil opened #657 "(node:17396) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated"
## Expected Behavior
No deprecation warrning when using `clasp push`

## Actual Behavior
when using `clasp push` we have a deprecation warrning on Node v12.3.1
[code]

## Steps to Reproduce the Problem

1. update Node to the current version (12.x)
2. use `clasp push` in a project

## Specifications

- Node version (`node -v`): v12.3.1
- Version (`clasp -v`): 2.1.0
- OS (Mac/Linux/Windows): Windows

[2019-07-02 14:31] PopGoesTheWza commented on #657
@JeanRemiDelteil just to be certain, this issue occurs with the latest `npm`? Have you tried using a local build from the current `master` of this repository?

[2019-07-02 14:43] PopGoesTheWza opened #658 "clasp help login"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.

## Specifications

- Node version (`node -v`):
- Version (`clasp -v`):
- OS (Mac/Linux/Windows):

[2019-07-02 14:43] #658 closed

[2019-07-03 08:27] PopGoesTheWza commented on #657
For reference: [DEP0066: OutgoingMessage.prototype._headers, OutgoingMessage.prototype._headerNames](https://nodejs.org/api/deprecations.html#deprecations_dep0066_outgoingmessage_prototype_headers_outgoingmessage_prototype_headernames)

@JeanRemiDelteil @grant I was able to reproduce this issue on Mac OS, using Node 12.3.1 and clasp@2.1.0
I then used a local build from this repository and the depr

[2019-07-03 13:58] JeanRemiDelteil commented on #657
Great !

[2019-07-03 19:42] grant commented on #527
Note: I've published `@google/clasp@2.2`

[2019-07-03 19:42] grant commented on #657
Note: I've published `@google/clasp@2.2`

[2019-07-03 19:45] grant commented on #654
@sqrrrl Good issue. Please send a PR! I'm fine with you submitting important features like this to `master` too.

[2019-07-03 19:48] grant commented on #649
Note: I've published `@google/clasp@2.2`

![Screen Shot 2019-07-03 at 12 47 31](https://user-images.githubusercontent.com/744973/60620710-c9eb4000-9d90-11e9-9dbb-85d3cc0561be.png)

---

I think this is fixed. Not sure if it's really important to keep alive as an issue, so I'll close.

[2019-07-03 19:48] #649 closed

[2019-07-03 19:51] grant commented on #650
Thanks for the issue (and PRs) @PopGoesTheWza!

I've gone ahead and published `@google/clasp@2.2` today.

Ideally we can get Eric and Steve in the @google/gsuite team to publish every few months. (Takes ~15 minutes to publish and test)

[2019-07-03 19:51] #650 closed

[2019-07-03 19:54] grant commented on #651
Feel free to sent a PR to the `docs/` folder about this workaround.
I don't know what we should do to close and fix this issue.

If you want to create a doc around a rollup/webpack solution, that would be great, since I'm sure many developers want to know about this too.

[2019-07-03 20:02] PopGoesTheWza commented on #650
@grant Thanks for releasing 2.2 on npm. I did some quick tests and they're fine

Don't you need to commit/sync something still? The `package.json` in `master` branch still says 2.1.0

[2019-07-03 20:06] grant commented on #650
Oh, I think I now pushed to GitHub master.

[2019-07-03 20:23] PopGoesTheWza commented on #651
@grant I can issue a PR with above mentioned workaround... if you agree on me restating that *module in gas is a lie* and something to be avoided, period.

Solution based on any third-party build chain à la `pack`/`shake` can be achieved using half a dozen different components (webpack, rollup, grunt, browserify, gulp, jake, etc.) and are not worth detailing here, imho.

The only viable solution f

[2019-07-03 20:25] PopGoesTheWza commented on #624
@DimuDesigns can you try with clasp 2.2.0 if the issue still occurs?

[2019-07-03 20:26] grant commented on #651
I don't think we state that modules are supported in gas.

I was thinking we could just add something here:
https://github.com/google/clasp/blob/master/docs/typescript.md#the-namespace-statement-workaround

[2019-07-03 20:28] PopGoesTheWza commented on #587
@Edge-Developer  can you try with clasp 2.2.0 if the issue still occurs?

[2019-07-03 20:32] PopGoesTheWza commented on #389
@pghalliday  can you try with clasp 2.2.0 if the issue still occurs?

[2019-07-03 20:35] PopGoesTheWza commented on #58
@napostrophe  can you try with clasp 2.2.0 if the issue still occurs?

[2019-07-04 11:54] Haris-Jamil opened #660 "Clasp not pushing html files"
## Expected Behavior
Should push both html and js files

## Actual Behavior
Only pushing .js files to app scipt project

## Steps to Reproduce the Problem
I have no idea how this issue came up, it was working fine and suddenly it starts pushing js files only.

## Specifications

- Node version (`node -v`): 10.15.0
- Version (`clasp -v`): 2.2.0
- OS (Mac/Linux/Windows): Windows 7

[2019-07-04 13:33] BilalAlam173 commented on #660
I am having the same issue, waiting for the followup

[2019-07-04 13:52] BilalAlam173 commented on #660
I went through the commits in 2.2.0 and found some changes that I believe are responsible for this behavior :
![image](https://user-images.githubusercontent.com/19489574/60671474-98579f00-9e8c-11e9-80e2-0f524391110e.png)

So I suppose this behavior is intentional change which they never mentioned in changelogs, However the readMe has been updated
![image](https://user-images.githubusercontent.com/

[2019-07-04 16:30] PopGoesTheWza commented on #660
@Haris-Jamil @BilalAlam173 I take the blame on this one. PR issued. Now it is for @grant to review.

[2019-07-04 16:53] #651 closed

[2019-07-04 17:14] PopGoesTheWza commented on #660
This issue only impacts `clasp@2.2.0`

Until a new version is available, the workaround is to create an `.claspignore` file, alongside your `.claps.json` file, with the following content:

[code]

[2019-07-07 19:03] mikearche commented on #656
I am unable to reproduce the issue. Be sure that the file you are targeting is in the correct location, or that you have targeted the file correctly.

I got the same output if I targeted a file that did not exist. Perhaps the error outputted should exit before attempting to login if the targeted file does not exist.

[2019-07-08 14:26] zamber commented on #660
I guess it's more common to keep all of your js/ts/html files in a directory, so the `.claspignore` should accomodate it:

    **/**
    !**/appsscript.json
    !**/*.js
    !**/*.ts
    !**/*.html

Otherwise `clasp push --watch` sees changes but fails to push. I had to build clasp to debug this, because logging lacks. These empty if-returns are to blame: https://github.com/google/clasp/blob/maste

[2019-07-08 16:24] #660 closed

[2019-07-08 16:33] grant commented on #660
Sorry about the breaking publish of clasp. Try `2.2.1`.

[2019-07-09 14:33] #638 closed

[2019-07-09 19:13] oshliaer opened #663 "Proposal for the addition of checks of the current Advanced Services"
## Crossed topics

- #559
- #513
- #512

## Expected Behavior

The next commands fails:

[code]

## Actual Behavior

Expected correct execution. Installation of apis for the project is expected.

## Steps to Reproduce the Problem

Run some of

[code]

## Specifications

- Node version (`node -v`): any
- Version (`clasp -v`): 2.2.1
- OS (Mac/Linux/Windows): Linux

[2019-07-09 19:16] oshliaer commented on #663
I have a

# Solution

[code]

There is here https://github.com/oshliaer/clasp/tree/update_apis

My suggestion is to call an extra test when the apis.ts file is updated.

Any comments?

[2019-07-10 06:36] #587 closed

[2019-07-10 19:50] DamirMakhmudov commented on #244
Sorry, guys! I use 2.2.1 version but  I have the same problem on push:

node version is v10.16.0
vscode  as editor

[2019-07-11 07:07] oshliaer commented on #663
It seems `google.services` requires (or expects) a lowercase string   https://github.com/google/clasp/blob/master/src/auth.ts#L61. But the external service that generates the manifest file does not provide this.

[2019-07-11 07:45] oshliaer commented on #663
Today I mentioned that the test `✓ should enable youtubeAnalytics (2262ms)` is passed. I think it is not related to the last commit 25220a9c496a40f03083e91231e1feca1b659ac7.

[2019-07-16 11:03] DominikPalo opened #666 "The "manifestHasChanges" function shouldn't check the line endings"
## Expected Behavior
When manifest files differ only in line endings,  "Manifest file has been updated" warning is displayed.

## Actual Behavior
After I push my project from a macOS machine and then the same project from a Windows machine, warning "Manifest file has been updated. Do you want to push and overwrite?" is displayed, although the content of both manifest files is the same. The only di

[2019-07-16 17:01] takanakahiko commented on #666
I implemented to compare them as string, according to comment https://github.com/google/clasp/pull/431#discussion_r237969173.
However, it is difficult to make comparisons between strings considering line feed codes.
So I agree with this proposal.

[2019-07-18 09:39] PopGoesTheWza commented on #666
@DominikPalo @takanakahiko No time for a PR but I'd consider adding the following [package](https://www.npmjs.com/package/normalize-newline)

and do something like this

[code]

[2019-07-18 11:06] PopGoesTheWza commented on #666
@DominikPalo @takanakahiko (and anyone else interested/willing)

Could you test PR #667 and report if it fixes the issue?

[2019-07-21 09:03] mikearche opened #668 "Tests not working on Windows"
## Expected Behavior
SpawnSync should output the appropriate stdout when running tests.

I'm currently running into an issue where Windows Virtual Terminal Sequences are being outputted. On multiple tests I get: `expected '\u001b[2K\u001b[1G' to include 'string from test here'`.

I've been running the tests on git bash for windows. When I ran this on command prompt I get the same issue as well.

I

[2019-07-21 21:12] markjwiggins opened #669 "Files ignored on push directly after clone"
## Expected Behavior
After cloning a script, any subfolder files (e.g. gs/Code.gs) are ignored when subsequently running `clasp status` and ignored and deleted from the script file when running `clasp push`.

## Actual Behavior
Subfolder files are ignored.
[code]

## Steps to Reproduce the Problem

1. Clone script
2. Run `clasp status` or `clasp push` = Subfolder files ignored

## Specifications

[2019-07-22 07:59] PopGoesTheWza commented on #669
@grant I guess either the *default* `.claspignore` should include files in subdirectory or documentation needs to be changed so that end users are aware that after a `clasp clone` some additional configuration (i.e. `.claspignore` setup) may be necessary. Personally, I'd opt for the second option.

In any cases, it could be valuable to the end user that a `clasp status` like report be issued after

[2019-07-22 08:11] markjwiggins commented on #669
@PopGoesTheWza Thank you, based on your reply I looked through the `.claspignore` text and the key sentence was

So creating the `.claspignore` file and populating it to include subdirectories looks to solve my issue.
So the application is working as expected, but I would agree making this item clear after a `clasp clone` would be helpful.

[2019-07-22 17:47] PopGoesTheWza opened #670 "[npm] found 14 high severity vulnerabilities"
## Expected Behavior

`npm audit` should report no vulnerabilities

## Actual Behavior

## Steps to Reproduce the Problem

1. `npm audit` reports "found 14 high severity vulnerabilities"

## Specifications

- Node version (`node -v`): 10.16.0
- Version (`clasp -v`): 2.2.1
- OS (Mac/Linux/Windows): MacOS

[2019-07-22 18:01] PopGoesTheWza opened #672 "[refactor] usage of function `logError` varies alot"
## Expected Behavior

- function `logError` should not be preceded with `return` nor `throw` (except in rare case where TypeScript type inference is lacking)
- there should not be executable code following function `logError` for it never returns

## Actual Behavior

source code breaks the above in (too) many places

## Steps to Reproduce the Problem

1. search the source code for `logError` and r

[2019-07-22 18:18] #670 closed

[2019-07-22 23:20] Kirandeepv commented on #507
@erickoledadevrel Any update on this issue, is the fix expected to come soon ?

[2019-07-23 05:35] manfredrotgers-RGN commented on #85
Hi

Do You know where can I find the official Google documentation regarding using this Client ID?
Or instructions made By Google or CLASP team that this is the way to handle this?

[2019-07-24 07:24] PopGoesTheWza opened #675 "`.claspignore`rules no longer work as they used to"
Consider the following project structure:

[code]

Where `.claspignore` content is:

[code]

Now execute the command `clasp status --json`

## Expected Behavior

Clasp output should report both files as `filesToPush`

[code]

## Actual Behavior

Clasp output report both files as `untrackedFiles`

[code]

Current workaround is to edit `.claspignore` to remove the `src/` strings:

[code]

## Steps t

[2019-07-24 08:20] PopGoesTheWza commented on #675
One thing that I have overlooked, my `.clasp.json` has `rootDir` set to `src`

Thus it might not be a bug after all but rather a strengthening of how `.claspignore` rules are processed (i.e. rules are now correctly evaluated relative to `rootDir` while before they were relative to the location of `.clasp.json`)

[2019-07-25 16:08] diminishedprime opened #676 "Feature Request: Add command for checking login-status."
## Expected Behavior

There is a cli command (`clasp login --status`) for finding out:

1) Is the user currently logged in
1) Who is the user logged in as

## Actual Behavior

No such command exists

## Details

I often work between a few different accounts, so I typically unconditionally run `clasp logout && clasp login` before working on code since I don't have a reliable way of testing which ac

[2019-07-26 07:54] #675 closed

[2019-07-26 16:06] mikearche commented on #668
@wilt00 Do you possibly have any information that may lead me into the right direction?

[2019-07-26 16:51] PopGoesTheWza commented on #668
Recently merged PR #662 changes how tests are run. It might be good to check if your issue is affected by this change.

[2019-07-27 23:27] wilt00 commented on #668
@mikearche Unfortunately I stopped running Windows a few months ago, and don't have access to a Windows box for testing any longer. Sorry!

[2019-07-27 23:44] mikearche commented on #668
#662 should at least make this easier to debug... But unfortunately, I'm still getting the errors.

I'll keep looking into it in the mean time.

[2019-07-28 17:05] mikearche commented on #668
So I believe that I've fixed one of the issues.

- **the del library only works for posix pathnames**
The logout test was the first to fail on windows, and that was actually an accurate test! Logging out currently does not work on windows.
Because of this: https://github.com/sindresorhus/del/issues/93

I can go ahead and create a PR, but there are still a couple of failing tests on windows. For so

[2019-07-31 14:27] mheffner opened #677 "clasp push/status fails on large files despite claspignore"
## Expected Behavior

clasp push and status should ignore files/directories listed in `.claspignore` when performing a max file size test

## Actual Behavior

[code]

[code]

## Steps to Reproduce the Problem

Have a large file in a subdir of the project:
[code]
Directory is ignored:
[code]

However, clasp push/status fails with messages above. Removing the large file from any sub directory fixes

[2019-08-01 09:28] PopGoesTheWza commented on #677
@mheffner Can you please try to reproduce this issue with the latest `2.2.1` release?

In your log, the package `read-multiple-files` is mentioned. This package has been replace with another alternative since.

[2019-08-01 13:14] mheffner commented on #677
@PopGoesTheWza Yep, looks like latest release fixes it. Thanks!

[2019-08-01 13:14] #677 closed

[2019-08-01 15:36] #389 closed

[2019-08-01 16:45] #669 closed

[2019-08-01 17:00] #666 closed

[2019-08-02 13:24] cruzdanilo opened #679 "logs --watch duplicating entries"
## Expected Behavior
`clasp logs --watch` should display each log entry only once.

## Actual Behavior
`clasp logs --watch` is displaying log entries multiple times, once every fetch.

## Steps to Reproduce the Problem

1. run `clasp logs --watch`
2. log something to stackdriver
3. the same log entry will repeat multiple times in stdout

## Specifications

- Node version (`node -v`): v11.14.0
- Ve

[2019-08-02 14:10] cruzdanilo opened #681 "feature request: less verbosity in watch commands"
it would be nice to have less verbosity in watch mode (`push` and `logs` commands), maybe using a backward compatible cli argument.

## Expected Behavior
only relevant/necessary info logged to stdout.

## Actual Behavior
in my gmail add-on development setup i use the following scripts:
[code]
both `push` and `logs` commands are too verbose for this kind of parallel use:

`clasp logs --watch` outpu

[2019-08-02 15:32] grant commented on #681
PRs welcome.
It would be nice to give a better example of what we expect.

[2019-08-02 16:49] #679 closed

[2019-08-06 15:09] #672 closed

[2019-08-06 15:12] grant commented on #663
Would be nice if the updates to the services were in `clasp`.

[2019-08-07 04:32] grant opened #682 "Clasp open --webapp Broken"
## Expected Behavior

`clasp open --webapp` opens and prints a URL.

## Actual Behavior

[code]

[2019-08-08 16:45] grant commented on #681
I think you'll change this code to fix this:
https://github.com/google/clasp/blob/master/src/commands/push.ts#L42

[2019-08-10 00:01] MattiasMartens commented on #682
Hi Grant, I am still experiencing this issue. Tried running `yarn global upgrade clasp` and then re-opening the terminal window to no avail. Is there anything else I can try here?

[2019-08-10 00:06] grant commented on #682
I think I need to republish clasp. It should work on `master` though.

[2019-08-13 19:41] Oshio09 opened #683 "Push failed when using variable of type "let" in script."
Here is a piece of code for a google sheets script:

[code]
when using `clasp push`, the following error is reported:
[code]

The push is successful when the `let`is swapped by `var`:
[code]
I was able to reproduce the error in healthy projects just by changing `var` for `let`.
I believe this could be a bug, can someone reproduce the behavior?

System Info:
Ubuntu 18.04
clasp version: 2.2.1

[2019-08-14 04:19] grant commented on #683
Apps Script doesn't support `let`. So this is an error from the API.

If you want to use `let`, you must use TypeScript and have your file end with `.ts`.

[2019-08-14 04:23] Oshio09 commented on #683
Thanks!

[2019-08-14 04:23] #683 closed

[2019-08-14 16:48] jobdiogenes commented on #208
Have someone Issue a feature request? I did not found any.
If so, them link here.

[2019-08-14 18:57] grant commented on #208
Nobody has filed a FR yet.

[2019-08-14 21:00] darkziul commented on #682
using command `clasp open --webapp`, your real result is : `Missing required parameters: scriptId`.

[2019-08-15 02:27] MattiasMartens commented on #669
Was about to create an issue for this. The inclusion of subdirectories in the default ignore is a breaking change. My existing projects, which had already been cloned, were invalidated by this update.

This is a bit of a sob story, but the effects of this were pretty bad. I'm maintaining an app for a client. I pushed a minor change to production, having already checked it on my staging app. In bet

[2019-08-15 02:35] MattiasMartens commented on #641
In principle, isn't it possible to define a function that fulfils the triggers specified in a configuration file, push that file to the project, and execute it remotely using the API?

[2019-08-15 02:47] grant commented on #676
PRs welcome. May get to this eventually.

[2019-08-15 02:48] chechedotmx commented on #3
Fails if you installed node with brew.. check this link
https://stackoverflow.com/questions/53161693/unable-to-run-clasp-from-command-line

Re-installing directly with node installer https://nodejs.org/en/download/ fix this issue

[2019-08-15 07:27] MattiasMartens commented on #676
PR: https://github.com/google/clasp/pull/685

[2019-08-15 08:03] ricotheque opened #686 "clasp push returning 500 errors"
## Expected Behavior

When I run `clasp push`, changes I made on local should be pushed to the corresponding Google Script project.

## Actual Behavior

When I run `clasp push`, several 500 errors appear. The files I'm trying to push aren't updated on the cloud.

[code]

## Steps to Reproduce the Problem

1. Use `clasp push` before with no problem
2. Encounter error described above
3. Update clasp

[2019-08-15 08:15] PopGoesTheWza commented on #669
@MattiasMartens I have no definite opinion on this and tend to prefer "closed" to "open" by default.

[2019-08-15 17:57] jobdiogenes commented on #208
Now issued an Feature Request to Drive Api.
(https://issuetracker.google.com/issues/139438152)

I ask to include scripts projetcs inside Docs, etc.  in drive.file.list

I also suggest to make this files external and make then only linked to Script projects.
In that way, one Project could to linked to many Forms, Docs, etc. and may be one file be linked to many script projects. Leaving the need to

[2019-08-15 19:46] grant commented on #663
@oshliaer Looking forward to the PR!

[2019-08-16 01:01] ricotheque commented on #686
@grant thanks for taking a look.

The issue resolved itself, after I:

1. Restarted my laptop
2. Reopened Terminal and returned to the Project directory
3. Ran `clasp pull`
4. Ran `clasp push` and no longer encountered errors.

Given this, I'm closing the issue.

[2019-08-16 01:01] #686 closed

[2019-08-16 03:40] grant opened #687 "Install clasp without sudo instructions"
## Expected Behavior

You should be able to install clasp if you don't have sudo permissions.
Document how to do this.

i.e. Using clasp on codesandbox.io/s/node

## Actual Behavior

We don't have instructions for this.

## Steps to Reproduce the Problem

[code]

[2019-08-16 05:05] chechedotmx commented on #616
I want to "git" my gas project, but I need to add some hardcode id´s (google sheet) to the git repository, it would be great to have environment variables inside .clasp.json to avoid the versioning of this id´s

[2019-08-16 13:54] grant commented on #616
A design/PR that only included the following would be fine:
- CLASP_PROJECT
- CLASP_IGNORE

no flags, ignore file would be in the project. Be sure to document the variables.

[2019-08-16 14:42] PopGoesTheWza commented on #616
@chechedotmx would environment variables to specify `.clasp.json` & `.clasprc.json` address your need?

[2019-08-16 14:44] PopGoesTheWza commented on #616
@grant why no flags (cli options)? You're spoiling all the fun!

[2019-08-16 14:48] PopGoesTheWza commented on #687
@grant for all it's worth:
- I never needed to `sudo` on Mac OS
- have to tried using clasp via `npx` (which might workaround the need to `sudo`)

[2019-08-16 15:33] grant commented on #687
Hmm, must be my laptop or certain Node setups.

[2019-08-16 15:34] grant commented on #616
Want to start simple. Also flags may conflict with existing command flags.

[2019-08-16 16:40] PopGoesTheWza commented on #687
Give `npx` a try. It should allow you to use clasp even if not installed locally or globally. Do you need to `sudo`for any global package or only clasp?

[2019-08-16 16:45] PopGoesTheWza commented on #616
@grant I already did the full PR, so limiting to only `.clasp.json` and `.clasprc.json` should not be problem. Even dishing out the cli options (which do not conflict)
I only need @chechedotmx approval to start.

[2019-08-16 21:29] chechedotmx commented on #616
Sounds good @PopGoesTheWza

[2019-08-19 08:37] PopGoesTheWza commented on #687
@grant Out of curiosity I did the following test:
- install a fresh NodeJs 10.16.3
- check with npm list -g --depth=0 that there is no global package beside `npm`
- open one existing "clasp" project with only `@google/clasp` package listed under dependencies
- run npm/yarn install to have `@google/clasp` installed (no need to `sudo`)
- run clasp cli commands (I run `clasp push` with no error)

So

[2019-08-19 18:10] #668 closed

[2019-08-22 12:14] imthenachoman opened #691 "How to use clasp run with the Apps Script–managed Cloud Platform project"
## Expected Behavior

According to https://github.com/google/clasp/blob/master/docs/run.md you have to create a GCP project to use `clasp run`.

Is it possible to use `clasp run` with the default Apps Script–managed Cloud Platform project that gets created automatically for Google Apps Script projects?

Our company uses G-Suite but we do not have access to create GCP projects -- we do everything t

[2019-08-25 05:27] dbarnett opened #692 "Codelab: utils/strings.gs gets ignored/lost after `clasp push`"
On https://codelabs.developers.google.com/codelabs/clasp/#4, the `clasp push` command ignores utils/strings.js and causes the remote utils/strings.gs to be deleted after following the instructions up to that point. Based on details at #669, it seems to be missing instructions to configure to `.claspignore` to get it to work as expected (although it seems suspicious that a naïve `clasp pull` + `cla

[2019-08-26 10:15] PopGoesTheWza opened #694 "Processing of `getProjectFiles()` (and ignore patterns) needs revision"
Working on "simple" PR #693 , I found out current `getProjectFiles()` processing is very inefficient

## Expected Behavior

`getProjectFiles()` should:
- ignore dotted folders like `.git`
- limit its recursive search for legitimate/valid files (i.e. `appsscript.json`, `.gs`, `.js`, `.ts` and `.html`
- (optional) the support `.claspignore` should work as standard .ignore files (i.e. `node_modules`

[2019-08-26 10:21] PopGoesTheWza commented on #694
Maybe it would be sensible to rely on solid 3rd party package to handle this part. This one looks like a serious candidate <https://www.npmjs.com/package/ignore>

[2019-08-27 09:04] PopGoesTheWza commented on #687
@grant for reference: https://medium.com/@maybekatz/introducing-npx-an-npm-package-runner-55f7d4bd282b

[2019-08-30 03:49] imthenachoman commented on #691
Just wondering if anyone has any ideas? I'm desperate to use `clasp` but am not allowed to create a GCP project in our G-Suite Enterprise setup.

[2019-08-30 04:12] grant commented on #691
Sorry, you need some GCP project to use this feature. I don't know how to help you other than that requirement for clasp run.

[2019-08-30 13:39] imthenachoman commented on #691
Apps Script projects use the [default GCP project](https://developers.google.com/apps-script/guides/cloud-platform-projects#default_cloud_platform_projects). Is there no way to use for authentication?

[2019-08-30 14:06] misterludden opened #698 "clasp push ignores some files in rootDir with v2.2.0"
## Expected Behavior
clasp push with "rootDir" set in .clasp.json pushes all files under that rootDir

## Actual Behavior
only 2 files are pushed including appsscript.json to the project. This seems specific to some already existing projects, I did not have this problem on new projects created with clasp 2.2.0. I recently had installed 2.2.0 to see if this was working since I had same issue about

[2019-08-30 14:20] PopGoesTheWza commented on #698
- Does your .clasp.json has any files or include attributes?
- Beside appsscript.json what is the other file correctly pushed?
- Example of flies not being pushed?

[2019-08-30 14:24] misterludden commented on #698
![clasp push only](https://user-images.githubusercontent.com/12755782/64028237-1d5edd80-caf7-11e9-96a2-c5fe3dbd0cc4.png)
![clasp reinstall](https://user-images.githubusercontent.com/12755782/64028238-1d5edd80-caf7-11e9-8315-ece43c561922.png)

here are some examples of my steps to repro

[2019-08-30 14:37] PopGoesTheWza commented on #698
likely related to #669 and #692

With @google/clasp 2.2.0 a (breaking) change was introduced when no `.claspignore` file is defined. In previous version, subdirectories were considered for files to push. In 2.2.0, only files directly in rootDir are considered (I.e. not subfolder)

There is a PR #695 ready which you can try.

One quick workaround is to add this `.claspignore` file next to your `.cl

[2019-08-30 14:40] PopGoesTheWza commented on #669
PR #695 should solve this issue

[2019-08-30 14:50] #692 closed

[2019-08-30 14:52] misterludden commented on #698
Great @PopGoesTheWza - I will give a try to add the .claspignore. And....it works. Thanks a million.

I used to do it but all my ignores are outside the rootDir and I didn't use TS on my old proejcts so I stopped adding a .claspignore file.  Thanks for the quick reply, and btw your GAS TS project starter is beyond helpful.

[2019-08-30 14:52] #698 closed

[2019-08-30 15:10] PopGoesTheWza commented on #698
You’re welcome.

Feel free to star the Starter and open issues there if need be.

[2019-08-31 09:09] PopGoesTheWza commented on #687
@grant here are my tests using `npx`

**Running a locally installed `@google/clasp` package**

1. check there's no global `clasp`
[code]

2. install the package locally
[code]

3. verify that clasp cannot be invoked directly
[code]

4. use `npx` to run local clasp
[code]

**Running `@google/clasp` without package installed**

[code]

[2019-09-06 20:47] #687 closed

[2019-09-06 20:52] PopGoesTheWza opened #700 "Clasp does not need to be installed globally"
currently only global install of clasp is documented. This implies that upgrading clasp can break existing projects.

## Expected Behavior

One can install clasp as a local dependency and use nom scripts (or npx’ on the command line) to use the local version of clasp

npm install @google/clasp
npx clasp —version

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.

## Specifications

- No

[2019-09-06 21:08] grant commented on #700
We prefer global though. Be sure to still have the main instructions install globally.

[2019-09-07 12:39] imthenachoman opened #703 "feature request: fileExtension type setting for html"
I think it would be helpful to be able to specify the local file extension for `html` files. We can already do this with the `gs` files using `fileExtension` and I think we just need one for `html` files.

The whole purpose of `clasp` is to make it easier to edit locally. GAS `html` files are not typical `html` files but because they have a `html` extension any editor/IDE will treat them as an `ht

[2019-09-10 16:09] nasat75 opened #704 "`clasp login --status` is still not available?"
hey guys
I found new command option `status` regarding of `clasp login` on README.
but latelest npm version downloaded doesn't exist such a option.
so I digged closed PR , but da one had merged.
hmmm, let me know how 2 use dis option or da option launch schedule,🙏

[2019-09-10 16:15] grant commented on #704
@nasat75 Can you try installing again? I just published `2.3.0`.

[2019-09-10 17:54] imthenachoman opened #705 "unable to install clasp on a Windows 10 machine"
## Expected Behavior

Successful package install of clasp from NPM

## Actual Behavior

After running `npm i @google/clasp -g` I see this:

    C:\Users\nacho>npm i @google/clasp -g
    C:\Users\nacho\AppData\Roaming\npm\clasp -> C:\Users\nacho\AppData\Roaming\npm\node_modules\@google\clasp\src\index.js
    npm WARN inquirer-autocomplete-prompt@1.0.1 requires a peer of inquirer@^5.0.0 || ^6.0.0 bu

[2019-09-10 18:30] PopGoesTheWza commented on #705
Try the workaround:

npx clasp status

Next check you environment variables (path, node home, etc)

set > env.txt

Try to locate the main components:

where node
where npm
where clasp

Then share the results

[2019-09-10 18:58] imthenachoman commented on #705
From `npx clasp status`:

    C:\Users\nacho>npx clasp status
    { Error: Command failed: clasp -v
    'clasp' is not recognized as an internal or external command,
    operable program or batch file.

        at ChildProcess.exithandler (child_process.js:289:12)
        at ChildProcess.emit (events.js:182:13)
        at maybeClose (internal/child_process.js:962:16)
        at Process.ChildProces

[2019-09-10 19:09] PopGoesTheWza commented on #705
Please check this SO post <https://stackoverflow.com/questions/9587665/nodejs-cannot-find-installed-module-on-windows>

My guess is that it is similar with the issue you are experiencing

[2019-09-10 20:04] PopGoesTheWza commented on #705
@imthenachoman try this:

[code]

[2019-09-10 23:32] imthenachoman commented on #705
Thank you! That fixed it. I wonder why the environmental variable wasn't already set. I don't recall setting it when I installed it at home. I'll investigate that on my end.

[2019-09-11 01:38] #705 closed

[2019-09-11 07:09] nasat75 commented on #704
@grant Thank u so much !! it's successful downloaded !!

[2019-09-11 07:09] #704 closed

[2019-09-14 21:11] imthenachoman commented on #85
Is there a way to login without whitelisting `clasp`? Like maybe manually specifying credentials or something?

Also @grant, did this make it to the README? I don't see anything about white-listing.

[2019-09-16 13:16] maelcaldas commented on #10
@grant I have released our internal d.ts generator, so it can generate dts files from ```@public``` annotated global functions, interfaces, classes, enums etc, like the [API Extractor](https://api-extractor.com/):

https://github.com/maelcaldas/clasp-types

It works by writing and reading a JSON model from [Typedoc](https://typedoc.org/) engine, so, its only for libraries already written in Typesc

[2019-10-06 04:51] andreacab commented on #225
Affected too. Upvoted the bug.

[2019-10-10 17:41] pjaws opened #707 "Provide instructions for deploying via CI"
## Expected Behavior

Most serious production applications will require CI/CD. A user should be able to read the documentation and understand the requirements and process for implementing this.

## Actual Behavior

There is no documentation on this.

## Steps to Reproduce the Problem

1. Install clasp on CI server
2. Attempt to login with credentials file as outlined in the docs.
3. clasp either a

[2019-10-17 04:45] brianchul commented on #63
It seems that clasp deploy a new deployment ID when not specified deployment ID with `-i` parameter.
So if your just updating a web app using latest code, just get url from apps script website
which like this `https://script.google.com/macros/s/{deploymentID}/exec`
and specify `-i` parameter with deploymentID when new code deploy
example command: `clasp push && clasp deploy -i deploymentID`

[2019-10-18 17:54] krank opened #709 "Feature request: add account to use when --open"
Those of us who regularly use multiple google accounts would, I think, greatly appreciate the ability to specify which account to be used for --open.

Example: I'm logged in (on the web side of things, in the browser) as both someuser@gmail.com and, using Google's multi-account functionality, someotheruser@corporate.com (which is still a google account, just connected to a corporate domain). The s

[2019-10-23 22:14] dskeithbuck opened #710 "Feature Request: Convert Markdown (*.md) Files to HTML on Push"
Google Apps Script allows you to easily create dialogs with HTML (*.html). However, some things like READMEs and CHANGELOGs are easier and more likely to be maintained as Markdown (*.md) files.

I'm imagining a workflow where I could write some Typescript like:

[code]
and a file named `CHANGELOG.md` would be transformed into HTML with a style that matches the look of Google Slides/Docs.

[code]

[2019-10-24 08:02] PopGoesTheWza opened #711 "Update dependencies"
Package `inquirer-autocomplete-prompt` is no longer supporter and `googleapis` latest version introduces some breaking changes

## Expected Behavior

n.a.

## Actual Behavior

n.a.

## Steps to Reproduce the Problem

n.a.
1.

## Specifications

- Node version (`node -v`): 12.13.0
- Version (`clasp -v`): 2.3.0
- OS (Mac/Linux/Windows): MacOS

[2019-10-24 11:15] endersaka opened #714 "error: unknown option '--type'"
## Expected Behavior

Based on the documentation at https://www.npmjs.com/package/@google/clasp#create, https://github.com/google/clasp#create and also via command line:

[code]

I tried this command.

[code]

## Actual Behavior

But this is the output.

[code]
## Steps to Reproduce the Problem

1. Just execute the above command.

## Specifications

- Node version (`node -v`): 10.4.0
- Version (`c

[2019-10-24 13:36] endersaka commented on #714
Sorry my bad. I found the error. Forgot to type "create".

[2019-10-28 17:33] #714 closed

[2019-11-08 17:52] analorios93 commented on #705
I got the same error trying to install clasp
npm WARN inquirer-autocomplete-prompt@1.0.1 requires a peer of inquirer@^5.0.0 || ^6.0.0 but none was installed.
However your solution didn't work with me:
SET NODE_PATH=% APPDATA%\npm
clasp status

What could I do?

[2019-11-08 17:56] PopGoesTheWza commented on #705
@analorios93 what is the output of the commands:

- where node
- bpm list go clasp

[2019-11-08 18:07] analorios93 commented on #705
where node:
c:\program files\nodejs\node.exe

where C:\Users\Ruben>where npm:
c:\program files\nodejs\npm
c:\program files\nodejs\npm.cmd

C:\Users\Ruben>where clasp
c:\program files\nodejs\clasp
c:\program files\nodejs\clasp.cmd

And the bpm list go clasp says this:
bpm" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

Which means can't find the comand b

[2019-11-08 18:13] PopGoesTheWza commented on #705
Sorry, I meant “npm”, not “bpm”

[2019-11-09 19:02] analorios93 commented on #705
npm list go clasp says this:

C:\Users\Ruben
`-- (empty)

[2019-11-12 23:14] artofthesmart commented on #710
This would be pretty cool, and not saying it shouldn't be done, but I'd also say you could do this with an off-the-shelf CLI interpreter ahead of a `clasp push` operation.  Write your own local script to compile your HTML, copy it to the right places, and push your results up.

[2019-11-16 13:24] haohaolee opened #716 "Beginner Question: Why "no functions to run" for the official example?"
Hi all,
I copied the official example from [here](https://developers.google.com/apps-script/guides/typescript)
[code]

## Expected Behavior
I can run the example in the online editor and see the logs

## Actual Behavior
The run button is gray with "No functions to run" tip
![image](https://user-images.githubusercontent.com/238419/68993820-1a35eb00-08b7-11ea-998c-0950c46df704.png)

## Steps to Repr

[2019-11-18 17:10] erickoledadevrel commented on #716
From the page you found the sample on:

TypeScript is not natively supported in Apps Script environment. Instead it must be compiled down to the correct flavor of JavaScript that Apps Script supports, which is done for you when using the `clasp` tool.

Additionally, even when using JavaScript you need to use a top-level `function` declaration for the code editor to find your functions and show the

[2019-11-18 17:14] erickoledadevrel commented on #716
Apps Script requires that functions be declared at the top-level scope with the `function` keyword in order to be visible in the "Run" dropdown. Some developers use a [webpack plugin ](https://www.npmjs.com/package/gas-webpack-plugin) to achieve this, and perhaps it should be built into clasp directly.

[2019-11-18 21:41] PopGoesTheWza commented on #716
@haohaolee please share a link to your google apps script project.
@erickoledadevrel transpiled arrow function always end up as regular functions, and the original source seems to be in the global scope…

I still need to see one good use case for webpack with GAS. The only one I ever saw were klugy workaround for trying to mimick node/es modules…

[2019-11-20 16:47] swvajanyatek opened #717 "Clasp commands execute but never return to the prompt"
## Expected Behavior
clasp commands, such as "clasp status", should execute and return to the command prompt

## Actual Behavior
clasp commands execute, but seem to hang indefinitely after executing, requiring a crtrl+c to get back to the command prompt

## Steps to Reproduce the Problem
1.  clasp login
2. execute any command

## Specifications

- Node version (`node -v`):  Win10 Powershell - v12.

[2019-11-30 19:56] fedeserbin opened #718 "File execution order is not working on a TypeScript project"
## Expected Behavior

Files in filePushOrder are executed first. Even for compiled typescript code.

## Actual Behavior

I don't think that filePushOrder is working in a typescript project. I am trying two ways:
- Path of file after clasp push
"filePushOrder":["ts/helpers/LibraryExternalProperty.gs"],

- Path of file befose clasp push
"filePushOrder":["src/ts/helpers/LibraryExternalProperty.ts"],

[2019-12-02 07:03] NicolaSpreafico commented on #63
This worked for me.

Before:
![image](https://user-images.githubusercontent.com/12278553/69936813-2e91fe80-14d9-11ea-8d85-0517533f19e2.png)

Find deployment ID related to actual web-app serving version:
[code]
Identify the version with "web app meta-version".

Perform
`
clasp deploy -i AKfy************Fg
`

And with this I'll get a webapp updated to newest version. Sadly... after this modification

[2019-12-03 14:29] antony commented on #92
This still happens. In fact, `clasp login` always creates it in your homedir. There aren't any other ways that I can see.

[code]

[2019-12-06 16:38] NicolaSpreafico commented on #63
I found this trick working for deploy a new version of webapp.

`clasp deployments`
- Select the version (if exists ) where there is `web app meta-version` attribute
- I attribute is not found, use the last deployment id

[code]

After selecting deploment ID, proceed with
[code]

I found that `web app meta-version` attribute only appaers when web-app application is update from AppsScript code edit

[2019-12-07 03:28] imthenachoman opened #719 ""unable to get local issuer certificate" error for some clasp commands"
## Expected Behavior

Depends on the `clasp` command being called. Details below.

## Actual Behavior

I am getting errors when running some `clasp` commands. I am able to `clone`, `push` and `pull` just fine but other commands yield an error.

I don't know if it is relevant but, while `clone`, `pull`, `push` all work, after they are done they sit waiting for a 30+ seconds before returning the pro

[2019-12-07 03:39] imthenachoman commented on #717
I too am having this problem.

@swvajanyatek Are you able to run `clasp apis list` or `clasp list` without errors? See #719.

[2019-12-07 03:43] imthenachoman commented on #710
I think the tricky part is what format to use when converting the `.md` to `.html`. Not everyone would want it in a style that matches Google Slides/Docs.

What you could do (I do something similar) is have a `.html` file in your project that has your text in whatever format you want, like Mark Down, and a JavaScript function to "process" it before sending to `HtmlService`. That way, I can create

[2019-12-07 03:44] imthenachoman commented on #700
Out of curiosity, why would you not want to install it globally? Does it break anything else? I install the `@types/google-apps-script` locally cause I don't want it mucking up all my non GAS stuff but I haven't had issues with clasp being global...yet.

[2019-12-07 18:05] swvajanyatek commented on #717
`clasp apis list` - prompts for a 'GCP projectId'
`clasp list` - returns the list of files, but never returns to the prompt

[2019-12-08 03:42] imthenachoman commented on #717
Yeah. Must be a bug. Now hopefully the devs see it.

[2019-12-09 10:50] PopGoesTheWza commented on #717
@imthenachoman are you also experiencing this issue on a Windows platform? Please detail your environment.

[2019-12-09 10:53] imthenachoman commented on #717
@PopGoesTheWza

Yes

- Node version: **v10.16.3**
- Clasp version: **2.3.0**
- OS: **Windows 10**
- Enterprise G-Suite

[2019-12-09 10:58] PopGoesTheWza commented on #92
@antony even though the documentation could be better worded, `.clasprc.json` is located in the user's homedir unless one uses the `--creds` option.
<https://github.com/google/clasp#login>

[2019-12-09 11:13] PopGoesTheWza commented on #717
I personally have no Windows environment to attempt reproducing the issue.

[2019-12-09 11:14] imthenachoman commented on #717
@PopGoesTheWza Is there anything I can do to help debug? Is there some command we can run to increase verbosity to see what it’s trying to do?

[2019-12-09 11:21] PopGoesTheWza commented on #719
@imthenachoman independently of your certificate/TLS issue, the error log points at a hole in error handling. Can you produce a PR for that aspect?

[2019-12-09 11:23] PopGoesTheWza commented on #717
We can try opening a PR with Travis CI scope extended to test Windows platform...

[2019-12-09 11:31] PopGoesTheWza commented on #700
@PopGoesTheWza my personal taste is to limit global packages to the bare minimun (currently I have `lerna`, `npm` and `pm2`, with `lerna` to go local when I'll have time)

But perhaps the most significant use case is for 'sealing' a project which is known to work with one version of clasp and not take the risk of having issues with future versions.

[2019-12-09 14:04] imthenachoman commented on #70
@JeanRemiDelteil Love love love the extension. How can we support your work?

[2019-12-09 14:43] imthenachoman commented on #719
I'm still somewhat green with how GitHub works. By PR do you mean fork the code, fix it, and then submit a pull request? I can't do any kind of debugging/development for CLASP from work. I can try to look from home but it'll be a while before I can dig through the code. I've never looked through it before and I'm not great with TypeScript.

[2019-12-10 02:24] imthenachoman commented on #700
That makes a lot of sense.

[2019-12-10 03:22] imthenachoman commented on #409
I don't know if I should open a new issue but I was getting a similar error when I had hidden the `.clasprc.json` file through Windows.

    Error retrieving access token: Error: EPERM: operation not permitted, open 'C:\Users\nacho\.clasprc.json'

I had to un-hide the file for it to work. Not sure why `clasp` run from PowerShell would need the file to be un-hidden?

[2019-12-10 16:50] PopGoesTheWza commented on #409
@imthenachoman Looks like a NodeJS limitation: https://github.com/nodejs/node/issues/14553
Not sure yet how to implement a fix

[2019-12-10 19:55] imthenachoman commented on #409
@PopGoesTheWza Yeah. Very strange issue. I don't fully understand the technical reason but I assume it has something to do with how Microsoft did something. Oh well. Not a big deal.

[2019-12-10 20:03] PopGoesTheWza commented on #409
I'd adventure a wild guess: Linux and Mac OS have similar POSIX compliant file systems which do not have an `hidden` attribute. Such attribute I only encounter on Microsoft OSes (DOS and Windows) and a few long since forgotten systems. In order to fully support Windows differences, one would need to either introduce in the NodeJS code base too much specific code, or leave up to apps and package de

[2019-12-11 03:51] imthenachoman opened #720 "is there global settings for the fileExtension configuration option"
Is it possible to create a global configuration setting? For example, I want **all** of my clasp pull/clone commands to use `.js`. I know I can do this by setting the `fileExtension` property in the `.clasp.json` file in the project directory but then I have to set it for each project.

Is it possible to set it globally somewhere, like maybe in the `.clasprc.json` file?

[2019-12-16 16:09] imthenachoman commented on #717
I am not sure what that means. Is there anything I can do to get that done? The delay in returning to the prompt is a real productivity killer. :(

[2019-12-16 21:57] PopGoesTheWza commented on #717
@imthenachoman can you test the following:
1. uninstall `clasp`both locally and globally
2. invoke `clasp` via npx (i.e. `npx clasp apis list`)

[2019-12-16 22:02] PopGoesTheWza commented on #717
From a quick review of the issue, it might be necessary that every clasp command explicitly terminates after execution with `process.exit()`
Also try.. catch... for failing promises/async functions is lacking in some places.

[2019-12-17 09:06] PopGoesTheWza commented on #717
@swvajanyatek & @imthenachoman if you can try to build `clasp` from PR #721  (<https://github.com/PopGoesTheWza/clasp/tree/issue-717>) and test it... Travis currently fails because of exhausted quotas, thus requiring to wait 24 hours to run again.
Since I do not have a Windows system to use, I cannot test it myself.

[2019-12-17 16:15] imthenachoman commented on #717
1. `npm uninstall -g @google/clasp` and `npm uninstall @google/clasp`
2. `npx clasp clone ....`

Do I need to do anything here? Not sure where/how I would add `process.exit()`?

Uh, I will have to see how build `clasp`. I have never done that before. Any documentation/information on how to build `clasp`?

[2019-12-17 18:34] imthenachoman commented on #717
I now realize Travis CI is a product name. I thought it was a person's name.

I followed the instructions at https://github.com/google/clasp/blob/master/docs/develop.md:

- `tsc: npm install -g typescript`
- `npm uninstall -g @google/clasp`
- `npm install`
- `npm run build;`

Then, in the same directory, I ran `clasp clone ....`. It cloned the project fine but, after it was done, it still sat at t

[2019-12-17 20:41] PopGoesTheWza commented on #717
@imthenachoman develop.md is quite outdated it seems... :)

did you test with a copy of this branch? : https://github.com/PopGoesTheWza/clasp/tree/issue-717

[2019-12-17 21:21] imthenachoman commented on #717
Did I do something wrong?

Yes. I downloaded a ZIP from that URL and then extracted locally. Can't `git clone` for various reasons.

[2019-12-18 09:48] PopGoesTheWza commented on #717
Odd. I bumped the PR to check that Travis CI now completes with node 8, 10 and 12 on Linux, MacOS and Windows.

Can you try and:
- download again from https://github.com/PopGoesTheWza/clasp/tree/issue-717
- check in `package.json` that `version` is `2.3.717`
- re-install with the commands `npm uninstall -g clasp`, `npm install` and `npm run build`

Test and report for as many clasp commands as pos

[2019-12-18 15:08] imthenachoman commented on #717
Here is what I did:

1. downloaded https://github.com/PopGoesTheWza/clasp/archive/issue-717.zip
2. extracted
3. confirmed `package.json` shows `"version": "2.3.717"`
4. `npm uninstall -g clasp`

6. `npm uninstall -g @google/clasp`

7. `npm install`

8. `npm run build`

9. renamed `~/.clasprc.json` to `~/.clasprc.jsonx`
10. `clasp login` -> opens a Chrome window with an error:

11. `clasp login --n

[2019-12-18 20:53] imthenachoman commented on #719
I don't know why I didn't see this before but I just tried a `clasp list` and got this error -- it has more detail then I saw before.

When I go to https://www.googleapis.com/drive/v3/files?pageSize=50&q=mimeType%3D%22application%2Fvnd.google-apps.script%22, I see this:

I have done `clasp login` and can `push` and `pull` just fine.

[2019-12-20 11:04] a2chan opened #722 "'Syntax error: Missing ; before statement'"
'Syntax error: Missing ; before statement' error on including most node libraries.

[code]

Code at line 9175:
[code]

## Specifications

- Node version: 12.14.0:
- Version: 2.3.0
- OS: Linux:

[2020-01-01 00:21] carlosonunez commented on #219
Can confirm that this worked for me!

[2020-01-02 08:46] PopGoesTheWza commented on #722
@a2chan I am unsure what you are doing but...

You should not be able to include **any** nodejs/commonjs/es6 libraries.

The "libraries" available within Google Apps Script are described here: <https://developers.google.com/apps-script/guides/libraries>

For your own sake, I advise you avoid/forget/ban anything related to nodejs/commonjs/es6 modules, starting with the `export`/`import`/`require()`

[2020-01-02 09:06] PopGoesTheWza commented on #719
@imthenachoman is the issue permanent? Your last message seems to imply you are experiencing a quota issue (<https://developers.google.com/apps-script/guides/services/quotas>)

As for the messy `UnhandledPromiseRejectionWarning` error, I see several `await` with no `try`...`catch` wrapping to properly handle failure when interracting with the Google APIs.

If we get feedback from some owner like @

[2020-01-02 09:15] PopGoesTheWza commented on #717
@imthenachoman
step 4: `npm uninstall -g clasp` should be unnecessary (step 5 is correct)

steps 10 & 11: "worked but sat at prompt for a while" do you mean that it eventually returned correctly to the prompt? If so, this would mean that PR #721 fixes the issue. FYI, on MacOS too `@google/clasp` sometimes takes some times before returning to the prompt.

[2020-01-02 15:16] imthenachoman commented on #719
@PopGoesTheWza Yes. I don't think it is a quota issue since it happens every time. The error says "for Unauthenticated Use". I don't know how the `clasp` code works but I assume when I run `clasp list` it would make an authenticated call...

[2020-01-02 15:19] imthenachoman commented on #717
For me, it always eventually returned -- even before PR #721. I run the clasp command, like `clasp push`, it does its thing, and then, from what I can tell, just sits there waiting (or doing something in the background) before the process gracefully finishes.

And, while it is waiting, the actual command finished. For example, if I type `clasp push`, it'll push the files and then wait. While it is

[2020-01-05 16:20] andfletcher commented on #507
@erickoledadevrel just tried using clasp but I am unable to push any changes. Is there any update on this issue? It seems like a very serious issue if people can not push changed code?

[2020-01-08 08:31] khalilchoudhry commented on #12
Does any of the submitted PRs work? I have a similar requirement so I checked most of the PRs related to this task are closed. Would anyone guide me to the correct docs for this?
@fossamagna How did you solve it then?
Thanks.

[2020-01-08 19:58] PopGoesTheWza commented on #12
@khalilchoudhry I have little use of `@google/clasp` currently. There are many PR pending and little attention from Google since @grant moved to new horizons.

The above PR should work, though it didn't went through much testing.

I would consider hosting and maintaining a fork if enough people are interested.

[2020-01-09 10:32] takanakahiko commented on #579
I think gitpod is appropriate for this case.
We can open the repository in Online IDE with one click using gitpod.

Create a PR to add gitpod settings.

[2020-01-10 20:49] vsekhar opened #725 "clasp run should have an option to print logs"
## Expected Behavior
Just like executing a commanda the shell sends output to the terminal, `clasp run` should have an option to do so as well.

## Actual Behavior
Need to start a `clasp logs --watch` or monitor stackdriver logs separately.

[2020-01-10 22:59] khalilchoudhry commented on #12
@PopGoesTheWza  7 people are interested including me, you and @fossamagna and as you have mentioned other issues in the above PR (PopGoesTheWza:dotfiles-override), that may include a few other interested people. If you could host & maintain, I would be happy to help if required.

[2020-01-10 23:09] PopGoesTheWza commented on #12
I will try to take the tile to review this next week. So much already on my plate.

[2020-01-11 12:02] khalilchoudhry commented on #12
Thanks. I will clone your repo and try to do a few tests and see how it works and update/consult if something is required. I need to set up the staging branch next week for my project.

[2020-01-11 12:07] PopGoesTheWza commented on #12
@khalilchoudhry give me a few hours and I'll tidy my repo with a clean branch for you (and others?) to get started and test.

[2020-01-11 15:14] PopGoesTheWza commented on #12
@khalilchoudhry Please give a try at [this forked branch](https://github.com/PopGoesTheWza/clasp/tree/forked)

It includes most of pending PRs: #724 #700 #708 #721 as well as infamous #688 for env variables and config files.

![image](https://user-images.githubusercontent.com/32041843/72205875-0dcda900-3488-11ea-9ab9-ca443ae7a8f8.png)

A drafted doc is [here under `/doc`](https://github.com/PopGoe

[2020-01-13 11:41] khalilchoudhry commented on #12
@PopGoesTheWza Sure I will give it a try today.

[2020-01-13 12:01] grant commented on #12
Sorry to not be able to contribute to this project. I moved teams.

@PopGoesTheWza Since you've worked a lot on this project, and nobody else is maintaining this project, I've given you maintenance permissions for this repo. I think that is better than a fork. Feel free to ask others for PR reviews and merge as you see fit.

If you want to publish `@google/clasp`, I can look into it, but can't do

[2020-01-13 13:32] PopGoesTheWza commented on #12
Thanks @grant

[2020-01-13 13:49] #700 closed

[2020-01-14 08:51] #579 closed

[2020-01-17 02:39] haohaolee commented on #716
@PopGoesTheWza here is a demo for that
https://github.com/haohaolee/clasp-test

[2020-01-18 17:20] kornthing commented on #527
I'm using clasp 2.3.0 and I don't think that this issue has been fixed already. I've made an example on  [StackOverflow](https://stackoverflow.com/questions/59802430/typescript-classes-order-in-google-appscript-project).
I've listed here all opened issues concerned this problem on Git google/clasp:
- [527](https://github.com/google/clasp/issues/527)
- [718](https://github.com/google/clasp/issues/7

[2020-01-18 17:20] kornthing commented on #718
I'm using clasp 2.3.0 and I don't think that this issue has been fixed already. I've made an example on  [StackOverflow](https://stackoverflow.com/questions/59802430/typescript-classes-order-in-google-appscript-project).
I've listed here all opened issues concerned this problem on Git google/clasp:
- [527](https://github.com/google/clasp/issues/527)
- [718](https://github.com/google/clasp/issues/7

[2020-01-18 17:21] kornthing commented on #624
I'm using clasp 2.3.0 and I don't think that this issue has been fixed already. I've made an example on  [StackOverflow](https://stackoverflow.com/questions/59802430/typescript-classes-order-in-google-appscript-project).
I've listed here all opened issues concerned this problem on Git google/clasp:
- [527](https://github.com/google/clasp/issues/527)
- [718](https://github.com/google/clasp/issues/7

[2020-01-19 21:36] z1abl opened #732 "getProtections() returns empty array in clasp"
[code]
In clasp this function returns empty array: [] but in cloud editor it returns [Protection,Protection].

- Node version (`node -v`): v12.11.1
- Version (`clasp -v`):2.3.0
- OS (Mac)

[2020-01-19 22:21] PopGoesTheWza commented on #732
@z1abl are you referencing an issue with Typescript declaration `@types/google-apps-script`? If so it should opened on [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc)

[2020-01-20 14:31] z1abl commented on #732
@PopGoesTheWza , thanks.

[2020-01-20 14:31] #732 closed

[2020-01-20 17:48] PopGoesTheWza commented on #624
@DimuDesigns @kornthing Using the latest npm version of `@google/clasp` I do not experience any issue related to the `filePushOrder` in `.clasp.json`

If you still are, please share a github repository with some sample code and `.clasp.json`(no need to give access to your Google Apps Script project) so that I may investigate further.

[2020-01-20 17:50] PopGoesTheWza commented on #718
@fedeserbin @kornthing Using the latest npm version of `@google/clasp` I do not experience any issue related to the `filePushOrder` in `.clasp.json`

If you still are, please share a github repository with some sample code and `.clasp.json`(no need to give access to your Google Apps Script project) so that I may investigate further.

[2020-01-20 17:51] PopGoesTheWza commented on #527
@jakenjarvis @kornthing Using the latest npm version of `@google/clasp` I do not experience any issue related to the `filePushOrder` in `.clasp.json`

If you still are, please share a github repository with some sample code and `.clasp.json`(no need to give access to your Google Apps Script project) so that I may investigate further.

[2020-01-20 17:55] PopGoesTheWza commented on #716
@haohaolee Just to be sure, did you paste the sample code directly into the online Google Apps Script editor or did you create a local clasp project, a `.ts` file with the sample code and then used `clasp push`?

[2020-01-20 17:59] PopGoesTheWza commented on #717
@imthenachoman can you try to build the current `master` branch from this repository? I committed some changes which should have node to exit in a more cleaner and graceful manner on windows.

[2020-01-20 19:15] PopGoesTheWza commented on #527
Here is a [sample repository](https://github.com/PopGoesTheWza/clasp-filePushOrder) I used to check proper usage of `filePushOrder`.

A better description in the doc may be useful though and a PR would be appreciated.

[2020-01-20 19:15] PopGoesTheWza commented on #718
Here is a [sample repository](https://github.com/PopGoesTheWza/clasp-filePushOrder) I used to check proper usage of `filePushOrder`.

A better description in the doc may be useful though and a PR would be appreciated.

[2020-01-20 19:15] PopGoesTheWza commented on #624
Here is a [sample repository](https://github.com/PopGoesTheWza/clasp-filePushOrder) I used to check proper usage of `filePushOrder`.

A better description in the doc may be useful though and a PR would be appreciated.

[2020-01-21 20:36] imthenachoman commented on #717
No dice. It's still sits at the end...

[2020-01-22 09:00] #722 closed

[2020-01-24 04:18] ericanastas commented on #225
So, say I store a token and refresh token as part of a CI pipeline. This works for a while, but eventually the refresh token is used to create a new token. But the CI pipeline is ephemeral. This new refresh token is not persisted to the next CI run. So what happens when the CI process runs again and tries to use the original token/request token?

[2020-01-27 12:41] sdesalas opened #734 "`clasp versions` limited to 200 versions."
## Expected Behavior
[code]

## Actual Behavior
[code]

## Steps to Reproduce the Problem

1. Create project with more than 200 versions
2. Run `clasp versions` on said project

## Specifications

- Node version (`node -v`): v11.0.0
- Version (`clasp -v`):  2.3.0
- OS (Mac/Linux/Windows): Window (GitBash)

[2020-01-27 13:34] sdesalas commented on #734
Probably an issue with the underlying api. I can get it to return LESS results by updating `src/commands/versions.js`:

[code]

[2020-01-27 13:37] sdesalas commented on #734
I also checked deleting 10 (older) versions. The result is still as follows:

[code]

[2020-01-28 20:00] meitar commented on #325
@PopGoesTheWza:

I think what @rielzzapps means (please correct me if I'm wrong), is that it would be nice to have the capability of using NPM packages as a dependency in a Google Apps Script project.

I found this thread today while trying to setup a Meetup API integration with a Google Spreadsheet. There is the handy [`meetup-api` NPM module](https://www.npmjs.com/package/meetup-api) and when us

[2020-01-28 20:05] wittekm commented on #325
Node modules from GAS is probably a non-starter for now since

- only URLFetchApp is supported for http calls
- GAS is pseudo-es5, not node, not real es5, and isn't on V8 quite yet.

On Tue, Jan 28, 2020, 12:00 PM Meitar M. <notifications@github.com> wrote:

[2020-01-30 18:55] koconnor3 commented on #657
any updates on this? I'm still seeing "(node:...) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated"

[2020-02-06 19:01] tomdavidson commented on #325
![image](https://user-images.githubusercontent.com/50412/73969317-6a31b600-48d8-11ea-9ff1-19c6eb27c698.png)

https://developers.google.com/apps-script/guides/v8-runtime

[2020-02-06 19:40] wittekm commented on #325
Just to make sure, has this been tested with Gmail Addon/GSAO at all? I tried adding `runtimeVersion: "V8"` and it results in the supremely debuggable

Error: We're sorry, a server error occurred. Please wait a bit and try again. [line: 0, function: , file: undefined]

(if there's a better place to report that, happy to go there :) )

[2020-02-07 03:23] shinout opened #735 "build option for V8 runtime"
https://developers.google.com/apps-script/guides/v8-runtime/migration

Do you have any plan to support less-transformed codes for v8 runtime?

[2020-02-07 03:38] PopGoesTheWza commented on #735
@shinout I only started experimenting with how V8 runtime works.

At the `@google/clasp` level, it could be nice to be able to get/set which runtime to use in the `appsscript.json`

For the Typescript compilation, `ts2gas` should not be hard to modify in order to support a flag which instruct build for rhino or v8.

I'm open to design suggestions as well as PR.

Most urgently, I'd like to get a mo

[2020-02-07 03:42] PopGoesTheWza commented on #325
@tomdavidson v8 runtime is great news but... there's a warning in the page you kinked:

[2020-02-07 03:44] PopGoesTheWza commented on #325
@wittekm Sorry but I am not familliar with this `Gmail Addon/GSAO`. Still the homepage for this add-on is likely the best place to report an issue.

[2020-02-07 04:38] imthenachoman opened #736 "inquirer-autocomplete-prompt@1.0.1 requires a peer of inquirer"
## Expected Behavior

Errorless install of `clasp`

## Actual Behavior

Installing `clasp` results in this error:

    sudo npm i @google/clasp -g
    /usr/bin/clasp -> /usr/lib/node_modules/@google/clasp/src/index.js
    npm WARN inquirer-autocomplete-prompt@1.0.1 requires a peer of inquirer@^5.0.0 || ^6.0.0 but none is installed. You must install peer dependencies yourself.

    + @google/clasp@

[2020-02-07 05:02] wittekm commented on #325
Gmail addon and GSuite Add-on are Google's platforms to build apps that
live in the right-side drawer of Gmail. It's an official platform that runs
on Apps Script.

On Thu, Feb 6, 2020, 7:44 PM PopGoesTheWza <notifications@github.com> wrote:

[2020-02-07 05:06] tomdavidson commented on #325
@PopGoesTheWza not an announcement that all our problems go away or that this issue should be closed.

[2020-02-07 18:29] imthenachoman commented on #719
Just checking if there is any update to this?

[2020-02-07 22:50] shinout commented on #735
Your plan sounds great. Then, how we collect the enabled ESnext features is the concern. Manually checking every feature, or asking GAS developers about it. I'm wondering this clasp project is google's official and some maintainers are internal google people, aren't they? If so, they should know the exact features.

[2020-02-08 16:39] armand1m commented on #58
the error still happens in clasp 2.3.0

[2020-02-09 06:43] takanakahiko commented on #736
fixed in #733
@imthenachoman  Wait for the next release.

[2020-02-09 10:01] shinout commented on #735
I tried to push some codes written in ESNext format to GAS.

The result was 400 error. It seems that GAS currently doesn't accept modern JS format via HTTP. I don't know to whom I should request to include this new feature. Any idea?

[2020-02-09 20:30] imthenachoman commented on #736
@takanakahiko Got it. Thanks! Sorry if this was mentioned somewhere. I did a search but didn't find any existing issues/comments.

[2020-02-14 03:22] PopGoesTheWza commented on #735
For reference, I've put up this spreadsheet about supported features and it is fine up to ES2019.
<https://docs.google.com/spreadsheets/d/1JIJac5lsS2d1Gm7u8Zk-cLAaGLIxh_wVlU44Iez96bU/edit?usp=sharing>

Currently `@google/clasp` should be able to read the `compilerOptions` from your `tsconfig.json` and to pass them to `ts2gas`.

https://github.com/google/clasp/blob/e1ed852e6bc0d7f5e33f6bbcfef62e232

[2020-02-14 03:27] PopGoesTheWza commented on #58
@armand1m Could you please provide some context about your issue?

Do you have a sample `.claspignore` to reproduce the issue?

[2020-02-14 03:32] PopGoesTheWza commented on #657
@koconnor3 what version of nodejs and clasp are you using?

[2020-02-14 13:54] PopGoesTheWza commented on #735
`ts2gas` PR https://github.com/grant/ts2gas/pull/47 is ready for @grant to review and release.

After that, a minor `@google/clasp` PR (mostly documentation) prior a new release.

[2020-02-14 14:52] koconnor3 commented on #657
my bad, looks like I had only updated clasp on my _other_ machine 🤦‍♂️

[2020-02-15 00:19] shinout commented on #735
@PopGoesTheWza Thanks you so much for your thorough function checking!

By the way, have you encountered 400 error when you push codes whose target is ES2019? I tried to push such codes to GAS by locally manipulating `ts2gas`'s target, and got the error.
If so, we have to wait for a new release by Google supporting ESNext grammar via HTTP.

[2020-02-17 13:56] programmer24601 opened #738 "DOTFILE.RC.read() fails despite file bring created"
## Expected Behavior
When logging in with custom credentials I am able to run clasp pull/push/run successfully.

## Actual Behavior
When attempting to log in with custom credentials I receive:

The `.clasprc.json` file _is_ created and contains what looks to be the correct content.

## Steps to Reproduce the Problem

1. Follow instructions here: https://github.com/google/clasp/blob/master/docs/run

[2020-02-22 01:16] #711 closed

[2020-02-22 01:18] PopGoesTheWza commented on #624
@DimuDesigns can you please give a status about this issue?

[2020-02-22 01:19] PopGoesTheWza commented on #718
@kornthing can you please give a status about this issue?

[2020-02-22 01:20] PopGoesTheWza commented on #527
@kornthing can you please give a status about this issue?

[2020-02-22 01:34] PopGoesTheWza commented on #470
PR #739 should address this issue

[2020-02-22 01:35] dermidgen commented on #631
@grant This appears to have popped up again.  When installing on a fresh system today, I got nailed with this one.  It was trying to use https://www.npmjs.com/package/dotf/v/1.4.1

The same workaround above works for pinning to `~1.2.0`.

You can also install via your project's `package.json` and run using `npx clasp`.

[code]

[2020-02-22 01:40] PopGoesTheWza commented on #631
@dermidgen PR #739 is successful in build & test with dotf@1.4.1

Can you give more details about reproducing the issue?

[2020-02-22 01:49] dermidgen commented on #631
@PopGoesTheWza

Ubuntu 18.04.4 LTS
Node v12.8.0
NVM v0.32.1

- Cleaned all local & globally installed `node_modules`
- Install via `npm i -g @google/clasp`
- Run `clasp` (also ran `./src/index.js` from `~/.nvm/versions/node/v12.8.0/lib/node_modules/@google/clasp` for same result)

[code]

[2020-02-22 01:59] PopGoesTheWza commented on #631
@dermidgen : I just released [`dotf@1.4.2`]<https://github.com/grant/dotf/releases/tag/v1.4.2> which should address this issue

[2020-02-22 02:16] dermidgen commented on #631
@PopGoesTheWza you nailed it. Thanks for the amazing turn-around on that! Wowza! :heart_eyes:

[2020-02-22 02:18] PopGoesTheWza commented on #631
@dermidgen thanks for pointing out this (silly) bug early.

[2020-02-22 02:18] #631 closed

[2020-02-22 02:25] PopGoesTheWza commented on #609
@dustinmichels this issue should now be irrelevant with V8 engine support and PR #739

[2020-02-24 13:03] PopGoesTheWza commented on #735
@shinout I was able to succesfully `clasp push` ES2019 code on first attempt with no issue. What I did (on an existing sample project) was:

- build `@google/clasp` from PR #739
- `clasp open` the project and activate `V8` online
- open online manifest `appsscript.json` and the update the local manifest
- update local `tsconfig.json` with `"target": "ES2019"`

Thus basic V8 support is confirmed an

[2020-02-24 15:05] yumetodo commented on #735
I also tried to use #739 and work fine!

# build #739

[code]

# use it in my project

https://github.com/yumetodo/gmail2mastodon

- update local `tsconfig.json` with `"target": "ES2019"`

[code]

![image](https://user-images.githubusercontent.com/10869046/75163389-7932b800-5762-11ea-8abc-b7e1a1ab32bb.png)

[2020-02-25 08:29] shinout commented on #735
Maybe some of my codes include unacceptable grammar for Google. I'll specify it.

[2020-02-25 08:55] PopGoesTheWza commented on #735
@yumetodo out of curiosity, the `Object.defineProperty`... with `__esModule` comes from your `.ts` source code right? May I ask about its purpose?

[2020-02-25 11:44] yumetodo commented on #735
@PopGoesTheWza `esModuleInterop` is on by default so that that has appeared, I supposed.
My source code use at the picture is:
https://github.com/yumetodo/gmail2mastodon/blob/5ce7d8fa1aa6a3697048855266d5cf39148cc9fd/src/index.ts

[2020-02-25 19:54] PopGoesTheWza commented on #735
Keeping this open until next release.

[2020-02-25 19:55] PopGoesTheWza commented on #735
@yumetodo this is odd, for `ts2gas` should filter out such statement.

[2020-02-25 20:01] PopGoesTheWza opened #740 "[RFC] Best practices for managing Apps Script monorepos"
Purpose of this issue is to discuss and exchange on how one handle Apps Script **monorepos**:

- current solutions
- key features/functionalities
- missing features/functionalities

[2020-02-25 20:46] PopGoesTheWza opened #741 "[RFC] better V8 support"
Purpose of this issue is to discuss and exchange on how to improve V8 support/integration:

[2020-02-25 20:46] PopGoesTheWza commented on #741
I'll start with...

## Possible general features:

  - CLI option to specify engine and update `appsscript.json` when using some commands like `create`, `pull`, `push`

## Possible Typescript related features:

  - detect Rhino/V8 from local `appsscript.json` and provide the appropriate `es3`/`es2019` default `target` to `ts2gas`
  - (optional) detect `target` from local `tsconfig.json` and warn i

[2020-02-26 02:38] yumetodo commented on #735
@PopGoesTheWza Really!? Have you ever tried to reproduce my step?
I've just used the clasp of #739 version.

[2020-02-26 14:29] JRPoinsot opened #742 "clasp run [functionName] --params doesn't work"
## Expected Behavior

Should be execute my function setProperties with a Object {"foo": "bar"}

My function :
function setProperties(properties) {
  PropertiesService.getScriptProperties.setProperties(properties, false);
}

## Actual Behavior
response : Input params not Valid JSON string. Please fix and try again.
A try other basic JSON format ... but same message.

## Specifications

- Node versi

[2020-02-28 15:10] imthenachoman commented on #742
Silly question but what happens if you use double quotes:?

    clasp run setProperties --params "[{'foo':'bar'}]"

[2020-02-28 15:12] imthenachoman commented on #740
I'm curious how this ties or is dependent to `clasp`. Are you talking about if someones got many projects in one GAS file or if someone is putting many projects into a single GitHub/GitLab repo?

[2020-02-28 15:20] imthenachoman commented on #710
Also, it would get very tricky to "pull" the data back into an `.md`.

[2020-02-28 16:14] PopGoesTheWza commented on #710
The `pull` issue isn't really an issue if you consider that `.gs` cannot be pulled-back into `.ts` either ;)

Next step is likely for the people interested to identify a solid `markdown-to-html` solution which includes sanitisation.

[2020-02-28 16:19] PopGoesTheWza commented on #740
Typically, a single repository composed of several projects which share common resources (i.e. code)

I have this [starter template](https://github.com/PopGoesTheWza/ts-gas-project-starter) which I'll be updating for v8 support soon.

[2020-02-28 16:39] imthenachoman commented on #740
I see. So multiple GAS projects in one TS project that each get pushed to their own GAS project? I se great value in this. Especially for "common libraries".

[2020-02-28 22:55] PopGoesTheWza commented on #741
@grant how/when can we expect a release?

[2020-02-29 11:00] jayakrishnankg opened #743 "Google sheets: clasp push command fails"
I am trying to push Google App Scripts code to cloud using the following command:

`clasp push`

But it fails with the following error.

`responseType: 'json',
retryConfig: {
  currentRetryAttempt: 3,
  retry: 3,
  httpMethodsToRetry: [Array],
  noResponseRetries: 2,
  statusCodesToRetry: [Array]
}
},
 code: 500,
  errors: [
   {
    message: 'Unknown Error.',
    domain: 'global',
    reason: 'ba

[2020-03-01 16:06] grant commented on #741
Hi @PopGoesTheWza, sorry I don't know the answer to that question as I don't release this project anymore. I've CC'd @erickoledadevrel who can answer that question. (Although, this week is busy for Googlers)

[2020-03-02 14:34] erickoledadevrel commented on #741
Assigning to @sqrrrl to answer.

[2020-03-03 14:23] lgordey opened #745 "Docs: cloning section missing in developer guide"
Given the specifics of this project (`CLI` tool), it’s not entirely obvious that the cloning steps are missing.
Talking about [developer guide](https://github.com/google/clasp/blob/master/docs/develop.md).

[2020-03-04 00:30] #745 closed

[2020-03-06 08:47] kenyodev opened #748 "Command "clasp version" emits TypeError"
## Expected Behavior
Prints out version information

## Actual Behavior
Emits TypeError

[code]

## Steps to Reproduce the Problem

1. Install clasp by `npm install -g @google/clasp`
2. Execute a command `clasp version`

## Specifications

- Node version (`node -v10.0.0`):
- Version (`clasp -v2.3.0`):
- OS (Mac Catalina):

[2020-03-07 11:20] fletort commented on #736
So claps 2.3.0 can not be used ?

[2020-03-12 22:30] andybrewer commented on #748
Similar issue for me running `clasp login`

[code]

# Steps to Reproduce the Problem
Install clasp by `npm install -g @google/clasp`
Execute a command `clasp login`

# Specifications
Node version (node -v 8.5.0)
Version (clasp -v 2.3.0)
OS (Mac Mojave)

[2020-03-13 15:27] contributorpw commented on #740
If you allow me.

I use an approach based on the clasp. It uses gulp & cli flows.

I do not know the current version supports multiple project files, so I just swap the `.clasp.json` file to redirect the stream to a project https://github.com/hedgehogsburrows/empty-google-apps-script-project/blob/master/gulpfile.js#L63-L74.

Based on this approach I also use the spread distribution of one code for

[2020-03-13 18:27] contributorpw commented on #710
Unfortunately it's not clear still.

For an example why should I use `https://ssl.gstatic.com/docs/script/css/add-ons1.css` instead o something else?

`showdown` is pretty tools without a hardcode.

[2020-03-13 18:34] contributorpw commented on #287
https://support.google.com/a/answer/9682494

[2020-03-15 08:52] sshaji opened #752 "How to update an existing deployment to new version?"
Looks like there is no single command to do this..
But, I can do this by creating a new version first using "clasp version", then use "redeploy DID Version.." command.

But, because I want to automate the process, how can I get the version number created using the "clasp version" command to be included in the new "redeploy" command?

[2020-03-15 15:05] kalmi commented on #470
This might be slightly off-topic, but doGet and doPost fail when returning a Promise: "The script completed but the returned value is not a supported return type."

Tried like this:
[code]

Interestingly enough, [custom functions](https://developers.google.com/apps-script/guides/sheets/functions) can return Promises, and that works.

If anyone is interested in a workaround for doGet and doPost, I

[2020-03-15 15:56] kalmi commented on #752
If you specify only the deploymentId, it automatically creates a new version for you, and updates (redeploys) the deployment.

[2020-03-16 09:20] dustinmichels commented on #609
Amazing!

[2020-03-16 14:32] kalkov commented on #748
+1

[2020-03-16 14:47] kalkov commented on #748
Quick fix - lock `dotf` version in your `package.json` file

[code]

[2020-03-16 22:06] PopGoesTheWza commented on #748
@kenyodev @andybrewer can you share the output of `npm list -g dotf graceful-fs`?

Also supported NodeJS version should be ">= 10.3.0"

[2020-03-16 22:33] PopGoesTheWza commented on #470
@kalmi such question is outside the scope of `clasp`

Maybe this [Apps Script page](https://developers.google.com/apps-script/support) can help you an answer.

Without having tested such issues, I don't believe `doGet` nor `doPost` can be `async` and return any promises.

[2020-03-17 00:39] kalmi commented on #470
Sorry, if this was off-topic. It wasn't really intended as question. I just wanted to document my workaround for others.

By the way, Promise is available in the V8 engine, so I think this can be closed. It's available and it works, but it's utility is limited: https://issuetracker.google.com/issues/149937257

[2020-03-18 03:30] kalmi commented on #353
I decided to pick this up. I am looking for some input on how the output of the command should look like. Does this output style look reasonable?

[code]

[2020-03-20 19:47] contributorpw commented on #353
@kalmi

Is it possible get output without any separate signs? `:` & `,` are redundant.

[2020-03-20 21:41] kalmi commented on #353
@contributorpw Thanks, good idea. Dropped them. Which one do you prefer?

[code]

[code]

[code]

Also, is the pluralisation (user/users) a good idea? Or is it just confusing?

[2020-03-21 04:43] contributorpw commented on #353
I'd like the second one.

I can't say something best about pluralisation =) I'd like simple stuff.

[2020-03-21 09:51] kalmi commented on #353
I am glad. I prefer that one too.

[2020-03-22 13:09] contributorpw commented on #353
@kalmi, I look forward to your suggestions. I would really like this feature.

[2020-03-22 18:55] paxperscientiam commented on #743
@jayakrishnankg any luck? Also, how did you get the error message? I'm using v2.3.0 and I'm just seeing "Push failed. Errors:".

[2020-03-23 15:10] kwiesmueller opened #756 "Clasp push drops oauthScopes"
I got a Gmail Add-on that worked before.
Currently, some users produced weird `Missing access token for authorization` errors that neither I nor other users could reproduce.
After further investigation, I discovered that I gave the Add-on access to `"https://www.googleapis.com/auth/gmail.readonly"` (as defined in the appscript.json), but impacted users do not have this permission.

## Expected Beh

[2020-03-23 15:11] kwiesmueller commented on #756
FTR: When i update my manifest locally, i get asked if i want to overwrite it online.
Pressing yes does still drop the field.

[2020-03-23 15:15] kwiesmueller commented on #756
If I edit the manifest online and the do a clasp pull, i get a valid appscript.json into ./dist

[2020-03-25 06:11] sovcik commented on #63
Summarizing:
1. There is a difference between **version** and **deployment**. A _version_ is similar to a git tag, while a _deployment_ is actual code available for execution and accessible at `https://script.google.com/macros/s/{deploymentID}/exec`
1. list of available deployments can be obtained by running `clasp deployments`
1. there is always only one **published** deployment which is availabl

[2020-03-30 23:09] guilhermetod commented on #743
I'm suddenly getting a problem when trying to push too. But I get a differente message:

'Syntax error: Missing name after . operator. line: 29 file: server/main'

I probably already found the problematic line , but it shouldn't requerie a ".".

export { include };
export default { sa, onOpen, everyMonday }; <---- Removing this line solves the problem

I can keep the first line but not the last on

[2020-03-31 13:31] TMiguelT opened #758 "Workflow for creating project and pushing existing code"
## Issue Description
I'm after a workflow when I already have some AppsScript code from an external source (e.g. from GitHub), and I want to create a new Google project and push the code there.

I had hoped I could do something like this:
[code]

Currently the only way to do this, as far as I can tell is:
[code]

## Specifications

- Node version (`node -v`): v11.15.0
- Version (`clasp -v`): 2.3.0

[2020-04-04 18:21] paxperscientiam commented on #743
Unfortunately, I don't recall what the heck i did to get it working again.

@guilhermetod , i'm also doing TS stuff. You might have better luck if you migrate to V8 engine. If you can't do that, you might find that certain variables/functions aren't in the global scope.

For stuff that needs to be globally available even when bundled, there is working polyfill for globalThis:
[code]
https://mathia

[2020-04-06 15:39] kospl opened #760 "Feature request: `clasp push -w` - add option to push only changed files"
Currently `clasp push -w` pushes ALL project files when *any* of files is changed. This behavior is not exactly how it feels it need to work, because for any minor edit, a lot of files are being updated.

So this is feature request for one of:
1. change behavior of `clasp push -w` to push only changed files
2. additional flag to push only changed files

It will let speed up local development a lot

[2020-04-07 23:14] guilhermetod commented on #743
I managed to get it working but I don't recall exactly which moment I got it fully working (push and execution). I can only recall that resetting my locale managed to successfully push the files and it's working on ES5.

@paxperscientiam thanks for the info btw, will try it if I run into this issue again.

[2020-04-08 20:28] lukas1994 opened #761 "weird "clasp version" behaviour"
I'm working on a Google Sheets Add-on. I'm running
* clasp deploy && clasp version "message"
* then I update the version number of my deployed add-on

## Expected Behavior
everything should work

## Actual Behavior
I'm getting `We're sorry, a server error occurred while reading from storage. Error code PERMISSION_DENIED.` in the JS console when running the plugin

## Steps to Reproduce the Problem

[2020-04-09 17:31] connorpb commented on #741
Any word on when this update might be released? Would love to start using V8

[2020-04-14 09:25] Alinaki opened #762 "Ignored file removed when do clasp push"
## Expected Behavior

If I create some file directly in the script editor and ignore that file in .claspignore I expect that file not to be removed while pushing

## Actual Behavior

Newly created file deleted from remote project

## Steps to Reproduce the Problem

1. Create a file e. g. config.js in script editor
1. Add this file to .claspignore
1. Do push

## Specifications

- Node version (`nod

[2020-04-14 18:09] ardent42c commented on #580
This is still happening with ts2gas 3.6.1 and clasp 2.3.0 ! was the fix rolled back??
Clasp prints out the error of the gs file, but since it doesn't actually let me see the produced gs files, Its hard to figure it out.

[2020-04-17 22:51] kpoman commented on #63
When I deploy my test_deployment_id and tries to open it on the browser, it redirects to
https://script.google.com/a/macros/safewebmed.com.br/s/{test_deployment_id}/exec
and shows an error page:
Sorry, unable to open the file at this time.

Please check the address and try again.

Get stuff done with Google Drive

Apps in Google Drive make it easy to create, store and share online documents, sprea

[2020-04-20 11:17] sativ01 commented on #707
The best would be to have an example using Github Actions
I have added a .clasprc.json and creds.json files content to Github secrets and using it as environment variables.
But clasp is activating login by URL which I cannot provide

[2020-04-20 13:11] sativ01 commented on #225
Hi guys,
I don't want to start a new thread, so I'll ask in this one

I want to use Github Actions to do `clasp push` on every push, and so far unsuccessful:

- I have a regular account in GCP and have downloaded creds.json and logged in locally, with
 `clasp login --creds creds.json` this resulted in `.clasprc.json` file that I have added to Github sercets and using it as environment variable
- W

[2020-04-21 08:53] fossamagna commented on #707
In CI/CD, I consider the following commands should be modified to be able to run on local credentials
- clasp push
- clasp deploy
- clasp run

Note: This assumes that you have an encrypted `.clasprc.json` committed to the repository.

Currently, only clasp run works with `.clasprc.json`.

I propose the ability for CLAPS to run only on local credentials when the `--local` option is specified, as fo

[2020-04-21 13:51] rodrigoscdc commented on #748
Similar Issue to me, after that I update my clasp package

I ran `npm install -g @google/clasp`

`clasp -v`
I got this error

[code]

I tried to include the `"dotf": "1.4.2"` like @kalkov suggest but didn't work.

### NPM Version
`npm -v` = 5.6.0

### Node Version
`node -v` = v9.7.1
### OS mac El Capitan
10.11.6

### Result for NPM LIST
`npm list -g dtof graceful-fs`
[code]

[2020-04-23 21:30] pipriles commented on #748
I am also facing this issue after doing `sudo npm install -g @google/clasp`:
This is the output when I run `clasp`:

[code]

[2020-04-24 19:29] JacobWeisenburger opened #763 "The Developer Guide doesn't match Clasp 2.3.0 CLI"
Image below is from the Developer Guide:
https://developers.google.com/apps-script/guides/clasp#deploy_a_published_project
![image](https://user-images.githubusercontent.com/31667350/80249042-bdddb100-8636-11ea-9a6c-e1576e00f70d.png)

---
### Clasp 2.3.0 CLI
clasp deploy
[code]
clasp redeploy
[code]

[2020-04-27 02:13] juliahuang opened #764 "JS library support"
It says [here](https://cloud.google.com/blog/topics/g-suite-developers/data-processing-just-got-easier-apps-scripts-new-v8-runtime) that:

I looked for more documentation on third party libraries but haven't seen anything (specifically Sequelize since that is specifically called out). Has anyone had experience or suggestions on how exactly to use Sequelize within google apps scripts and how CLASP

[2020-04-28 12:52] bjohas opened #765 "Pushing V8 code into non-V8 project"
When pushing V8 code into non-V8 project, the push fails. Howeer, the error message "Error: Syntax error: Missing ; before statement. ", while obviously true, didn't immediately make me realise that this is with V8/non-V8 code.

## Expected Behavior

A warning message would be helpful, but may not be possible.

## Specifications

2.3.0

[2020-04-28 20:57] bjohas commented on #12
Thanks for the discussion - interested in this too!

[2020-04-29 00:10] axtens opened #766 "tsconfig.json with the "target": "2019" is flagged by VSCode and appear to have no function"
## Expected Behavior
Was expecting to set "target" to "2019" and have `clasp push` send V8  code to Google Sheets project.

## Actual Behavior
"2019" has a wavy line under it in VSCode suggesting that it is unknown.  `clasp push` continues to push ES3 code into Google Sheets project.

## Steps to Reproduce the Problem

1. Edit `tsconfig.json` with "target" of "2019". Note wavy line under "2019"
1.

[2020-04-29 04:38] yumetodo commented on #735
@shinout any updates?

[2020-04-29 04:40] yumetodo commented on #766
See https://github.com/google/clasp/issues/735#issuecomment-590309579 and try again! You need to edit `appsscript.json` .

[2020-04-29 12:00] vuGitH commented on #63
regarding @sovcik [Summarizing](https://github.com/google/clasp/issues/63#issuecomment-603660004)
in item 6 of first ordered list

sub-command  `deploy` is occasionally omitted after `clasp`, Presumably:

    clasp deploy --deploymentId {published_deployment_id} --version {selected_version_here}

[2020-04-29 14:02] ErikVanDenHoorn commented on #225
Hi all,

I am also trying to set this up, but then by using CloudBuild. After running `clasp login --creds creds.json` it still opens the browser. Where creds.json is a file with an OAuth 2.0 credential. I also created a service account and tried to sign in using that credential. But this credential has the wrong format. Any suggestions on how to set this up are appreciated.

[2020-04-29 16:07] dgrayling commented on #761
@lukas1994 When you say "and then create the version manually in the UI everything works fine." are you saying you deploy the code and then set a number which in that case doesn't reproduce this error?

I say that because for me, "latest code" always works, despite being identical to the version I've pushed from clasp-deploy. (confirmed by writing the commit hash in to a html element in my ui).

[2020-04-29 16:14] lukas1994 commented on #761
Yeah I still haven't figured it out. `clasp version` must create a different version than when I create it using the UI.

[2020-04-29 19:16] bjohas commented on #761
Hello! I've just had likely the same problem, driving me round the bend (Node v10.19.0, clasp 2.3.0, Ubunt 20.04).

I use `clasp push && clasp version` to update the version, and then manually update the marketplace listing. The add-on menu doesn't show any of the menu items, but only 'help'.

When I do `clasp push`, but manually increment the version number using the script editor, then update th

[2020-04-30 09:47] dgrayling commented on #761
For those wanting a quick workaround for this, after you deploy a version from clasp that is broken:

Do "File", "Manage versions", type up a new name and save.

This takes your clasp deployed version which has something baked in to it that breaks it which when copied is missing, in the same way that latest code isn't broken despite seemingly being a copy.

We're hoping this means we can select th

[2020-04-30 10:31] lukas1994 commented on #761
You don’t need to use clasp version at all in your workaround.

On Thu, Apr 30 2020 at 10:48 AM, dan < notifications@github.com > wrote:

[2020-05-01 15:13] rachelorganist commented on #507
I just started using clasp and have yet to have it work successfully, so it could be that I'm doing something wrong, but it appears to be this issue.

1. I used ```clasp create``` to create a standalone project
2. Copied files into the project directory
3. Attempted to use ```clasp push```
4. Terminal shows a list of files and "Pushed 56 files." so it appears to have been successful
5. When I open

[2020-05-02 01:25] Swopno1 opened #767 "Can't install CLASP in windows environment."
Here is the details of my system specification.

Visual Studio: 1.44.2 (user setup)
Electron: 7.1.11
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

## Actual Behavior

npm ERR! Unexpected end of JSON input while parsing near '...r":"^2.2.0","husky":"'

## Specifications

- Node version (`node -v`): 12.8.1
- Version (`clasp -v`):
- OS (Mac/Linux/Windows): Windows 10

[2020-05-02 02:19] LoveSponge opened #768 "clasp push fails with 'for...of', 'Array.prototype.map', 'Array.prototype.forEach' and arrow functions."
## Expected Behavior
should be able to push any file including a 'for...of' loop

## Actual Behavior
Pushing file as described in reproduction steps prints following output:
[code]

## Steps to Reproduce the Problem

1. create a file with the following content:
[code]
2. run `clasp push` (after having logged in to clasp of course)

## Specifications

- Node version (`node -v`): 12.16.2
- Version (

[2020-05-05 17:21] daveneeley opened #769 "Use service account with clasp login --creds"
I would like to use the json credential file generated from a google service account with `clasp login --creds` option.

## Expected Behavior
When I download a json credential file from a google service account in my apps script project, I should be able to login with that file via `clasp login --creds /path/to/cred.json`.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

Mentioned in

[2020-05-08 20:04] daveneeley commented on #769
Duplicate of #225

[2020-05-08 20:04] #769 closed

[2020-05-09 09:14] joccing opened #770 "clasp run returns 'No response' when Apps Script function returns 0"
## Expected Behavior
When running an Apps Script function, clasp run should return whatever the function returns.

## Actual Behavior
When the function returns a 0, clasp run returns 'No response', and the correct output at other values.  To force the 0 to be returned, you need to return the type cast String(output).

## Steps to Reproduce the Problem

1. Create an apps script function

function t

[2020-05-09 14:38] jayakrishnankg opened #771 "Clasp push command fails with Error code : 500"
I am developing a google app script project and its client version is using the angular framework, so the entire output of the application is uploaded by converting it to HTML files

I have been using clasp to push files to my google app script project. It fails with the following error lately:

After hours of struggle, I found that  `main.js.html` is causing the issue.

When I uploaded the conten

[2020-05-10 14:37] HelioGomesMagalhaes commented on #767
Hi, maybe it's a W10 powershell issue not allowing to execute scripts because of default safety reasons. Google for "powershell change restriction mode". There are some options, including, "unrestricted" mode.

[2020-05-10 17:17] bjohas commented on #761
@lukas1994 Thanks for investigating - much appreciated!

[2020-05-11 03:37] kagawish commented on #748
I was using node version `v8.x`, upgrading to node `v12.x `which is the LTS, it is working now, so I think not even necessary to update to `v14.x`

[2020-05-11 03:52] leehen commented on #483
Still has the same issue for 2.3.0. Any work around?

[2020-05-14 07:49] serrg commented on #225
@sativ01
I get this working by putting `.clasprc.json` into home directory, in my GitHub Actions I have:
[code]
where `$CLASPRC_CREDENTIALS` is content of `.clasprc.json` generated by `clasp login --creds creds.json`

[2020-05-14 07:53] serrg commented on #225
@grant Any news on service account support within App Script API (and later in `clasp`)?

[2020-05-14 14:59] grant commented on #225
No news here ☹️

[2020-05-14 16:30] plonibarploni commented on #717
I am having a similar issue, just instead of hanging indefinitely, it hangs for about a minute or two.

I'm running Ubuntu MATE 20.04 with `node` version v10.19.0 and `clasp` version 2.3.0.

[2020-05-14 16:48] Nu11u5 commented on #483
This seems to be related to #42 and should probably be merged.

There was previously a discussion about adding a `--local` parameter [here](https://github.com/google/clasp/pull/447#discussion_r240480830).

[2020-05-15 17:19] #455 closed

[2020-05-15 17:26] #734 closed

[2020-05-18 00:59] grant commented on #768
`for...of` is not part of JavaScript 1.6 I believe.
The API fails when trying to upload files with invalid JS.

Maybe use V8 or normal for loops?
https://developers.google.com/apps-script/guides/v8-runtime

[2020-05-18 01:05] grant commented on #762
Yeah, unfortunately the API only allows for a "replace source code" option when pushing. We are replacing all the source code at once. Not sure what to do besides clarify that in the docs.

[2020-05-18 01:07] grant commented on #760
Unfortunately the API only allows for a "replace all files" option, so we can't really implement this right now without a new API feature.

See https://github.com/google/clasp/issues/762#issuecomment-629892811

[2020-05-18 04:20] LoveSponge commented on #768
Hi @grant

Thanks for your reply, I'll check the link first thing in the morning;

How might I get clasp to recognise that I'm writing code intended for V8? As far as I know, I have enabled V8 on the Web version of appsScript, it's only when running clasp from the command line on my machine that I see this error?

Should I have some special setting to tell clasp that the code is destined for V8?

[2020-05-18 05:48] grant commented on #768
Check the link.
It's all server-side errors, clasp doesn't affect it other than uploading your `appsscript.json` which specifies the V8 engine.

I think the `.ts` feature of clasp might enable `for of` loops too, so you could try renaming your files to `.ts`.
Hope that helps.
–Grant

[2020-05-18 07:29] PopGoesTheWza commented on #762
I'll create a doc PR sometime this week

[2020-05-18 07:34] PopGoesTheWza commented on #768
@LoveSponge `@google/clasp` should have no problem pushing 'modern JavaScript'/'V8'/'ES2019' code as long as the `appsscript.json` manifest enables the use of the 'V8' engine.

If it does not work with the (somewhat old) NPM published package, you should try using a clone from this repository `master` branch.

[2020-05-18 07:38] #768 closed

[2020-05-18 07:40] #760 closed

[2020-05-18 07:46] PopGoesTheWza commented on #756
@kwiesmueller can you please put up a sample repos on GitHub for me to investigate?

[2020-05-18 08:22] #762 closed

[2020-05-20 17:48] PopGoesTheWza commented on #741
@erickoledadevrel @sqrrrl can we have a status about this project?

Beside Grant Timmerman (who is no longer working on `@google/clasp` but still review some issues) there doesn't seem to be much (if any) involvement from Google.

[2020-05-20 18:20] erickoledadevrel commented on #741
I too no longer work on the G Suite DevRel team.

[2020-05-20 18:28] PopGoesTheWza commented on #741
So... what happens next? Who's in charge now?

Shall we consider this project closed/dead?

Should the community fork it in order to get some work done, big fixed and updates released?

[2020-05-20 20:38] erickoledadevrel commented on #741
I think that's a decision for @sqrrrl now.

[2020-05-20 20:45] PopGoesTheWza commented on #741
@sqrrrl hasn't showed up for nearly three months...

Ok. We'll wait some more.

[2020-05-21 11:45] Gauravshah opened #779 "not downloading `libraries` mentioned in appsscript.json"
## Expected Behavior
clasp clone should also clone all libraries within appscript.json, this will help auto-complete for those custom libraries as well

## Actual Behavior
clasp downloads the current script folder but not the libraries mentioned

## Steps to Reproduce the Problem

1. create a new script project
2. add any library like picasa
3. use it in the code
4. clone via clasp
5. autocomplete

[2020-05-24 12:10] bjohas commented on #761
It would be amazing to get a fix for this - just saying, hoping that one of the devs has something in store! :)

[2020-05-24 12:32] PopGoesTheWza commented on #761
If one can PR a test case for this issue, then I'll investigate along with #778

[2020-05-24 12:50] bjohas commented on #761
@PopGoesTheWza  - I'm not sure what that means? I assume it's aimed at the repo owners, right?

[2020-05-24 12:54] PopGoesTheWza commented on #761
@bjohas I am apparently the only active maintainer at the moment. Since I am not much experienced with the use of version and add-ons, if anyone contributes a Pull Request with a test case which reproduce the issue, I can look into it.

[2020-05-24 13:05] bjohas commented on #761
Ah ok, that makes sense - thanks for the offer of help.  Let me describe the issue as I see it - we can then work out if I can make a PR. I am not sure right now what the PR would be.

Here's the issue:
*Step 1.* I do
[code]
This gives me a new version (say version 5).

*2.* I then go the google apps script, and use "File > Manager versions". I this, I see a new version (number 5) with "some versi

[2020-05-25 20:19] bostefan commented on #224
I am surprised to find this issue still not solved.
I hoped that I found a workaround : go to **Publish** => **Deploy from manifest...** and you would see the clasp-created deployment in the entries. After deleting it successfully, it still did not reflect on the inability to deleted the version connected to it.

[2020-05-26 00:33] tofutim commented on #257
hi, I am using clasp 2.3.0 on mac and I have the situation where clasp commands hang at the prompt; after a while I give up and press Ctrl-C

[2020-05-26 07:54] PopGoesTheWza commented on #257
@tofutim can you try by building from PR #778 if there is any improvement?

[2020-05-26 07:55] PopGoesTheWza commented on #717
Can you try by building from PR #778 if there is any improvement?

[2020-05-26 07:58] PopGoesTheWza commented on #767
@Swopno1 can you provide the npm log file with the error?

[2020-05-26 08:09] PopGoesTheWza commented on #779
@Gauravshah I just did a test using #778 and the `appsscript.json` of the cloned script project do in fact have the correct `libraries` listed.

[2020-05-26 09:02] Gauravshah commented on #779
thanks @PopGoesTheWza

[2020-05-27 16:59] contributorpw commented on #767
@Swopno1

before anything what happens if you first call

[code]
?

[2020-05-27 17:11] contributorpw commented on #761
@bjohas @PopGoesTheWza

I can reproduce this step by step.

@PopGoesTheWza I can provide an access to my add-on / project for you.

[2020-05-27 17:44] contributorpw commented on #761
The related topic on the issue tracker https://issuetracker.google.com/issues/152070295

[2020-05-27 17:52] contributorpw commented on #771
So can you share any simple sample for reproduce this?

It would be great if you share your npm project or its derivatives.

[2020-05-27 17:55] contributorpw commented on #765
Could you wait #778 merging then return to this again?

[2020-05-27 18:07] contributorpw commented on #764
:thinking:

Sequelize is based on the nodejs platform. Before adding Sequelize as a part of you Apps Script project you have to port it to the Google Apps Script platform.

`clasp` can't help you here. `clasp` allows you to develop your Apps Script projects locally.

[2020-05-27 18:40] PopGoesTheWza commented on #771
@jayakrishnankg can you test the following:
- create en new projet with only appsscript.json and your .js.html file and clasp push
- if this configuration reproduce the issue, try to strip down the content of said .js.html file to the bare minimum to reproduce the error

[2020-05-27 18:43] PopGoesTheWza commented on #765
@bjohas are you pushing plain .js or .ts?

If its .js then catching the error would be nice to have.

[2020-05-27 18:51] PopGoesTheWza commented on #764
The only option available at the moment is [Apps Script Libraries](https://developers.google.com/apps-script/guides/libraries), which is neither CommonJS package nor ES module.

Porting sequelize to the library format does not sound like a good idea.

[2020-05-27 18:53] bjohas commented on #765
Plain .js, i.e., trying to push "V8-plain-js" into a non-V8 project. I'll look out for the PR merge and then trying again.

[2020-05-27 18:58] PopGoesTheWza commented on #765
#778 have a cleaner error handling architecture but there is probably not yet a user friendly catch for this case

[2020-05-27 20:23] bjohas commented on #765
OK, sure - I'll test again once https://github.com/google/clasp/pull/778 has been merged.

[2020-05-27 20:23] bjohas commented on #765
Thanks for working on `clasp`!

[2020-05-28 04:35] Gauravshah commented on #779
@PopGoesTheWza I tried the branch but I get following:

[code]

It did not clone the appscript.json's libraries

[2020-05-28 06:09] PopGoesTheWza commented on #779
That is the expected result.
The appsscript.json holds references to external libraries which are distinct projects. Source files of libraries are not retrieved.

[2020-05-28 06:27] Gauravshah commented on #779
@PopGoesTheWza may be I didn't explain it well. The issue with this approach is that external library codes are not downloaded hence auto-complete for library classes don't work.
For ex If I have `S3` lib in `appscript.json` and I try to use `S3.` I do not see any results

[2020-05-28 06:33] PopGoesTheWza commented on #779
I see what you mean. I benefit from auto complete by having a .d.ts for my libraries since I am coding with typescript.

[2020-05-28 06:45] Gauravshah commented on #779
have to manually generate each of those. also not all libraries are modules, so no export. Unsure how gas is doing it in the first place

[2020-05-28 08:08] PopGoesTheWza commented on #779
First avoid any `export`/`import` with GAS. Those are a lie and only add confusion, IMHO.

You may want to give a look at this [template of mine](https://github.com/PopGoesTheWza/ts-gas-project-starter) (which could benefit with some update) for multiple GAS projects and shared libraries.

Back to your original issue, one thing to try is organising your project like

- add a subfolder to hold clon

[2020-05-28 08:58] Gauravshah commented on #779
Yup started cloning all libraries into `lib/<appscript_userSymbol>` but still stuck with IDE having to understand that public functions referenced as `userSymbol.A()`
Tried looking but didn't find anything that would help us reference this for IDE

[2020-05-28 09:01] PopGoesTheWza commented on #779
I had started working on a project to generate .d.ts for libraries but had to stop due to limited free time...

[2020-05-28 09:04] Gauravshah commented on #779
I am new to typescript world. Will take stab at trying to understand `.d.ts` there are following generators:
https://github.com/mhelvens/js2tsd
https://github.com/Microsoft/dts-gen
https://github.com/ConquestArrow/dtsmake

[2020-05-29 10:52] PopGoesTheWza commented on #779
@Gauravshah Typescript compiler `tsc` can generate `.d.ts` declaration files from both `.js` and `.ts` files but those cannot be used as third party libraries without some transformation.
AFAIK, there is no automated generator available for this transformation.

[2020-05-29 14:21] Swopno1 commented on #767
@contributorpw

Get-Process : A positional parameter cannot be found that accepts argument 'npm'.
At line:1 char:1
+ PS C:\> npm cache clean --force
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Get-Process], ParameterBindingException
    + FullyQualifiedErrorId : PositionalParameterNotFound,Microsoft.PowerShell.Commands.GetProcessCommand

[2020-05-29 14:46] Swopno1 commented on #767
[2020-05-29T14_44_44_013Z-debug.log](https://github.com/google/clasp/files/4702454/2020-05-29T14_44_44_013Z-debug.log)

@PopGoesTheWza

Please, find the log file.

[2020-05-29 15:42] PopGoesTheWza commented on #767
Does the command « where npm » correctly resolve path to your npm executable?

[2020-05-29 15:43] PopGoesTheWza commented on #767
What does « npm —version » outputs?

[2020-05-30 08:57] Gauravshah commented on #779
thanks @PopGoesTheWza

[2020-05-30 08:57] #779 closed

[2020-06-02 21:19] #766 closed

[2020-06-03 07:01] joccing commented on #770
Hi Clasp Developer

I have not heard back from you re this.  Please let me know if this is a feature since it appears its not being handled.  Much thanks.

[2020-06-03 07:02] joccing commented on #770
Hi Clasp Developer,

May i know if there is a solution to this problem? or is it expected behaviour.

[2020-06-04 09:31] ocramz commented on #255
Just had the same problem as mageran, fixed by saving all Emacs buffers related to the clasp project.

[2020-06-04 18:31] kospl commented on #760
Created API feature request: https://issuetracker.google.com/issues/158177675
Feel free to "star" it.

[2020-06-12 11:53] khalilchoudhry commented on #12
@PopGoesTheWza is your fork or branch merged?

[2020-06-12 20:11] PopGoesTheWza commented on #12
@khalilchoudhry I happened to delete the fork on my repo... A mix of mistake and bitterness.

Hopefully in a couple of months I am likely to revisit how config files are handled and implement a better cleaner design.

At least with the latest refactoring PR here things are looking better.

There is still the issue of no one from Google G Suite team being available to deal with npm releases though.

[2020-06-14 22:09] khalilchoudhry commented on #12
ah, I was using it!

I can only wait then I guess.

Thanks!

[2020-06-14 22:26] PopGoesTheWza commented on #12
Sorry for that. If one has still a copy of that branch, I’d gladly restore it

[2020-06-15 20:00] kpoman commented on #63
after doing that step, the browser autoredirects to `https://script.google.com/a/macros/mydomain.com/s/{test_deployment_id}/exec`
and the page shows this error:

Sorry, unable to open the file at this time.
Please check the address and try again.

Would really like to get this working.

[2020-06-16 08:33] saito-ya opened #784 "clasp login` fails with `--creds` option"
## Expected Behavior
Success `clasp login --creds creds.json` and it is able to log in with my own credential.

## Actual Behavior
Run `clasp login --creds creds.json` and get the following error message.
[code]

## Steps to Reproduce the Problem

1. Go to APIs & Services > Credentials of my GCP project.
1. Create OAuth 2.0 Client IDs (with type of Desktop)
1. Download the credential json file
1.

[2020-06-23 08:06] kpoman commented on #63
Ok, I think I finally understood wtf was going on here. If you deploy a dev change, you need to specify also the description (example: clasp deploy -V 249 -d "web app meta-version" -i AKfycbwGoFhpo5qekznUEn9z4Crt9BtFz0ubDsjK9sNlcJz0xTroscdU) otherwise the web app meta-version tag get wiped and the app is not available for /dev anymore. Remember, when redeploying, add the -d parameter ! The documen

[2020-06-23 08:18] kpoman commented on #63
Apparently, when we execute clasp deploy, the command forgets to create an entry point to the webapp. See below:

Entry points after deploying from clasp:

[code]

Entry points after deploying from the Script Editor:

[code]
This is why we get a Drive Error when, after deploy from clasp, we try to enter the /dev page.

[2020-06-26 00:52] grimmigenaai commented on #58
![image](https://user-images.githubusercontent.com/44485200/85809395-efcbda80-b781-11ea-93b3-a528aaedee52.png)

[2020-06-26 20:37] PopGoesTheWza commented on #58
@grimmigenaai not sure if your issue is related to Microsoft Windows. What is the output of `clasp status`

[2020-06-27 02:35] grimmigenaai commented on #58
@PopGoesTheWza
![image](https://user-images.githubusercontent.com/44485200/85912791-68ea3100-b859-11ea-8faf-a9f41ba1ec62.png)

so, here is the answer: `clasp` picks up the `.gitignore` :)
**.claspignore**
![image](https://user-images.githubusercontent.com/44485200/85912768-57a12480-b859-11ea-8f43-d1b4f073b37b.png)

**.gitignore**
![image](https://user-images.githubusercontent.com/44485200/85912763

[2020-06-27 06:17] PopGoesTheWza commented on #58
@grimmigenaai Fact is... `.claspignore` is correctly detected and parsed. But the file matching that follow is broken.

I can trace down the change which introduced the problem to about a year ago (and I am to blame for that change)

I'll try to fix it in the coming week as I refactor this part of the code.

[2020-06-27 06:21] grimmigenaai commented on #58
w00t \:D/

[2020-07-01 02:44] patrickbdev commented on #524
Is there any update on this? This would be very useful.

[2020-07-01 13:54] ddomonkos opened #786 "Clasp push exits with code 0 when it fails"
Was there an intention behind catching the exception and not letting the process exit with a non-zero code?

See https://github.com/google/clasp/blob/master/src/files.ts#L373

The reason why this matters is that we are using clasp in our CI/CD and the pipeline appears ok even if it, in reality, fails.

In our case the push failed because ts2gas transpiled into ES2019 rather than ES3.

## Expected

[2020-07-07 10:21] Alvin-Seville opened #787 "Introduce an ability to run Google App scripts directly via vs code"
Introduce an ability to run Google App scripts directly via vs code for instance through new `clasp run` command. It is not convenient to be mandated to open Google App Script IDE to run scripts.

[2020-07-11 05:19] tricknotes opened #788 "`$ clasp run` exits with code 0 when it fails"
## Preparation

I put the following function on GAS.
[code]

## Expected Behavior

When I run the following on my laptop, I think the exit code should be non-zero value.

[code]

It is important to check result of function from CLI, CI, and so on.

## Actual Behavior

When I run the following on my laptop, the exit code is 0.

[code]

## Specifications

- Node version (`node -v`): v14.5.0
- Versio

[2020-07-14 21:00] PopGoesTheWza opened #791 "npm package `forked-clasp` 2.4.0 open for testing"
Pending folks from G Suite are available to update the npm `@google/clasp` package, I have published [forked-clasp@2.4.0](https://www.npmjs.com/package/forked-clasp) with reflect this repos `master` branch.

This publish is not meant to live long but to provide access to the latest version.

[2020-07-15 04:37] leeyspaul opened #792 "Add link to "see below" for setting up Project ID/Credentials"
DOC: It would be useful to add a hyperlink to the "see below" section for setting up Project ID/Credentials for the added commands.

Section here: https://github.com/google/clasp#advanced-commands-1

Link to section: https://github.com/google/clasp#projectid-optional

Could be labeled as a good first issue if people agree that it'd be useful!

## Expected Behavior
N/A

## Actual Behavior
N/A

## S

[2020-07-15 10:52] tricknotes opened #793 "`test/commands` are not tested on CI"
Since 3a1948c269dd5817a72b15ef23fb8ff6691ac11a, tests under `tests/commands` are not tested via `$ npm run test`.
The following diff enables tests, but it seems there are some failing tests...

[code]

[2020-07-15 11:44] PopGoesTheWza commented on #793
Good pick. Do you rather feel like opening another PR or include it in #789 ?

If when reenabling ignored tests, it reveals that some were broken, a separate PR is probably best.

My guess if that the entire test suite should be revisited, probably refactored, but it is not my strongest point.

[2020-07-15 18:51] PopGoesTheWza commented on #736
This peer dependency warn can probably be ignored and `@google/clasp` should work.

Alternatively, you can try the unofficial 2.4.0 build

[code]

Last, only `sudo` an npm install if it fails without sudo...

[2020-07-15 19:01] PopGoesTheWza commented on #786
@ddomonkos can you test with the #791 unofficial release?

[code]

[2020-07-15 19:02] PopGoesTheWza commented on #58
@grimmigenaai (and others) can you test with the #791 unofficial release?

[code]

[2020-07-15 19:06] PopGoesTheWza commented on #784
@saito-ya can you test with the #791 unofficial release?

[code]

[2020-07-15 19:07] PopGoesTheWza commented on #767
Can you test with the #791 unofficial release?

[code]

[2020-07-15 19:08] PopGoesTheWza commented on #765
Can you test with the #791 unofficial release?

[code]

[2020-07-15 19:09] PopGoesTheWza commented on #717
Can you test with the #791 unofficial release?

[code]

[2020-07-15 19:10] bjohas commented on #765
Thank you - will do and report back!

[2020-07-15 19:23] PopGoesTheWza commented on #748
Can you test with the #791 unofficial release?

[code]

[2020-07-15 19:25] PopGoesTheWza commented on #735
Can you test with the #791 unofficial release?

[code]

[2020-07-15 22:01] CrystalCo commented on #736
Thank you.  Ignoring the dependency warning turned out to be alright.  Had no issues using CLASP after installing it and didn't need to install the dependency.

[2020-07-15 23:25] plonibarploni commented on #717
I just tested it - there's no change in regard to this issue. However, it feels slower to perform any command.
It also ignores all files by default, which is not the current behavior.

[2020-07-16 01:52] tricknotes commented on #793
Thanks for your comment, @PopGoesTheWza
I'll make another PR.

[2020-07-17 02:50] leeyspaul opened #795 "`clasp logs --watch --simplifed` returns log with timestamp"
It's highly possible that I am doing something wrong. But I'm receiving the timestamps when passing in both flags of `--watch` and `--simplified`.

I am not sure if this is the behavior that was intended.

Thank you!

## Expected Behavior

[code]

## Actual Behavior

[code]

## Specifications

- Node version (`node -v`): v10.10.0
- Version (`clasp -v`): 2.3.0
- OS (Mac/Linux/Windows): Mac

[2020-07-19 15:11] julian-payne opened #796 "export const x = "y" converts to exports.x = "y" and fails to be imported at runtime."
```export const x``` does not work.
For example:

## Expected Behavior & Steps to Reproduce the Problem

in file 'constants.ts'
[code]

in file code.ts
[code]
Running main should log the Spreadsheet's name.

## Actual Behavior

I get the error `ReferenceError: SheetId is not defined`

## Specifications

- Node version: 14.5
- Version: 2.3.0
- OS Mac: Mojave

I believe this to be a bug. Known issue

[2020-07-21 05:01] leeyspaul commented on #770
I'm getting the same error. When it's a string it returns `0` when it's int it returns `No Response.`

[code]

[code]

[code]

[code]

Node version: `v10.10.0`
Clasp version: `2.3.0`

[2020-07-22 15:48] kospl opened #797 "`clasp setting projectId project-id-N` isn't applied to current clasp session"
## Expected Behavior
projectId is updated for current clasp session.

## Actual Behavior
projectId is not being updated for current clasp session.

## Steps to Reproduce the Problem

1. have `projectId` already set to `project-id-OLD`
2. run `clasp setting projectId project-id-N` to update Cloud Project ID
3. run `version "description"`
4. see new version is created for old `project-id-OLD` instea

[2020-07-22 17:51] kospl commented on #797
Sorry for false issue report, misinterpreted projectId and scriptId.

[2020-07-22 17:51] #797 closed

[2020-07-23 00:01] leeyspaul opened #798 "`clasp run` instructions for authentication are vague"
## Expected Behavior
When running `clasp run` without the proper scopes we need to set the scopes required. I would expect the instructions to either link to documentation in setting the scopes explicitly.

## Actual Behavior
Currently in the output when scopes are not set correctly we get the following (after running a `clasp helloWorld`:

[code]
This led me to going to `File > Project Properties

[2020-07-23 04:24] leeyspaul commented on #796
Not sure if this is related to `clasp` or the way `ts2gas` transpilation works. Can't say, as I don't know much about how that transpilation works.

I pushed up the code with the same files except I explicitly aded `exports` when calling `SheetId` which seemed to solve the issue.

Below is what rendered on my side when I pushed it up to a script project.

In `constants.gs`
[code]

In `code.gs`
[co

[2020-07-23 14:09] syzhakov commented on #796
It is not currently supported, but there are some workarounds in their docs:
https://github.com/google/clasp/blob/master/docs/typescript.md

[2020-07-24 08:01] elderfd opened #799 "Add command to delete Apps Script projects"
For testing + staging purposes we'd like to be able to spin up ephemeral Apps Script projects which exist only to test a PR. We can currently create the projects with `clasp create` but there is no matching `clasp delete` to clean up afterwards.

## Expected Behavior
There is a `clasp delete` command to delete the Apps Script project with a particular ID (or read from .clasp.json).

## Actual Beha

[2020-07-24 08:04] elderfd opened #800 "Add option to not ellipsize long script names in clasp list"
We have a number of Apps Script projects with long names. `clasp list` currently trims long names to a fixed width, so we are unable to use it to differentiate between scripts with the same prefix.

## Expected Behavior
There is a flag (`--noShorten`?) on `clasp list` to turn off the ellipsizing behaviour on long names.

## Actual Behavior
N/A

## Steps to Reproduce the Problem
N/A

## Specificati

[2020-07-25 01:48] julian-payne commented on #796
Well, in the doc's example, it does not what it claims to behave as:
[code]
But as we all know, `export` is not ignored.

Although @leeyspaul 's solution does work, you cannot have this on the local copy, so I decided to go with wrapping in a function:
[code]
The link to the thread does seem to be related. Thanks for pointing me to the thread.

Thank you all for the suggestion :D

[2020-07-26 09:47] syzhakov commented on #796
There is another trick that I've figured - you can declare the vars without `export` and in the end of the file add
`export {varX, varY}`

The thing is that appsscript expect it to be without export, but typescript needs this export to tell the compiler that those vars are intended (and allowed) to be imported somewhere else.
in appsscript, vars are anyways accessible in other files as they are gl

[2020-07-27 01:55] julian-payne commented on #796
NOICE. Thanks for sharing :)
I'm going to make the changes in my code.

[2020-07-27 01:55] #796 closed

[2020-07-27 08:05] kenyodev commented on #748
@PopGoesTheWza

Sorry I haven't checked this issue for a while.
The error went away after updating the node version to a higher one.

This was the solution for me.

[2020-07-27 17:48] bsubedi26 opened #801 "Multiple Scripts in one project"
## Overview
We're trying to use github to the store our google app script code in a single repo and use CircleCI to push push/deploy using clasp. We're storing each script code in its own directory as seen below. Please advise if there is a better way to do this.
[code]

I've got most of this working. However, when I attempt to change directory to the respective sub folder (`process.chdir(director

[2020-07-28 18:26] bsubedi26 commented on #801
Ignore this issue. I had to pass `clasp push --force` for the command to complete. Everything works as expected!

[2020-07-28 18:26] #801 closed

[2020-08-01 06:30] #787 closed

[2020-08-03 04:33] imthenachoman opened #803 "intermittent clasp push issues"
## Actual Behavior

I am getting intermittent errors with `clasp push`. Sometimes it will push fine, and sometimes I will get this error:

    Could not find script.
    Did you provide the correct scriptId?
    Are you logged in to the correct account with the script?

Like, I will run the command, it will push, then immediately run the command again and it will give that error. Then I'll keep ge

[2020-08-15 05:22] Swopno1 commented on #767
I just re-install my Windows and its working now. Thanks for your assitance.

[2020-08-15 05:22] #767 closed

[2020-08-15 19:13] leeyspaul opened #804 "Incorrect instructions when running clasp logs --setup"
## Expected Behavior

When running `clasp logs --setup` I'd expect including `project-id` into the input to be correct.

[code]

## Actual Behavior

[code]

Line: https://github.com/google/clasp/blob/master/src/messages.ts#L128

## Steps to Reproduce the Problem

1. Run `clasp logs --setup` and input the "project-id"

## Specifications

- Node version (`node -v`): v10.10.0
- Version (`clasp -v`):

[2020-08-18 04:22] imthenachoman commented on #803
Any luck/help on this? I'm getting these errors quite often. I will run it 50 times and get the error and then run it again and won't. I can't figure out what could be causing the error. Is there a way to debug?

[2020-08-20 05:21] vinusv commented on #717
While I have not looked at the latest unofficial release, I can confirm the behavior observed.
Time output is as follows:
[code]
Running Mac with `node v13.11.0` and `clasp 2.3.0`

[2020-08-25 19:37] enuchi commented on #791
Thanks for this @PopGoesTheWza . Any guidance from the Google team on when the next version of `@google/clasp` can be released? Looks like it's been a year since the `2.3` release and there are some features in the master branch that would be great to be able to use. Thanks!

[2020-08-30 14:31] NoSubstitute commented on #42
Is there hope of any progress soon?

[2020-08-31 09:44] danielo515 commented on #707
Wow, I just tried to setup a CI workflow and I was going to open a new issue asking what to do about the interactive login step.
So after setting up all the google project and that stuff this is indeed not supported. How long is this from being implemented? Is this considered or is it a won't do?

[2020-09-01 08:16] topherbuckley opened #805 "Avoiding Ctrl+c exits to every call"
## Expected Behavior
Running any call (e.g. `clasp push`) should push to the server, then exit, returning to the normal terminal prompt.

## Actual Behavior
Running any call (e.g. `clasp push`)  pushes correctly to the server, but the terminal remains unresolved, or unclosed properly. It is responsive, but will not return to the normal terminal prompt without forcefully exiting with Ctrl+c.

## St

[2020-09-02 07:04] CodingAlbert commented on #736
I received same error on macOS Catalina. Ignoring the dependency warning also turned out to be alright. I will be testing it further.

[2020-09-07 17:56] alexsapps opened #806 "Clasp push validation/compilation errors are inactionable without access to the compiled GS file."
When there is an error in my TypeScript code (a .ts file), clasp tells me an error message with a line number from the compiled .gs file. However the .gs file isn't uploaded due to the error, so there is no obvious place to look for the .gs file and hence no way to troubleshoot the error.

For example, the following code does not give me an error when I use `tsc` to compile it, and Visual Studio c

[2020-09-09 05:26] dacgray commented on #748
Same as @kenyodev

Needed to update node.

[2020-09-10 07:33] #748 closed

[2020-09-14 11:00] elderfd opened #808 "`clasp versions` only returns at most 200 versions"
## Expected Behavior
All versions of a script are listed when I run `clasp versions`.

## Actual Behavior
Only the first 200 versions are listed.

## Steps to Reproduce the Problem

1. Have a script with over 200 versions
1. Run `clasp versions`
1. See that output is missing most recent versions

## Specifications

- Node version (`node -v`): 14.5.0
- Version (`clasp -v`): 2.3.0
- OS (Mac/Linux/Wi

[2020-09-14 11:01] elderfd commented on #808
Perhaps we could add some options to `clasp versions` to limit the number of results? Also possible whether to truncate new or old versions.

[2020-09-16 13:37] connorhu opened #809 "getAllProjectFiles() ignore every file"
There is a missing getApiFileType function call.
https://github.com/google/clasp/blob/377ead1312dc3e2c89729f2bb4b08a985dd877a5/src/files.ts#L85

[2020-09-17 19:01] tombohub commented on #736
How can we remove this error for now?

[2020-09-17 22:16] imthenachoman commented on #717
Just checking on this. Is there anything we can do to help debug. Is there a way I can see on what line in the code-base clasp is getting hung at?

[2020-09-20 13:30] imthenachoman opened #810 "What execution policy should be set for clasp to work on Windows 10?"
## Expected Behavior

Clasp should run.

## Actual Behavior

I am getting the following error when trying to run Clasp on a Windows 10 machine. I am trying to find the most secure execution policy I can set to get Clasp to work. Maybe there is a way to just allow Clasp?

    PS C:\Users\nacho> clasp --version
    clasp : File C:\Users\nacho\AppData\Roaming\npm\clasp.ps1 cannot be loaded. The file

[2020-09-26 14:38] kospl commented on #42
[code]
unfortunately, this workaround doesn't work anymore as of `2.3.0` version:

[2020-10-02 15:43] imthenachoman opened #811 "clasp should not try to push if GaxiosError fails because of SyntaxErrors"
## Expected Behavior

`clasp` should not try to push the code if `GaxiosError` fails because of `SyntaxErrors`

## Actual Behavior

`clasp` spits out that GaxiosError failed because of SyntaxErrors and then pushes the code.

Below we can see that there are syntax errors, yet it still pushed. I would think/expect that if there are syntax errors then it would not try to push -- no point.

[code]

##

[2020-10-07 20:28] plonibarploni commented on #717
I haven't been using `clasp` or Google Apps Script for a while, but I just had to come back to an old project and (without updating `node` or `clasp`) it now returns to the prompt immediately, without hanging.

[2020-10-07 21:54] imthenachoman commented on #717
@plonibarploni What version are they? I am still having issues and I am using the latest everything.

[2020-10-08 03:43] plonibarploni commented on #717
@imthenachoman I posted them [earlier](https://github.com/google/clasp/issues/717#issuecomment-628747248): `node` version v10.19.0 and `clasp` version 2.3.0.

[2020-10-08 04:20] ricardosllm commented on #225
+1
Looking to setup a CI pipeline that is able to do `clasp push` without sharing a (g suite) user's `.clasprc.json` with the CI pipeline, I find this pretty standard eg: AWS, and after 2 years this issue is still open...

[2020-10-08 10:16] fmpanelli commented on #811
I have the same problem.

Additionally, I cannot find the pushed version of the scripts at script.google.com.

It seems the scripts are not really pushed anywhere.

[2020-10-08 13:46] cattermo commented on #483
I'm still running 1.7.0 due to this feature missing...

[2020-10-19 13:25] thinca opened #812 "Are there any plans to release a new version to fix the vulnerabilities?"
With `npm install @google/clasp`, `npm audit` reports vulnerabilities.

[code]

This problem is already solved with the HEAD of this repository.

The current version 2.3.0 was released about 1 year ago.

Are there any plans to publish a new version?

[2020-10-28 08:11] leopragiclevero commented on #761
@lukas1994

Whatever solution you mentioned here and on the original issue (https://github.com/enuchi/React-Google-Apps-Script/issues/29) did not work for me.

**Steps:**
1. I compiled the project with webpack (Using React) and pushed it to clasp `clasp push`
2. Then I do deploy the new version and it created a new version (say 210) `clasp deploy -d`
3. Now I go to UI File -> Manage Versions -> Sa

[2020-10-29 17:33] mgrazebrook opened #813 ""clasp log" incorrectly reports 'The projectId "x" looks incorrect'"
## Expected Behavior

The project ID is valid. I'm a newb so I don't know what 'clasp logs' _should_ do.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

$ clasp logs

## Specifications

- Node version (`node -v`): v15.0.1
- Version (`clasp -v`): 2.3.0
- OS (Mac/Linux/Windows): Mac / Darwin

## Further information:
I imagine it's failing here since the ID won't match the regular exp

[2020-11-03 19:01] meeple142 commented on #85
While this is not official Google documentation here is the line of code that has their client ID. https://github.com/google/clasp/blob/master/src/auth.ts#L50

[2020-11-03 22:04] imthenachoman commented on #85
Is there anyway to get the App ID added to some kind of official Google approved documentation? Many organizations have super tight security requirements and can't/won't authorize random App IDs they see in source code files. They need to see something official saying that is the App ID so there is accountability. Something that shows `1072944905499-vm2v2i5dvn0a0d2o4ca36i1vge8cvbn0.apps.googleuser

[2020-11-03 22:31] meeple142 commented on #85
Should we add a new issue referencing this issue because this issue is close?

[2020-11-11 18:01] jackhartnett commented on #58
I am still experiencing this issue on version 2.4.0.

I'm using a sample .claspignore file from the documentation.  This has been an extremely frustrating morning to say the least.

[2020-11-14 14:52] redbar0n commented on #66
I just got this bug when I tried `clasp push` having a `.claspignore` file in my repo. But deleting the `.claspignore` file made it work again.

[2020-11-21 12:04] shunexe opened #814 "Cannot read property 'expiry_date' of undefined - v2.3.0"
Hi,there.
I tried to run  the following code on Github Actions.
However, it always fails at "push"job.
And I got this error though I have this property "expiry_date" in my .clasprc.json .
I tried to do the same thing on CircleCI with a different code but I failed and got the same error.
Does anyone know the solution to this problem?

↓Error
**Cannot read property 'expiry_date' of undefined**
![ima

[2020-11-21 12:13] ironkicka commented on #814
This code is for CircleCI. I got the same error,though

[code]

[2020-11-30 13:38] khalilchoudhry commented on #12
@PopGoesTheWza Hey, any hope? Will it be merged or fixed any time soon?

[2020-12-04 18:35] waterlava commented on #736
Same issue here on Windows 10 (2004),
node version: v14.15.1
version: 2.3.0
2020-12-04

[2020-12-14 12:21] #788 closed

[2020-12-14 12:23] #800 closed

[2020-12-14 12:30] #793 closed

[2020-12-14 19:51] PopGoesTheWza commented on #736
This is a warning that can be safely ignored.

Also you can try this forked npm package
https://www.npmjs.com/package/forked-clasp
or from the github repository
https://github.com/PopGoesTheWza/clasp/tree/forked

[2020-12-14 19:53] PopGoesTheWza commented on #12
@khalilchoudhry I'm struggling for some free time to get back on this issue.

[2020-12-14 19:55] PopGoesTheWza commented on #814
I have no clue... :/

[2020-12-14 19:58] PopGoesTheWza commented on #58
@jackhartnett Please clarify the status on this issue

[2020-12-14 20:00] PopGoesTheWza commented on #813
@mgrazebrook can you suggest what the RegEx should be?

[2020-12-14 20:06] PopGoesTheWza commented on #812
Try this forked npm package
https://www.npmjs.com/package/forked-clasp
or from the github repository
https://github.com/PopGoesTheWza/clasp/tree/forked

It looks like I am the only maintainer at the moment. No one from Google seems available for a new release.

[2020-12-14 23:51] PopGoesTheWza commented on #12
Try https://www.npmjs.com/package/forked-clasp version 2.7.0

[2020-12-17 12:06] michaelu123 opened #818 "MimeType problems with TS and GAS"
In GAS, code.gs, I had `...folder.getFilesByType(MimeType.PDF)`. After converting this to code.ts in VSCode, MimeType is flagged as undefined. I can write `...folder.getFilesByType(GoogleAppsScript.Base.MimeType.PDF)`. Now MimeType is defined, but the enum PDF cannot be assigned to a string (getFilesByType has signature getFilesByType(mimeType: String)).  When I write `...folder.getFilesByType(Goo

[2020-12-17 22:19] mgrazebrook commented on #813
I'm sure you know the format of project IDs better than I. However the first thing that strikes me is the regex requires [a-z] as the starting character but my ID starts with a digit. However (as noted in my description) either I'm looking for the wrong ID or the terminology (the message asks for a projectID, whereas there's no such thing in the properties), so the other possibility is that I don'

[2020-12-19 15:43] atti187 opened #819 "Support for developing using ES Modules"
## Expected Behavior
Documentation describing a setup where one can use ES Modules (import/export-statements)

## Actual Behavior
Currently not in scope

## Steps to Reproduce the Problem

N/A

## Specifications

PR is coming...

[2020-12-22 21:13] tmc opened #821 "typescript types for services"
It doesn't appear that `@types/google-apps-script` has types for `DocumentApp`, `SpreadsheetApp`, etc.

Are these available/published anywhere?

[2020-12-22 21:17] PopGoesTheWza commented on #819
I could merge PR with more feedback from users.

[2020-12-23 03:05] contributorpw commented on #819
Why not? It's clean and it's in a separate documentation file.

If I can get my `+1`

[2020-12-23 03:19] contributorpw commented on #821
You need to use this as a part of your npm project. There is no a clasp dependencies.

https://www.npmjs.com/package/@types/google-apps-script

Also you can define global entry pointers for your eslint settings https://github.com/selectnull/eslint-plugin-googleappsscript (if you're using)

As for the `class` itself it works in an environment other than Google Apps Script and it doesn't have access

[2020-12-23 09:02] PopGoesTheWza commented on #821
`@types/google-apps-script` issues should be discussed under https://github.com/DefinitelyTyped/DefinitelyTyped

You may give a look at this template https://github.com/PopGoesTheWza/ts-gas-project-starter for setup.

[2020-12-29 08:02] zedug opened #822 "@takanakahiko I think so. Closing."
@takanakahiko I think so. Closing.
Re-open if this is still an issue.

_Originally posted by @grant in https://github.com/google/clasp/issues/176#issuecomment-457738200_

[2021-01-04 09:59] seeker1983 commented on #35
I'm getting this on clasp 2.3.0 / OSX 10.13.6.

Can anyone explain what the error is about and how to workaround this?

[2021-01-04 13:58] awolfa opened #823 "Step 4 Is Missing a Step"
## Expected Behavior
That step covers what is missing

## Actual Behavior
 I followed the directions.  But there is a step required that is not covered in section 4  See Pic
![GoogleProject](https://user-images.githubusercontent.com/33202696/103542209-9a783080-4e6a-11eb-9f4c-2570803f917c.PNG)

The prompt is asking me to choose something that Step 4 does not cover.

## Specifications

- Node versio

[2021-01-07 09:36] everspader opened #824 "Avoid creating .clasp.json when a clone fails or overwrite the file every time"
## Expected Behavior
DO NOT create a `.clasp.json` file when a `clasp clone` command fails for some reason, for example, invalid ScriptID or login. This means that if the issue is fixed, and the clone is run again, it will fail because there's already a `.clasp.json` file in the directory.

## Actual Behavior
A `.clasp.json` file is created whenever a `clasp clone` command is run regardless of the

[2021-01-07 10:05] everspader opened #825 "@types/google-apps-script installed but not recognized on VSCode"
## Expected Behavior
When I install the Typescript autocompletion via `npm` package, it is not properly recognized on VSCode, no matter in which level (current or parent directory) I install it.

## Actual Behavior
Typescript autocompletion not being recognized by VSCode
[code]

## Steps to Reproduce the Problem

1. `npm i @types/google-apps-script`
1.

## Specifications

- Node version (`node -v`

[2021-01-07 12:37] contributorpw commented on #825
The `clasp` has nothing to do with `@types`.

Before anything check you have an installed TS Server in your current environment

[code]

Install it if it's no there. There are many ways. I'm using independent local installations like

[code]

Another issue can fired with VS Code extensions. Try all of your stuff in

[code]

Beware your environment should be clear for you.

[2021-01-07 14:56] contributorpw commented on #824
I think overwriting the file as a common task would be fine too.

Unfortunately only `push` command has `--force` argument still.

[2021-01-19 21:40] barbaraborges commented on #507
I also just tried with no success :(

[2021-01-20 11:41] guywithacube commented on #795
After doing some cursory git-blaming from within Github, I believe this issue was introduced by https://github.com/google/clasp/pull/778, though, I may be incorrect.

[2021-01-29 02:46] imthenachoman commented on #805
There seem to be multiple issues for the same thing. I am sure there are more but I can't find all of them. Not sure which one we want to be primary so I am posting this in all of them. Any resolution or idea what is wrong?

- https://github.com/google/clasp/issues/805 (this one)
- https://github.com/google/clasp/issues/717
- https://github.com/google/clasp/issues/257

[2021-01-29 02:46] imthenachoman commented on #717
There seem to be multiple issues for the same thing. I am sure there are more but I can't find all of them. Not sure which one we want to be primary so I am posting this in all of them. Any resolution or idea what is wrong?

- https://github.com/google/clasp/issues/805
- https://github.com/google/clasp/issues/717 (this one)
- https://github.com/google/clasp/issues/257

[2021-01-29 02:46] imthenachoman commented on #257
There seem to be multiple issues for the same thing. I am sure there are more but I can't find all of them. Not sure which one we want to be primary so I am posting this in all of them. Any resolution or idea what is wrong?

- https://github.com/google/clasp/issues/805
- https://github.com/google/clasp/issues/717
- https://github.com/google/clasp/issues/257 (this one)

[2021-01-29 10:48] gloriamacia commented on #705
I see clasp installed in C:\Users\maciamug\AppData\Roaming\npm but the workaround above does not work for me! :-(

[2021-02-03 03:50] topherbuckley commented on #805
Sorry, I hanve't touched this since I posted back in Sept 2020 with no plans to return to this as Apps Script was too buggy for my purposes.

[2021-02-03 04:37] imthenachoman commented on #805
I hear ya. I love how much you can do with it but it has so many one off issues that prevent it from being a full fledged solution platform. I wish Google invested more time/resources on it. Either way, I just wanted to let the devs of `clasp` know there are numerous other folks raising this particular issue.

[2021-02-04 20:52] Nu11u5 commented on #811
The GaxiosError is actually a response from script.google.com.  After pushing the file GAS will perform a syntax check and reject any invalid pushes.

[2021-02-04 20:55] Nu11u5 commented on #825
Did you prepend your .js files with `// @ts-check`?  Otherwise VSCode will not perform typescript autocompletion on .js files.

[2021-02-04 21:16] Nu11u5 opened #827 "Suppress GaxiosError object dump"
## Details

When `clasp push` is run with project files containing invalid syntax, a stack trace is output to stderr.  The stack trace contains the full error object including the HTTP request and response objects, headers, authorization tokens, and the appsscript file content itself (which can be quite lengthy).  This is extremely verbose, leaks credentials to the terminal, and causes performance

[2021-02-04 21:21] Nu11u5 commented on #827
As a workaround, stderr can be redirected to null, but this also hides the general error information.

Windows: `clasp push 2> nul`
Linux: `clasp push 2> /dev/null`

[2021-02-04 21:45] Nu11u5 commented on #827
### Example error (anonymized)

[code]

[code]

[2021-02-04 23:15] imthenachoman commented on #811
Isn't the GaxiosError check done **before** the push?

[2021-02-05 01:17] Nu11u5 commented on #811
Well the HTTP response is right there in the error object.

[2021-02-05 01:43] imthenachoman commented on #811
I will show myself the door.

Sorry!

[2021-02-05 01:44] #811 closed

[2021-02-12 17:09] ChaddPortwine commented on #742
I had `clasp run setProperty -p ["domain" "mydomain.com"]` working a few days ago. It was great.

Now, I cannot find the proper JSON format. I read [here](https://github.com/google/clasp/issues/467) to use "...space-separated array of values such...".  So I don't know what could have gone wrong?

Here is what I tried:

[code]

Node  v8.11.1
Clasp v2.3.0
MacOs BigSur v11.2.1

[2021-02-12 17:32] ChaddPortwine commented on #742
Also, there is a difference between zsh and bash error responses

Run with zsh
[code]

Run with bash
[code]

[2021-02-19 09:29] progettazionemauro commented on #379
Suppose that you are managing the project in VSC. Here the fatastic things that you can do with CLASP:
1) I have a GAS project with (let's say) ID "A" after clasp login you can clone the project from GAS to VSC with clasp clone ID ("A")
2) I have a GAS project with ID "A" after clasp clone in VSC you can pull (from inside VSC) the project from GAS to VSC with clasp pull
3) I have a GAS project wit

[2021-02-19 09:41] #819 closed

[2021-02-19 10:07] PopGoesTheWza commented on #805
Out of curiosity, do the issue also occurs when using `npm install -g forked-clasp` instead of `npm install -g @google/clasp`?

forked-clasp is an npm package built from https://github.com/PopGoesTheWza/clasp/tree/forked which includes many changes/fixes and was heavily refactored.

[2021-02-20 02:46] imthenachoman commented on #805
Do I need to uninstall @google/clasp first?

[2021-03-05 22:19] grant commented on #791
Hi @PopGoesTheWza,

Can you please revert the following README changes:

- title: should `clasp`, not `clasp (forked)`
- badges
- notice: "This is an unofficial publish"

You may make a note of the latest release on `forked-clasp` in a note on the README, but please do not modify any other part of the readme as this is a Google repo. You're free to maintain this library and publish updates via the

[2021-03-05 22:27] PopGoesTheWza commented on #791
@grant I must have made a mistake when merging branches on my forked repos. It was not intended to affect the upstream (google/clasp), especially for it has many  changes you might not agree on.

I wish I could revert the last commit... but don't know how.

Please advise.

[2021-03-05 23:24] grant commented on #791
Ok I'll figure it out, don't worry. Have a good weekend

[2021-03-07 09:56] PopGoesTheWza commented on #805
@imthenachoman yes. Uninstall google/clasp globally before installing forked-clasp

[2021-03-07 10:22] PopGoesTheWza commented on #827
@Nu11u5 can you make a PR for this?

[2021-03-07 10:41] PopGoesTheWza commented on #825
@everspader indeed, types packages are not related to ˋgoogle/claspˋ

Have a try with this project template which has GAS types enabled in vscode.

https://github.com/PopGoesTheWza/ts-gas-project-starter

[2021-03-07 11:10] PopGoesTheWza commented on #795
This issue cause is likely here:

https://github.com/google/clasp/blob/ee70a6ae743d3b28b27b2c5cc6ca3e70c64f465b/src/commands/logs.ts#L212-L215

These lines are run every time ˋfetchAndPrintLogsˋ is invoked.

That part of the code would need some revision so that under ˋwatchˋ option it only displays once.

Anyone wants to draft a PR?

[2021-03-07 13:30] PopGoesTheWza commented on #791
Hey @grant, I believe I correctly reverted unintentionnal merge.

Please double check and let me know if I was correct.

[2021-03-07 16:58] grant commented on #791
Thanks for reverting.
I don't have access to this repo's settings anymore and can't help here. :(

[2021-03-07 17:36] PopGoesTheWza commented on #791
This is somewhat silly... no one for releases... no one to reconnect Travis...

[2021-03-15 17:15] imthenachoman commented on #805
`forked-clasp` still has the same issue.

It pushes the files and then sits for 30+ seconds.

[code]

[2021-03-15 17:30] PopGoesTheWza commented on #805
@imthenachoman but it exits normally after the "sitting" time, right?

[2021-03-15 17:53] imthenachoman commented on #805
Yes -- but that is the same experience with normal clasp. The clasp calls do their thing and then just sit. Been trying to find out why that is and how to fix it.

[2021-03-15 17:58] PopGoesTheWza commented on #805
Without a windows system to test, it is difficult for me to find why it "hangs" for a while before exiting

[2021-03-15 18:02] imthenachoman commented on #805
It happens on my MacOS system too. It's happening on both Windows and MacOS for me.

[2021-03-15 23:21] takanakahiko commented on #791
It's been a while.

While Google recommends the use of clasp in its various documents, clasp has become a product with security issues due to its inability to update dependencies.
Also, if it cannot be published by Googler, I think that the provision of releases should be automated by CI.
If you're not comfortable with PopGoesTheWza managing the project alone, I'm happy to go back to being a contr

[2021-03-16 15:09] nilp0inter commented on #805
I am experiencing the same issue on Linux (using nixpkgs stable version: v2.2.1).  It seems to affect only to subcommands that actually make calls to the server.

[2021-03-16 18:45] PopGoesTheWza commented on #805
My guess is that there are some unresolved promises/async functions which keeps the application from returning immediately. During previous refactoring I did focus on such issues, but obviously there is still some loose ends.

[2021-03-16 18:48] PopGoesTheWza commented on #791
@takanakahiko restoring TravisCI and improving/fixing tests would be a good start. Since these are not my strongest points, I have not even worked on this on my own fork.

[2021-03-16 18:53] imthenachoman commented on #805
I have not looked through `clasp` code as it is out of my depth but is there any debug flag we can use to get more verbose output? What I'm trying to figure out is exactly what function/call/line the code is "hanging" on.

[2021-03-16 19:05] PopGoesTheWza commented on #805
We can try adding https://www.npmjs.com/package/why-is-node-still-running or https://www.npmjs.com/package/why-is-node-running on my fork so that I can release a version with information about what is delaying the exit.

[2021-03-16 19:26] nilp0inter commented on #805
Sounds like a plan! I volunteer to test it out.

[2021-03-16 20:48] PopGoesTheWza commented on #805
@imthenachoman @nilp0inter you can try https://www.npmjs.com/package/forked-clasp/v/2.8.0

it has the option `-W` or `--why` which will log what is still running upon exit.

i.e. `clasp version --why`

[2021-03-16 22:44] PopGoesTheWza commented on #827
@Nu11u5 Just to be sure the issue still exist, can you try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced?

[code]

[2021-03-16 22:46] PopGoesTheWza commented on #824
@everspader  Just to be sure the issue still exist, can you try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced?

[code]

[2021-03-16 22:48] PopGoesTheWza commented on #822
@zedug  Just to be sure the issue still exist, can you try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced?

[code]

[2021-03-16 22:51] PopGoesTheWza commented on #814
@ironkicka  Just to be sure the issue still exist, can you try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced?

[code]

[2021-03-16 22:54] PopGoesTheWza commented on #812
Just to be sure the issue still exist, can you try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced?

[code]

[2021-03-16 23:06] PopGoesTheWza commented on #795
@leeyspaul   Just to be sure the issue still exist, can you try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced?

[code]

[2021-03-17 07:46] takanakahiko commented on #791
Travis CI will be difficult to manage in the future without Googler privileges, so it seems better to consider switching to the method using GitHub Actions, I will investigate.

[2021-03-17 08:41] PopGoesTheWza commented on #791
@takanakahiko I can invite you on my fork if you think it might help.

[2021-03-17 19:37] nilp0inter commented on #805
@PopGoesTheWza Here is the log of running `clasp list --why` on my machine: https://gist.github.com/nilp0inter/13f29a38fd8ec0d569081ef23e5cf4a3

The behavior is the same.  The command runs and produces all the output you see in the log in about 2 seconds, then it sits still for about 70 seconds, then it exits.

I hope this helps.  Please, let me know if you require further tests.

[2021-03-17 20:04] PopGoesTheWza commented on #805
@nilp0inter Your output is nearly identical to mine... (macos big sur, immediate exit)

[2021-03-17 20:31] PopGoesTheWza commented on #805
@nilp0inter Can you try forked-clasp 2.8.1? There is now a new option `-X` `--force-exit` which explicitly invoke `process.exit()`

[2021-03-17 20:39] nilp0inter commented on #805
I executed `clasp list -X`, the process exited too early not producing any output.

I executed again adding `--why` resulting in this output: https://gist.github.com/nilp0inter/2ce26a50e2fd3c706724b9be130d6505

[2021-03-18 02:48] imthenachoman commented on #805
@PopGoesTheWza Are you saying you don't see the delay on your system? I'm seeing it on every system I have.

[2021-03-18 04:53] PopGoesTheWza commented on #805
I never experienced any significant, noticeable delay. Maybe up to 2 seconds on some rare occasions. Typically I'm using LTS node (i.e. 14.x atm) from bash/zsh on latest macOS.

[2021-03-18 06:53] takanakahiko commented on #791
@PopGoesTheWza
I'm skeptical about using forked-clasp.
The work for forked-clasp is meaningless with the recovery of clasp (not forked).
I think it's better to wait for a reply from Googler before taking action.

[2021-03-18 08:22] PopGoesTheWza commented on #805
I was able to test `login` and `list` commands on a Windows 2019 server... no delai before clasp exits.

[2021-03-18 08:28] nilp0inter commented on #805
May this be a configuration issue in our end (or Google's end) instead of a bug?

[2021-03-18 11:38] imthenachoman commented on #805
Is there a way to make a trimmed down version of clasp push or some command to see if it does the same thing? I don’t know NodeJS or what clasp code does to try to create it.

[2021-03-18 17:15] nilp0inter commented on #805
This change fixed the issue for me https://github.com/google/clasp/pull/828

[2021-03-18 19:37] PopGoesTheWza commented on #805
@nilp0inter @imthenachoman please give a try to this release https://github.com/PopGoesTheWza/clasp/releases/tag/2.8.2

[code]

Then add the `-X` option if you want to force exit:

[code]

P.S.: I tried MacOS Catalina & Big Sur as well as Windows Server 2019 without experiencing this issue.

[2021-03-18 20:47] nilp0inter commented on #805
@PopGoesTheWza, now it works.

Are you considering adding this -X flag to the command? If you are, I suggest using an environment variable instead so the users don't have to change every single automation they have already in place.

[2021-03-18 21:07] PopGoesTheWza commented on #805
@nilp0inter the  `-X` / `--force-exit` will likely stay until we identify the root cause for this issue.

`forked-clasp` already has a few environment variables (https://github.com/PopGoesTheWza/clasp/blob/forked/docs/config-files.md#environment-variables) but they are oriented towards handling configuration files.

I have considered also having a `force-exit` property in `clasp.json`... but until

[2021-03-18 22:10] imthenachoman commented on #805
As a developer I do not like/support band-aid solutions. I wish I knew Node.JS cause then I could try to help debug. If I could, the first thing I would do is create a minimized version of a `clasp` command -- a single script that does what `clasp ...` does. If this minimized version has the same issue then it'll be easier to debug.

[2021-03-18 22:11] imthenachoman commented on #805
Is there a way to see the call trace/log/dump for a clasp command? Maybe I could use that to create a minimized version?

[2021-03-18 22:19] PopGoesTheWza commented on #805
@imthenachoman since I failed to reproduce the issue on 3 distinct systems, I am unsure the issue is clasp itself

I just released `forked-clasp` 2.9.0 which may have more useful information from the `-W`/`--why` option

Does the issue occurs with every commands?

[ ] `clasp --version`
[ ] `clasp login --status`
[ ] `clasp list`
etc.

[2021-03-19 00:29] imthenachoman commented on #805
I agree. But it’s a hard thing to debug. That’s why I’m trying to get a minimized version.

I will check.

Out of curiosity, what kind of Google account do you have? I’m having the issue on both Enterprise and personal/free.

I’m trying to get a local build environment for clasp. If I can get it running I will try to do some debugging. I’ll just throw output to STDOUT to see if I can figure it out

[2021-03-19 00:39] nilp0inter commented on #805
@PopGoesTheWza, Here are the results of executing `forked-clasp` 2.9.0:

I marked the commands where the issue appears:

- [X] `clasp login --status`
- [X] `clasp pull`
- [X] `clasp push`
- [X] `clasp status`
- [X] `clasp deployments`
- [X] `clasp deploy`
- [X] `clasp undeploy`
- [X] `clasp versions`
- [X] `clasp list`
- [ ] `clasp help`
- [ ] `clasp paths`
- [X] `clasp create`

Here you have the

[2021-03-19 02:18] imthenachoman commented on #805
@PopGoesTheWza You are in France, right? I wonder if this is a geographic issue? Or maybe something linked to your account? Do you have another Google account you can try with to see if you do or don't get the issue?

I have tried a few different accounts and all of them have it.

[2021-03-19 08:26] PopGoesTheWza commented on #805
@imthenachoman @nilp0inter I am wondering if the node version, and how it was install could relate why the issue.

On MacOS, my node is always installed using `nvm`.

[code]

On Windows Server 2019, nodee is installed manually:

- unzip `node-v14.15.4-win-x64.zip` to `C:\SomeFolder\node-v14.15.4-win-x64`
- declare the system environment variable `NODE_PATH` to `C:\SomeFolder\node-v14.15.4-win-x64`

[2021-03-19 08:34] PopGoesTheWza commented on #805
`clasp` basic commands like `help`, `paths` and `settings` do not seem to trigger the delay. Those typically have little if any network interaction. Could some network setting/software/device be in cause? (I use clasp with and without  corporate vpn, and corporate anti-virus is running on all the systems I tested)

I use a couple of free Google accounts.

[2021-03-19 08:57] nilp0inter commented on #805
@PopGoesTheWza a bit more info about my setup:

OS: Arch Linux
[code]

My node version is installed via the standard Arch method, using `pacman -S`.

I'll try to reproduce the issue in a clean docker container today.

[2021-03-19 09:06] nilp0inter commented on #805
@imthenachoman , @PopGoesTheWza  Yes, that's it!! I am able now to reproduce/non-reproduce the issue at will.

My network has a firewall restriction to disallow connections to extraneous DNS servers.  So no UDP/TCP connection can be made from my network to the internet.

When I disable the firewall rule `clasp` the issue disappears.

So it looks that some part of the code is performing a DNS query

[2021-03-19 09:29] PopGoesTheWza commented on #805
@nilp0inter out of curiosity, can you reproduce the issue using only https://github.com/sindresorhus/is-online-cli

I have little time available until after the weekend, so whatever information @imthenachoman and you can put together on:

- confirming firewall as the root cause
- identify best approach to solve or workaround it

will be much appreciated.

[2021-03-19 09:48] PopGoesTheWza commented on #805
@imthenachoman @nilp0inter please have a look at this issue. It looks like related https://github.com/sindresorhus/public-ip/issues/15

[2021-03-19 10:12] nilp0inter commented on #805
@PopGoesTheWza I cannot reproduce the issue using `is-online`.  This is the result of running it on my machine:

[code]

To **confirm the DNS connections as the root cause** I sniffed the network with and without the firewall rule in place.
My network is `10.4.1.0/24`, my laptop is `10.4.1.105` and my local DNS server is `10.4.1.1`.

This is the network capture WITHOUT the DNS block rule:
![image]

[2021-03-19 10:54] nilp0inter commented on #805
@PopGoesTheWza To further confirm that `public-ip`/`is-online` is causing the issue I removed the call to `isOnline()` in here:

https://github.com/google/clasp/blob/4464f73465dd9697ae22fab81c42370ca98232c6/src/utils.ts#L172

and replaced it with `true`.  The issue disappeared immediately.

In the documentation https://github.com/sindresorhus/is-online#how-it-works they mention that `is-online` tr

[2021-03-19 12:56] imthenachoman commented on #805
Is there a forked version I can try to install? I can't seem to get it to compile on my machine (some Node error that I can't figure out). I also can't compile from source on work machine. If there is a forked version I can try that.

[2021-03-19 14:30] PopGoesTheWza commented on #805
[code]

You should get version 2.9.0 with `-W` and `-X` options.

I'll try to put up a release which address the `is-online` package issue asap.

[2021-03-19 17:33] PopGoesTheWza commented on #805
@imthenachoman @nilp0inter maybe switching to `is-reachable` with specific addresses is a better option? https://github.com/sindresorhus/is-online/issues/61#issuecomment-537118653

[2021-03-19 17:48] nilp0inter commented on #805
@PopGoesTheWza,

Personally I think that the whole concept of trying to detect if there is an Internet connection is not very sound.
There is always going to be an scenario in which the check can fail or report the wrong information.
Even if the check success, the connection can be dropped after the test and before the actual operation.  There is an inherent race condition.

Given that it's easier

[2021-03-19 18:37] PopGoesTheWza commented on #805
@imthenachoman @nilp0inter most if not all online operations rely on `www.googleapis.com`, `script.google.com`, `console.developers.google.com`, `console.cloud.google.com` and `drive.google.com`

So dropping `is-online` for `is-reachable` while checking the above set of addresses, while maybe not perfect, could be a reasonable alternative?

Should @grant or @takanakahiko be available, I'd like to

[2021-03-19 18:58] PopGoesTheWza commented on #805
@imthenachoman @nilp0inter I released forked-clasp 2.10.0 on npm: https://github.com/PopGoesTheWza/clasp/releases/tag/2.10.0

Please give it a try.

[2021-03-19 19:06] nilp0inter commented on #805
@PopGoesTheWza is not working for me:

[code]

[2021-03-19 19:23] PopGoesTheWza commented on #805
Fixed in https://github.com/PopGoesTheWza/clasp/releases/tag/2.10.1

[2021-03-19 19:31] nilp0inter commented on #805
It appears to work now

[2021-03-19 19:33] PopGoesTheWza commented on #805
@nilp0inter like? No more issue? No delayed exit? No need for `-X`? Not feeling grateful for fix? ;)

[2021-03-19 19:38] nilp0inter commented on #805
Sorry, I didn't want to sound ungrateful.  Thank you very much for your hard work.

It is just I didn't think that the issue was closed, I mean, I thought you'll want to perform some more tests, maybe via @imthenachoman.

 Did I hurt your feelings or something?

[2021-03-19 19:45] PopGoesTheWza commented on #805
Just teasing.

Since this issue has been floating for quite a while, I will not rush to close it until some time to confirm it is fine now.

I am barely using clasp now and with TravisCI being broken, testing is minimal. In the last few days, I also bumped a few dependencies but without checking if it didn't break anything.

If all goes well I'll drop `-X` from next release (`-W`may still be usefu

[2021-03-19 19:55] nilp0inter commented on #805
You scared me, @PopGoesTheWza! 🤣🤣🤣

Just to be clear, I am a little bit concern about the fix.  As I said, I think the solution is brittle and will break for somebody else in the future.  You have all the right to ignore my opinion, but please, consider adding an environment variable to disable the check.

Again, thank you very much for all your effort ❤️ ✨✨🍰✨✨

[2021-03-19 20:10] PopGoesTheWza commented on #805
Removing all kind of is-online testing would go against the philosophy of original Google designers. Thus I will not rush taking such a route.

[2021-03-19 20:26] PopGoesTheWza commented on #742
Just to be sure the issue still exist, can you try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced?

[code]

[2021-03-19 20:28] PopGoesTheWza commented on #717
Try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced. This issue is fixed.

[code]

[2021-03-19 20:30] PopGoesTheWza commented on #257
Try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced. This should fix the issue.

[code]

[2021-03-19 20:31] #821 closed

[2021-03-19 20:43] PopGoesTheWza commented on #818
`@types/google-apps-script` is not covered here.

But your issue is likely fixed by adding the line below in your code:

[code]

And if there is an issue with `MimeType.PDF` not being typed as `string`, I would rather try to cast it (`MimeType.PDF as unknown as string`) before going the `.toString()` hazardous path.

[2021-03-19 20:47] PopGoesTheWza commented on #12
Try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced.

[code]

[2021-03-19 20:51] PopGoesTheWza commented on #736
Try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced.

[code]

[2021-03-19 20:56] PopGoesTheWza commented on #483
Try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced: https://github.com/PopGoesTheWza/clasp/blob/forked/docs/config-files.md

[code]

[2021-03-19 20:57] PopGoesTheWza commented on #42
Try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced. : https://github.com/PopGoesTheWza/clasp/blob/forked/docs/config-files.md

[code]

[2021-03-19 21:00] PopGoesTheWza commented on #810
This is more of a "nodejs over Windows" than a clasp issue IMHO.

[2021-03-19 21:05] PopGoesTheWza commented on #809
@connorhu can you please be more specific? I am unsure about both the issue and the fix here.

[2021-03-19 21:07] PopGoesTheWza commented on #735
Try replacing `@google/clasp` 2.3.0 with `forked-clasp` which is more advanced.

[code]

[2021-03-19 21:09] #825 closed

[2021-03-19 21:10] #818 closed

[2021-03-19 21:36] PopGoesTheWza commented on #806
Don't rely on `@google/clasp` for compiling your typescript into `.gs`

Take a look at this github template: https://github.com/PopGoesTheWza/ts-gas-project-starter

[2021-03-19 21:39] PopGoesTheWza commented on #804
Is this strictly a documentation issue? Can anyone volunteer for a PR?

[2021-03-19 21:41] PopGoesTheWza commented on #803
@imthenachoman is it still occurring? Does switching to `forked-clasp` helps?

[2021-03-19 21:41] imthenachoman commented on #803
Will check. Sorry, hectic day.

[2021-03-19 21:43] PopGoesTheWza commented on #798
Is this strictly a documentation issue? Can anyone volunteer for a PR?

[2021-03-19 21:45] PopGoesTheWza commented on #792
Is this strictly a documentation issue? Can anyone volunteer for a PR?

[2021-03-19 21:47] PopGoesTheWza commented on #786
@ddomonkos What is the status for this issue?

[2021-03-19 21:49] PopGoesTheWza commented on #771
@jayakrishnankg what is the status for this issue?

[2021-03-19 21:52] PopGoesTheWza commented on #765
@bjohas what is the status for this issue?

[2021-03-19 21:54] PopGoesTheWza commented on #764
This PR may be useful here: https://github.com/google/clasp/pull/820

[2021-03-19 21:55] PopGoesTheWza commented on #764
@juliahuang @contributorpw what is the status for this issue?

[2021-03-20 10:43] ddomonkos commented on #786
Sorry @PopGoesTheWza, we stopped using the library because we had to split it into separate build and upload steps.

Solely looking at the source code, I don't see any change in `pushFiles` function. Or maybe I'm just looking at the wrong place?

[2021-03-20 18:02] PopGoesTheWza commented on #786
@ddomonkos If you want to see the actual code, it is here: https://github.com/PopGoesTheWza/clasp/tree/forked

[2021-03-20 20:16] #810 closed

[2021-03-20 20:21] imthenachoman commented on #805
What was decided on the DNS? I don't see why `clasp` should/would use its own DNS. It should respect the network's DNS settings for various security related reasons.

I tested just `clasp` with `forked-clasp` on my home machine/network. I will check on work/corporate machine/network on Monday.

[2021-03-21 03:34] takanakahiko opened #829 "[Feature Request] Mode for fewer permission"
Currently, Clasp needs permissions to read Google Drive.
This is an excessive permission and should not be used in use cases with high security requirements, such as companies.

See also [defaultScopes of src/auth.ts](https://github.com/google/clasp/blob/4464f73465dd9697ae22fab81c42370ca98232c6/src/auth.ts#L76)

Therefore, we need a mode with reduced permissions for clasp.
Specifically, we think i

[2021-03-21 08:18] PopGoesTheWza commented on #805
@imthenachoman in a nutshell:

`@google/clasp` use the `is-online` package to check if online connection is available. This package tests against OpenDns (among other addresses) which may be blocked by a firewall rule (local or network.)

When blocked it can cause some unresolved promises/async operations, which translate into a clasp command taking a long time upon exit.

To address this situatio

[2021-03-21 08:30] PopGoesTheWza commented on #829
@takanakahiko any idea on how it should be implemented? Doesn't the `clasp login --creds <file>` (I never used it) somehow already address this feature request?

[2021-03-21 13:29] imthenachoman commented on #805
Why not just check it against the API endpoint used to update GAS code? Even if it can access google.com but can't access the API endpoints then it is no good. I could see a corporate FW block the API endpoint but not google.com.

[2021-03-21 13:49] PopGoesTheWza commented on #805
https://github.com/PopGoesTheWza/clasp/blob/4e6a832d7ee5954182cb2dfd3b91cea4106aad9e/src/utils.ts#L207-L213

[2021-03-21 14:16] imthenachoman commented on #805
I like this solution. I vote yes for what @PopGoesTheWza has done.

[2021-03-21 14:23] imthenachoman commented on #805
I just tested this on corporate network and it works now. Brilliant! Thank you!

[2021-03-23 10:03] Mosquid opened #830 "[help needed] Accessing customSettings from the code"
How do I pass a custom config (or .env) file to my clasp project? I found a couple of issues that seem relevant, but neither of them references how to access properties from my custom config in the code. If it's covered in your docs please point out where I can find it. Thank you

[2021-03-23 10:10] PopGoesTheWza commented on #830
This feature is currently available by replacing @google/clasp with forked-clasp

[2021-03-23 10:12] PopGoesTheWza commented on #830
On second thought, I am unsure what you are trying to achieve.

[2021-03-23 10:20] Mosquid commented on #830
Thank you, @PopGoesTheWza. Sorry for not being clear. I have multiple environments that use different API keys and endpoints. I want to be able to pass a param when deploying a project (or running locally) that will switch the environments, depending on the param value

[2021-03-23 10:25] PopGoesTheWza commented on #830
Then give forked-clasp a try. You can specify where/which config files by environment variables or clasp options.

[2021-03-23 10:27] #830 closed

[2021-03-24 23:07] nilp0inter commented on #805
@PopGoesTheWza , I've been using the patched version daily and I am getting the `Error: Looks like you are offline.` intermitently. Sometimes I cannot use the application for several minutes in a row which is pretty annoying.

I've been unable to identify a pattern so far.  Any ideas?

[2021-03-25 08:08] PopGoesTheWza commented on #805
@nilp0inter Do you think that a build which would display which tested URL is "unreachable" would help?

[2021-03-25 08:24] nilp0inter commented on #805
Yes, I think so.

[2021-03-25 08:46] PopGoesTheWza commented on #805
@nilp0inter try `forked-clasp` 2.11.1

[2021-03-25 09:35] nilp0inter commented on #805
I am getting this results with `forked-clasp` 2.11.1:

[code]

Looks like now everything is detected as down?  Nevertheless I am able to access all domains from the browser, and the old version of clasp works (with the DNS drop rule, of course)

[2021-03-25 10:24] PopGoesTheWza commented on #805
@nilp0inter I edited my copy of the code to also display successes and tested:

[code]

What can possibly cause issues on your side?

[2021-03-25 11:04] nilp0inter commented on #805
I have an slow Internet connection. I executed it now and get no error:

[code]

[2021-03-25 11:06] PopGoesTheWza commented on #805
@nilp0inter We could try with a longer timeout? https://github.com/sindresorhus/is-reachable#options

[2021-03-25 11:16] nilp0inter commented on #805
I don't know... the command without the Internet check, usually finish in less than 5 seconds.  Maybe 5 seconds?

[2021-03-25 11:27] PopGoesTheWza commented on #805
@nilp0inter try `forked-clasp` version 2.11.2. I set timeout to 10000 ms.

[2021-03-25 18:35] PopGoesTheWza commented on #805
@imthenachoman have you also experienced issues like the one @nilp0inter reported?

[2021-03-26 02:27] imthenachoman commented on #805
I have not. But let me check with others at my company.

[2021-03-26 08:56] mattPiratt commented on #225
I also am waiting to have a solution for CI

[2021-03-30 09:56] nilp0inter commented on #805
@PopGoesTheWza , sorry I've been very busy at work and I was unable to perform any testing.

I am now testing version `2.11.2` with increased timeout.  And I am getting this results:

[code]

As you can see, it is pretty erratic, it seems to work every few tries and when it fails the errors are different.  I am not sure this is related to timeouts anymore.  In case you are wondering I have no prox

[2021-03-31 12:11] dwl285 commented on #725
+1 to this request. I've managed to create a somewhat satisfactory workaround using a shell script:
[code]

(The grep piece may need changing to suit your own requirements)

[2021-04-14 18:25] Spencer-Easton commented on #624
If anyone is still having issues with this you need to remember to add the path to the file including the rootDir.
For example a build folder such as:
build-
         server-
                   - file1.js
                    -file2.js

Would need to add 'build/server/' to the file name.
{
  "scriptId":"123456789",
  "rootDir":"build",
  "filePushOrder": ["build/server/file2.js", "build/server/file

[2021-04-19 22:58] VAggrippino opened #832 "clasp clone ignores rootDir option if there is already a .clasp.json in a parent directory"
## Expected Behavior
`clasp clone aaaBBBzzz --rootDir .` clones a project and writes the `.clasp.json` in the specified directory.

## Actual Behavior
`clasp clone aaaBBBzzz --rootDir .` clones a project in the current directory, but updates the `.clasp.json` file in a higher level directory rather than writing one in the specified directory.

## Steps to Reproduce the Problem

1.`clasp clone <pro

[2021-05-05 17:17] sqrrrl commented on #791
@PopGoesTheWza @takanakahiko I'd like to get a new version of clasp published, but right now tests are failing. If we can get back to green, happy to push a new version to npm.

[2021-05-05 17:29] enuchi commented on #791
@sqrrrl can you or anyone else link to where tests are failing?

Would like to see new version of clasp published and happy to help if I can. I believe it's been a couple years since last version was released on npm.

[2021-05-05 17:37] sqrrrl commented on #791
https://travis-ci.org/github/google/clasp/jobs/769381016

14 tests are currently failing.

[2021-05-05 17:43] PopGoesTheWza commented on #791
@sqrrrl perhaps I should open a PR with code updated from my fork…

[2021-05-05 17:51] sqrrrl commented on #791
Sure, happy to get back in sync with that fork and get to a stable place.

[2021-05-05 18:20] PopGoesTheWza commented on #791
@sqrrrl @takanakahiko PR https://github.com/google/clasp/pull/834 is latest codebase. I have used it a bit locally but never bothered to fully run the tests.

[2021-05-05 19:20] enuchi commented on #791
Can we run the tests against the fork?

[2021-05-05 20:05] PopGoesTheWza commented on #791
Code in PR #834 is aligned with the latest `forked-clasp` npm package. Not sure if CI Travis can be restored, or if GitHub flows can be setup.

[2021-05-05 21:42] sqrrrl commented on #791
Thanks. Have to migrate off travis, likely will move to github actions. But want to get to a known good state before changing any of that.

Looks like the build failures were due to a change in dependencies. Moving from commander 5.x to 6.x broke a lot of the command parsing, but bumping it up to 7.x fixes most of the errors.

[2021-05-05 21:49] PopGoesTheWza commented on #791
@sqrrrl please note that PR #834 includes some features that were originaly rejected by @grant
Specifically CLI options & environment variables for user defined configuration files.

[2021-05-05 21:55] grant commented on #791
@PopGoesTheWza Note: I'm not sure of the exact rationale at that time for any specific feature proposals that I rejected. I would assume they can be re-evaluated at this time by @sqrrrl.

[2021-05-06 12:18] zoudino commented on #8
Hi, @grant , could you provide a quick step by step tutorial on how to set up the proxy and use the clasp? I have been trying hours on figuring out this issue even after reading this,long discussion.  The error I got is still showing "Error retrieving access token: FetchError: request to https://oauth2.googleapis.com/token failed, reason: connect ETIMEDOUT xxx:443"

[2021-05-07 10:54] pregoli commented on #225
Any update here?
Any recommendation to spin up a CI pipeline within Azure with following steps:

- Authenticate through ServiceAccount headless (clasp login)
- Pushing changes (clasp push)

Following [this](https://cloud.google.com/iam/docs/access-resources-azure) looks like an endless journey..

[2021-05-07 14:13] zoudino commented on #203
Hi Andie,

I am very new to the clasp and try to use proxy as well. However, I could not figure out the solution. When you were trying to add the env export http_proxy, were you editing on the clasp auth.ts like the following screenshot?
![image](https://user-images.githubusercontent.com/41334363/117462614-69774c00-af81-11eb-860b-fa14df8f84d6.png)
If not, could you direct me to a right direction?

[2021-05-08 04:57] ericanastas commented on #752
I'm having the same problem. I want to easily update an Apps Script deployed as a web app but with out changing the URL of the webapp.

Currently I have to first run `clasp deployments`, get the current deployment Id, and then run `clasp deploy -i {deployment_id}` .

I'd prefer if there was a way to do this in one command with out me having to copy/paste Ids out of the command line.

[2021-05-12 22:08] PopGoesTheWza commented on #717
Fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:08] #717 closed

[2021-05-12 22:08] PopGoesTheWza commented on #12
Fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:08] #12 closed

[2021-05-12 22:09] PopGoesTheWza commented on #736
Fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:09] #736 closed

[2021-05-12 22:09] PopGoesTheWza commented on #483
Fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:09] #483 closed

[2021-05-12 22:12] PopGoesTheWza commented on #42
This should be fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:13] PopGoesTheWza commented on #735
Fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:13] #735 closed

[2021-05-12 22:14] PopGoesTheWza commented on #812
Fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:14] #812 closed

[2021-05-12 22:15] PopGoesTheWza commented on #803
Should be fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:17] PopGoesTheWza commented on #765
Should be fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:19] PopGoesTheWza commented on #786
Should be fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:20] PopGoesTheWza commented on #805
Fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:20] #805 closed

[2021-05-12 22:25] PopGoesTheWza commented on #741
Fixed in https://github.com/google/clasp/releases/tag/v2.3.1

[2021-05-12 22:25] #741 closed

[2021-05-12 23:43] tombohub commented on #736
@PopGoesTheWza thank you for you hard work